.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--l-spacing);
  flex: 1;
  padding: 0 var(--l-spacing);
}

.errorDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoText {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-secondary);
  text-align: center;
  margin-top: var(--l-spacing);
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: var(--m-spacing);
  width: 100%;
  max-width: 500px;

  button {
    flex: 1;
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--xs-spacing);
  }
}

.status {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--s-spacing);
  text-align: center;
  color: var(--color-failure-11);
}

.statusIcon {
  border-radius: 50%;
  border: 2px solid var(--color-failure-11);
  padding: 4px;
  color: var(--color-failure-11);
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusText {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-failure-11);
}

.description {
  color: var(--text-secondary);
}
