@use '~@zero-tech/zui/styles/theme' as theme;
@import '../styles';
@import '../../glass';

.confirm-password-reset {
  margin: 76px 0 auto 0;

  @include base();

  &__heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 8px;
    margin: 70px 0 16px 0;
  }

  &__heading {
    @include heading();
  }

  &__sub-heading {
    @include sub-heading();
    @include glass-text-secondary-color;

    font-size: 14px;
  }

  &__form {
    @include form();
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  &__input {
    @include input();
  }

  &__input-alert {
    font-size: 14px;
    margin-top: 4px;
    padding: 4px 8px;
    line-height: 17px;
  }

  &__submit-button {
    margin-top: 16px;
    margin-bottom: 32px;
    height: 40px;
    padding: 16px;

    div {
      margin: 0;
    }
  }

  &__error-container {
    width: 100%;
  }

  &__error {
    padding: 4px 8px;
    font-size: 14px;
    line-height: 17px;
  }

  &__success-message {
    display: inline-flex;
    flex-direction: column;
    margin: 32px 0 0;
    text-align: center;
    color: theme.$color-success-11;
    gap: 4px;
    font-size: 14px;
    line-height: 17px;
  }
}
