.Replies {
  width: 100%;

  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.Reply {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--color-greyscale-7);
  border-top: none;
}
