@use '../../variables' as variables;

.Home {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: variables.$page-padding-vertical variables.$default-gap variables.$page-padding-vertical 0;

  pointer-events: all;

  @media (min-width: 2561px) {
    padding: variables.$page-padding-vertical 0;
  }
}
