@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../glass';

$header-height: 66px;
$recent-indicator-size: 8px;

.conversation-header {
  height: $header-height - (16px * 2);
  display: flex;
  gap: 8px;
  border-radius: 16px;
  padding: 16px;

  @include flat-thick;

  > div:last-child {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  &__avatar {
    pointer-events: none;
  }

  &__description {
    overflow: hidden;
  }

  &__user-tooltip {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: theme.$color-greyscale-12;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__subtitle {
    flex: 1 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-weight: 400;
    font-size: 10px;
    line-height: normal;
    font-family: 'Roboto Mono';

    @include glass-text-tertiary-color;
  }

  &__group-management-menu-container {
    display: flex;
  }
}
