@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../glass';

$header-height: 66px;
$recent-indicator-size: 8px;

.conversation-header {
  height: $header-height - (16px * 2);
  display: flex;
  gap: 8px;
  border-radius: 16px;
  padding: 16px;

  @include flat-thick;

  > div:last-child {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  &__avatar {
    @include glass-separator-primary;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;

      @include glass-materials-raised;
    }

    &::after {
      content: '';
      width: $recent-indicator-size;
      height: $recent-indicator-size;
      border: 2px solid theme.$color-primary-1;
      border-radius: 50%;
      position: absolute;
      top: 22px;
      left: 22px;
    }

    &--online::after {
      background-color: theme.$color-secondary-11;
    }

    &--offline::after {
      background-color: theme.$color-greyscale-9;
    }

    & > * {
      position: absolute;
      top: calc(50% - 8px);
      line-height: 0px;
      left: calc(50% - 8px);
    }
  }

  &__avatar-icon {
    &--isOneOnOne {
      color: theme.$color-secondary-11;
    }
  }

  &__description {
    overflow: hidden;
  }

  &__user-tooltip {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: theme.$color-greyscale-12;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__subtitle {
    flex: 1 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-weight: 400;
    font-size: 10px;
    line-height: normal;
    font-family: 'Roboto Mono';

    @include glass-text-tertiary-color;
  }

  &__group-management-menu-container {
    display: flex;
  }
}
