.world-panel-item {
  &__icon {
    border-radius: 9999px;
    padding: 6px;

    color: var(--color-greyscale-11);
  }

  &--active,
  &:hover {
    .world-panel-item__icon {
      color: var(--color-primary-12);
    }
  }

  &:hover {
    cursor: pointer;
  }

  &--active:hover {
    cursor: auto;
  }
}
