@use '~@zero-tech/zui/styles/theme' as theme;

@import '../../variables';
@import '../../animation';
@import '../../glass';

$link-preview-min-height: 250px;
$weight-bold: 900;

.link-preview {
  display: flex;
  gap: 8px;
  margin: 8px 8px 0px 8px;
  padding: 8px;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;

  @include glass-state-hover-color;

  &__default-image {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__banner {
    position: relative;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    flex-grow: 0;
    flex-shrink: 0;

    &-image {
      position: absolute;
      width: 40px !important;
      height: 40px !important;
      border-radius: 4px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__body {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
  }

  &__title {
    color: theme.$color-greyscale-12;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__url {
    color: theme.$color-greyscale-11;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__author-handle {
    margin-left: 8px;
  }
}
