@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../glass';

.downloads-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 500px;
  max-width: 100%;
  box-sizing: border-box;

  &__header-container {
    display: flex;
    width: 235px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
    margin: 0 16px 16px 16px;
  }

  &__section-header {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__section-icon {
    @include glass-text-secondary-color;
  }

  &__section-title {
    @include glass-text-secondary-color;
  }

  &__items-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__link {
    color: theme.$color-secondary-11;
    font-size: 14px;
  }
}
