@use '../../../variables' as variables;

$header-height: 42px;
$header-background: variables.$panel-background;
$header-color: var(--color-greyscale-11);

@mixin panel-look {
  backdrop-filter: variables.$default-background-blur;
  border-radius: variables.$border-radius;
  background-color: variables.$panel-background;
}

@mixin panel-base {
  @include panel-look;

  box-sizing: border-box;
  padding: variables.$default-padding;
}

@mixin panel-rounding {
  > *:first-child {
    border-radius: variables.$border-radius variables.$border-radius 0 0;
  }

  > *:last-child {
    border-radius: 0 0 variables.$border-radius variables.$border-radius;
  }
}

.Legacy {
  @include panel-base;
  @include panel-rounding;

  max-height: 100%;

  @include variables.panel-border;
}

.Panel {
  @include panel-rounding;
  @include variables.panel-border;

  display: flex;
  flex-direction: column;
  width: 100%;

  max-height: 100%;
}

.Body {
  @include panel-base;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: $header-height;
  min-height: $header-height;
  max-height: $header-height;
  width: 100%;
  padding: calc(variables.$default-padding / 2) variables.$default-padding;

  box-sizing: border-box;
  border-radius: variables.$border-radius;

  backdrop-filter: variables.$default-background-blur;

  @include variables.panel-border-bottom;

  font-size: 14px;

  background: $header-background;
}

.Title,
.Close {
  color: $header-color !important;
  user-select: none;
}

.Collapsed {
  @include panel-look;
  @include variables.panel-border;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  border-radius: variables.$border-radius;

  font-size: 14px;
  color: $header-color;

  writing-mode: vertical-lr;
  transform: rotate(180deg);

  text-align: end;
  width: 48px !important;
  padding: 16px 16px;
  height: 100%;

  min-width: unset !important;
  max-width: unset !important;

  user-select: none;

  box-sizing: border-box;

  cursor: pointer;
}
