@use '../../../variables' as variables;

$header-height: 42px;
$header-background: variables.$panel-background;
$header-color: var(--color-greyscale-11);

@mixin panel-base {
  box-sizing: border-box;
  backdrop-filter: variables.$default-background-blur;
  border-radius: variables.$border-radius;
  padding: variables.$default-padding;
  background-color: variables.$panel-background;
}

@mixin panel-rounding {
  > *:first-child {
    border-radius: variables.$border-radius variables.$border-radius 0 0;
  }

  > *:last-child {
    border-radius: 0 0 variables.$border-radius variables.$border-radius;
  }
}

.Legacy {
  @include panel-base;
  @include panel-rounding;

  max-height: 100%;
}

.Panel {
  @include panel-rounding;

  display: flex;
  flex-direction: column;
  width: 100%;

  max-height: 100%;
}

.Body {
  @include panel-base;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: $header-height;
  min-height: $header-height;
  max-height: $header-height;
  width: 100%;
  padding: calc(variables.$default-padding / 2) variables.$default-padding;

  box-sizing: border-box;
  border-radius: variables.$border-radius;
  border-bottom: 1px solid variables.$border-color;

  font-size: 14px;

  background: $header-background;
}

.Title {
  color: $header-color;
}
