@use '../../../variables' as variables;

.Panel {
  box-sizing: border-box;
  backdrop-filter: variables.$default-background-blur;
  border-radius: variables.$border-radius;
  padding: variables.$default-padding;
  // @todo CHANGE THIS TO CORRECT COLOR
  background-color: rgba(255, 255, 255, 0.05);
}
