@use '../../shared-components/theme-engine/theme' as theme;

.address-bar {
  border: 1px solid theme.$address-bar-border-color-outer;
  border-radius: 24px;
  padding: 3px;

  display: flex;
  align-items: center;

  &__inner {
    border: 1px solid theme.$address-bar-border-color-inner;
    border-radius: 24px;

    padding: 10px;

    flex: 1 1 auto;
  }
  
  &__protocol,
  &__route {
    color: theme.$font-color-tertiary;
  }

  &__navigation {
    padding: 0 5px;
  }

  &__navigation-button {
    color: theme.$accent-color-mid;
    background-color: theme.$accent-color-mid;

    background: none;
    border: none;
    display: inline-block;

    .icon-button__icon {
      width: 6px;
      height: 10px;
    }

    path {
      fill: theme.$accent-color-mid;
    }

    padding: 10px 5px;

    &.is-actionable {
      cursor: pointer;

      path {
        fill: theme.$accent-color;
      }
    }
  }

  &__route-segment:last-of-type {
    color: theme.$font-color-primary;
    text-shadow:
      0px 0px 6px theme.$drop-shadow-secondary-color,
      0px 0px 12px theme.$drop-shadow-primary-color,
      0px 0px 24px theme.$drop-shadow-primary-color;
  }

  &__route-app {
    color: #FFF;
    font-weight: 400;
    margin-left: 10px;
    padding: 2px 8px;
    background: rgba(177, 78, 255, 0.25);
    border-radius: 12px;
  }
}
