@use '../../shared-components/theme-engine/theme' as theme;
@use '../../modules/animation' as animation;
@use '~@zero-tech/zui/styles/theme' as theme-zui;
@import '../../variables';

@keyframes partial-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes partial-fadeout {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}

$width-navigation: 32px;
$height-address-bar: 40px;
$height-address-bar-inner: 19px;

.address-bar {
  height: $height-address-bar;
  background-color: theme-zui.$color-primary-1;
  border: 1px solid theme-zui.$color-primary-3;
  border-radius: 24px;
  padding: 3px;

  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;

  &__inner,
  &__inner-search {
    border: 1px solid theme-zui.$color-primary-4;
    border-radius: 20px;

    padding: 10px;

    color: theme.$font-color-primary;
    &:hover {
      background: theme-zui.$color-primary-2;
      border: 1px solid theme-zui.$color-primary-4;
    }
  }

  $padding-border-factor: 10 + 1 * 2px; // padding + border * 2 from __inner

  &__inner {
    height: $height-address-bar-inner;
    flex: 1 1 auto;

    display: flex;
    z-index: 2;
  }

  &__inner-search-container {
    position: relative;

    padding: 0;
    z-index: 2;

    height: $height-address-bar-inner + $padding-border-factor;
    width: 100%;
  }

  &__inner-search {
    position: absolute;

    padding: 0;
    top: -5px;

    min-height: $height-address-bar-inner + $padding-border-factor;
    width: 99.7%;

    background: theme-zui.$color-primary-2;
    border: 1px solid theme-zui.$color-primary-4;
  }

  &__protocol,
  &__route {
    color: theme.$font-color-tertiary;

    align-items: flex-start;
  }

  &__search-trigger-region {
    flex: 1 1 auto;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    align-content: stretch;
  }

  &__navigation {
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navigation-button {
    color: theme.$accent-color-mid;
    cursor: auto;

    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    transition: all var(--animation-time-medium) ease-in-out;

    &.is-actionable:hover {
      background-color: theme.$address-bar-border-color-outer;
    }

    .icon-button__icon.zui-chevron-left,
    .icon-button__icon.zui-chevron-right {
      width: 6px;
      height: 10px;
      transform: scale(1.5);

      path {
        fill: theme.$accent-color-mid;
      }
    }

    &.is-actionable {
      cursor: pointer;

      .icon-button__icon.zui-chevron-left,
      .icon-button__icon.zui-chevron-right {
        path {
          fill: theme.$accent-color;
        }
      }
    }
  }

  &__route-segment:last-of-type {
    color: theme.$font-color-primary;
    text-shadow: 0px 0px 6px theme.$drop-shadow-secondary-color, 0px 0px 12px theme.$drop-shadow-primary-color,
      0px 0px 24px theme.$drop-shadow-primary-color;
  }

  &__end {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__route-app {
    color: theme.$font-color-primary;
    font-weight: 400;
    padding: 2px 8px;
    background: rgba(177, 78, 255, 0.25);
    border-radius: 12px;
    height: 100%;
  }
}

.address-bar__underlay {
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);

  animation: partial-fadein animation.$animation-duration-half ease-out forwards normal;
}
