@use '../../shared-components/theme-engine/theme' as theme;

$width-navigation: 32px;
$width-inner: 672px;

.address-bar {
  background-color: theme.$background-color-primary;
  border: 1px solid theme.$address-bar-border-color-outer;
  border-radius: 24px;
  padding: 3px;

  display: flex;
  align-items: center;

  &__inner, &__inner-search {
    border: 1px solid theme.$address-bar-border-color-inner;
    border-radius: 20px;

    padding: 10px;

    flex: 1 1 auto;

    display: flex;

    min-width: $width-inner;
    color: rgba(108, 108, 108, 1);
  }
  
  &__protocol,
  &__route {
    color: theme.$font-color-tertiary;

    align-items: flex-start;
  }

  &__search-trigger-region {
    flex: 1 1 auto;
    cursor: pointer;
  }

  &__inner-search-container {
    position: relative;
    top: 0px;
    padding: 0;
    margin: 0;
    height: 40.4px;
    width: 600px;
  }

  &__inner-search {
    padding: 10px 0;
    verflow-y: scroll;
    background-color: theme.$background-color-primary;
    position: absolute;
    width: 100%;
  }

  &__navigation {
    min-width: $width-navigation;
    padding: 0 5px;
  }

  &__navigation-button {
    color: theme.$accent-color-mid;
    cursor: none;

    padding: 10px 5px;

    .icon-button__icon {
      width: 6px;
      height: 10px;

      path {
        fill: theme.$accent-color-mid;
      }
    }

    &.is-actionable {
      cursor: pointer;

      path {
        fill: theme.$accent-color;
      }
    }
  }

  &__route-segment:last-of-type {
    color: theme.$font-color-primary;
    text-shadow:
      0px 0px 6px theme.$drop-shadow-secondary-color,
      0px 0px 12px theme.$drop-shadow-primary-color,
      0px 0px 24px theme.$drop-shadow-primary-color;
  }

  &__route-app {
    color: #FFF;
    font-weight: 400;
    margin-left: 10px;
    padding: 2px 8px;
    background: rgba(177, 78, 255, 0.25);
    border-radius: 12px;
  }
}
