@use '~@zero-tech/zui/styles/theme' as theme;

@import '../../background';
@import '../../glass';

// XXX: Merge this with the invite page styles...there's some kind of root authentication page that needs to be created?

// Constants for login dimensions and spacing
$login-gap: 32px;
$login-width: 256px;
$login-padding-vertical: 24px;

// Mixin for flexbox layout
@mixin flex-center($gap-size) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap-size;
}

// Keyframes for animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// Root styles
body {
  transition: background 0.5s ease-out, opacity 0.5s ease-in-out;
}

// Main login component styles
.login-main {
  @include root-background;

  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;

  &__content {
    @include flex-center($login-gap);
    width: $login-width;
    padding: $login-padding-vertical 0;
    box-sizing: border-box;
    margin: 0 auto;
    height: 100%;
  }

  &__header {
    @include glass-text-primary-color;

    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: $login-gap;
  }

  &__logo-container {
    padding-left: 8px;
    margin-bottom: 76px;
    mix-blend-mode: screen;
  }

  &__inner-content-wrapper {
    &--is-logging-in {
      margin: auto 0;
    }
  }

  &__toggle-group {
    height: 40px;
    background: unset;
    width: $login-width;
    margin-bottom: $login-gap;
    border: 1px solid rgba(163, 162, 163, 0.1);
    border-radius: 9999px;

    [data-state='on'] {
      font-weight: 600;
      background: theme.$color-primary-transparency-2 !important;
    }
  }

  &__login-option {
    @include glass-shadow-and-blur;

    min-width: 128px;
    max-width: 256px;
    background: rgba(10, 10, 10, 0.75);
    border-radius: 8px;
  }

  &__other {
    @include flex-center(16px);
    margin-top: auto;

    > span {
      color: theme.$color-greyscale-11;
      font-size: 14px;
      line-height: 17px;

      > a {
        color: theme.$color-greyscale-12;
        text-decoration: underline;
        text-underline-offset: 2px;
      }
    }
  }
}
