@use '~@zero-tech/zui/styles/theme' as theme;

// XXX: Merge this with the invite page styles...there's some kind of root authentication page that needs to be created?

$login-gap: 32px;
$login-width: 280px;
$login-padding-top: 24px;
$login-padding-bottom: 24px;

@mixin flex($gap-size) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-main {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    radial-gradient(66.52% 66.52% at 0% 0%, #26072d 0%, rgba(38, 7, 45, 0) 100%),
    radial-gradient(93.63% 93.63% at 100% 0%, #9d0097 0%, rgba(157, 0, 151, 0) 100%),
    radial-gradient(91.27% 91.27% at 112.3% 83.55%, #52a9ff 0%, rgba(82, 169, 255, 0) 100%),
    radial-gradient(65.88% 65.88% at -1.79% 99.21%, #4f0895 0%, rgba(79, 8, 149, 0) 100%), #290634;

  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;

  &__content {
    @include flex($login-gap);

    width: $login-width;
    padding: $login-padding-top 0 $login-padding-bottom 0;
    box-sizing: border-box;
    margin: 0 auto;
    height: 100%;
  }

  &__header {
    color: theme.$color-greyscale-12;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 32px 0;
  }

  &__logo-container {
    padding-left: 8px;
    margin-bottom: 76px;
  }

  &__inner-content-wrapper {
    &--is-logging-in {
      margin: auto;
    }
  }

  &__toggle-group {
    height: 40px;
    background: theme.$color-primary-transparency-1;
    width: 280px;
    margin-bottom: 32px;

    > * {
      border-left: none !important;
    }

    [data-state='on'] {
      font-weight: 700;
      background: theme.$color-primary-transparency-2 !important;
    }
  }

  &__login-option {
    display: flex;
    justify-content: center;
  }

  &__other {
    margin: auto 0 0 0;

    @include flex(16px);

    > span {
      color: theme.$color-greyscale-11;
      font-size: 14px;
      line-height: 17px;

      > a {
        color: theme.$color-greyscale-12;
        text-decoration: underline;
        text-underline-offset: 2px;
      }
    }
  }
}
