.image-send {
  &__icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
  }
}

.invite-toast-notification {
  padding: 64px;
}
