@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../../../glass';

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  width: 100%;
}

.Title {
  font-size: 20px;
  font-weight: 600;
  color: theme.$color-secondary-11;
  text-align: center;
  margin-bottom: 4px;
}

.Subtitle {
  @include glass-text-secondary-color;
  font-size: 12px;
  text-align: center;
  margin-bottom: 8px;
  max-width: 320px;
}

.ProfileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.ZeroId {
  color: theme.$color-secondary-11;
  text-align: center;
  margin-bottom: 0;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ArrowIcon {
  color: theme.$color-secondary-11;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.DetailsBox {
  background: rgba(21, 23, 25, 0.85);
  border-radius: 16px;
  padding: 16px;
  width: 100%;
  max-width: 340px;
  box-sizing: border-box;
  border: 1px solid #23262a;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.InfoRow {
  @include glass-text-primary-color;

  display: flex;
  justify-content: space-between;
  font-size: 15px;
  position: relative;
}

.InfoRowLabel {
  @include glass-text-secondary-color;

  font-size: 12px;
}

.InfoRowValue {
  @include glass-text-primary-color;

  font-size: 12px;
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.InfoText {
  @include glass-text-secondary-color;

  font-size: 10px;
  text-align: center;
  margin: 16px 0 8px 0;
}

.ContinueButton {
  background: theme.$color-secondary-11;
  color: #151719;
  border: none;
  border-radius: 12px;
  padding: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  width: 100%;

  &:disabled {
    background: #23262a;
    color: theme.$color-greyscale-11;
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.Success {
  color: theme.$color-secondary-11;
  font-size: 12px;
  text-align: center;
  margin-bottom: 8px;
}

.Failure {
  color: theme.$color-failure-11;
  font-size: 12px;
  text-align: center;
  margin-bottom: 8px;
}

.InfoContainer {
  height: 16px;
  margin-top: 8px;
  max-width: 270px;
}

.SpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
