.messenger-feed {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 504px;

  margin: 0 8px;
  box-sizing: border-box;

  pointer-events: auto;
  background: var(--Transparencies-Black-translucent, #0000007a);
  backdrop-filter: blur(60px);
  border-inline: 1px solid rgba(52, 56, 60, 0.24);

  &__header {
    left: 0;
    pointer-events: all !important;
  }
}
