.messenger-feed {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  min-width: 600px;
  box-sizing: border-box;
  pointer-events: auto;
  position: relative;

  &__header-position {
    position: absolute;
    top: 0px;
    box-sizing: border-box;
    z-index: 3;
    width: 100%;
    max-width: 596px;
    border-inline: 1px solid rgba(52, 56, 60);
    border-bottom: 1px solid rgba(52, 56, 60);
    padding-right: 2px;

    &--message-loading {
      width: 100%;
      max-width: 600px;
    }
  }

  &__header {
    pointer-events: all !important;
    backdrop-filter: blur(64px);
    margin-right: 4px;
  }

  @media (min-width: 2561px) {
    max-width: 594px;
  }
}
