@use '@zero-tech/zui/styles/theme' as theme;

@mixin flex() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.web3-login {
  width: 240px;
  padding: 8px;

  @include flex();

  &__login {
    @include flex();
  }

  &__error {
    padding: 4px 8px;
    font-size: 14px;
    line-height: 17px;
  }
}
