@use '~@zero-tech/zui/styles/theme' as theme;

@mixin flex() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.web3-login {
  width: 280px;

  @include flex();

  &__login {
    @include flex();
  }

  &__connecting {
    @include flex();

    button {
      text-transform: unset;
      border: 1px solid theme.$color-greyscale-11;
    }
  }

  &__spinner {
    animation: spin 2s linear infinite;
  }

  &__select-wallet {
    margin-bottom: 8px;
  }
}
