@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../functions';
@import '../../animation';
@import '../../layout';

.rewards-faq-modal {
  padding: 40px;
  position: absolute;
  width: 608px;
  box-shadow: 12px 11px 54px #040304;

  &__title-bar {
    display: flex;
    height: 53px;
    border-bottom: 1px solid theme.$color-primary-4;
    margin-bottom: 40px;
    color: theme.$color-greyscale-12;

    > *:first-child {
      flex-grow: 1;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin: 0px;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;

    &:focus-visible {
      outline: none;
    }
  }
}
