@use '~@zero-tech/zui/styles/theme' as theme;

.settings-menu {
  > *:first-child {
    &:hover {
      background: none;
      cursor: default;
    }
  }

  .header {
    display: flex;
    align-items: center;
    gap: 16px;
    pointer-events: none;

    &__user-details {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    &__name {
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      color: theme.$color-greyscale-12;
    }

    &__handle {
      font-size: 10px;
      line-height: 12px;
      color: theme.$color-greyscale-11;

      span {
        color: theme.$color-greyscale-11;
      }
    }
  }

  .option {
    gap: 10px;
  }

  .zui-dropdown-item.divider {
    border-bottom: 1px solid rgba(163, 162, 163, 0.1);
    margin: 0;
    padding: 0;
  }

  .zui-dropdown-item.logout {
    color: theme.$color-failure-11;
  }

  &__secure-backup-modal {
    &:focus-visible {
      outline: none;
    }
  }
}
