@use '@zero-tech/zui/styles/theme' as theme;
@import '../../../../variables';

.messenger-panel {
  &__header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    color: theme.$color-greyscale-12;

    padding: 16px;
    width: 216px;
  }

  &__title {
    flex: 1 0 0;
    text-align: center;
    font-weight: 700;
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      background-color: theme.$color-greyscale-transparency-3;
    }
  }
}
