@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../functions';

.rewards-popup {
  position: absolute;
  z-index: 10;

  &__content {
    box-sizing: border-box;
    width: 390px;
    position: absolute;
    // TODO: currently positioned based on full zOS layout mode
    top: 50px;
    left: 50px;

    background-image: url(cloudAsset('rewards_background.svg')), linear-gradient(180deg, #8e4ec6 -44.1%, #141316 42.53%);
    background-repeat: no-repeat;

    // Elevation 1
    box-shadow: 4px 4px 10px #040304;
    border-radius: 8px;

    color: theme.$color-greyscale-11;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 32px;
  }

  &__heading {
    margin-top: 48px;
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &__rewards-usd {
    font-family: 'Roboto Mono';
    font-weight: 700;
    font-size: 48px;
    line-height: 63px;
    letter-spacing: 0.04em;

    color: theme.$color-greyscale-12;
  }

  &__rewards-zero {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 48px;
  }

  &__info-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__info-card__icon {
    width: 56px;
    height: 56px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: theme.$color-greyscale-transparency-4;
    border-radius: 8px;
    color: theme.$color-greyscale-12;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info-card__text {
    flex-grow: 1;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  &__button {
    margin-top: 52px;
    height: 54px; // Non-standard button sized
    width: 100%;
  }

  &__underlay {
    justify-content: center;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}
