@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../functions';
@import '../../animation';
@import '../../layout';

$content-padding-x: 32px;
$content-padding-y: 40px;

@mixin arrow($position) {
  $is-top: $position == 'top';
  $arrow-size: 16px;

  .rewards-popup__arrow {
    position: relative;
    height: 0;
    width: 100%;

    &::after {
      content: '';
      position: absolute;
      background: theme.$color-primary-2;

      $height: if($is-top, $arrow-size / 2, $arrow-size);
      $width: if($is-top, $arrow-size, $arrow-size / 2);
      height: $height;
      width: $width;
      top: if($is-top, -$content-padding-y - $height, -$content-padding-y + 16px);
      left: if($is-top, calc(100% - $width / 2), -$content-padding-x - $width);
      clip-path: if($is-top, polygon(0 100%, 50% 0, 100% 100%), polygon(100% 0, 0 50%, 100% 100%));
    }
  }
}

.rewards-popup {
  position: absolute;
  z-index: 10;

  @include arrow('top');

  &__content {
    box-sizing: border-box;
    width: 390px;
    position: absolute;
    top: 32px + 64px;
    right: 0px;
    animation: fadein 0.3s ease-out forwards;

    background-image: url(cloudAsset('rewards_background.svg')), url(cloudAsset('rewards_full_background.svg'));
    background-repeat: no-repeat;

    // Elevation 1
    box-shadow: 4px 4px 10px #040304;
    border-radius: 8px;

    color: theme.$color-greyscale-11;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $content-padding-y $content-padding-x;
  }

  &--full-screen {
    .rewards-popup__content {
      top: 2px;
      left: $width-sidekick + $width-world-navigation + 2px;
    }

    @include arrow('left');
  }

  &--full-screen.rewards-popup--with-title {
    .rewards-popup__content {
      top: 40px;
    }
  }

  &__close-button {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__heading {
    margin-top: 48px;
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &__rewards-usd {
    font-family: 'Roboto Mono';
    font-weight: 700;
    font-size: 48px;
    line-height: 63px;
    letter-spacing: 0.04em;

    color: theme.$color-greyscale-12;
  }

  &__rewards-zero {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 48px;
  }

  &__info-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__info-card__icon {
    width: 56px;
    height: 56px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: theme.$color-greyscale-transparency-4;
    border-radius: 8px;
    color: theme.$color-greyscale-12;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info-card__text {
    flex-grow: 1;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  &__button {
    margin-top: 22px;
    height: 54px; // Non-standard button sized
    width: 100%;
  }

  &__underlay {
    justify-content: center;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  &__rewards-faq-text {
    margin-top: 35px;
    color: #ffffff;

    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}
