@use '~@zero-tech/zui/styles/theme' as theme;
@use '../../shared-components/theme-engine/theme' as themeDeprecated;
@use '../../modules/animation' as animation;

@import '../../variables';
@import '../../platform-apps/channels/variables';
@import '../../animation';

.reply-card {
  position: relative;
  z-index: 10;
  margin-bottom: 8px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px 0 0;
  }
  &__icon-close {
    color: themeDeprecated.$font-color-primary-inverse;
    margin: 0 5px;
    cursor: pointer;
    font-size: 25px;
    &::before {
      content: '\00d7';
    }
    &:hover {
      color: themeDeprecated.$font-color-primary;
    }
  }

  &__message {
    overflow-y: scroll;
    padding: 5px;
    border-left: 2px solid theme.$color-primary-5;
    color: themeDeprecated.$font-color-primary;
    flex-grow: 1;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    max-height: 200px;
  }
}
