@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../glass';

.reply-card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0px 8px 0px 16px;
  border-radius: 4px;
  background: theme.$color-greyscale-transparency-2;
  color: theme.$color-greyscale-11;
  box-sizing: border-box;

  height: 56px;

  @include glass-state-active-stroke;

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    gap: 4px;
  }

  &__header {
    height: 15px;

    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: theme.$color-greyscale-12;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__message {
    height: 15px;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: theme.$color-greyscale-11;
  }

  &__media-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 48px;
    height: 48px;

    &--file {
      justify-content: center;
      align-items: center;
      width: 24px;
    }
  }

  &__media {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }

  &__audio-icon {
    color: theme.$color-greyscale-12;
  }

  &__file-icon {
    color: theme.$color-greyscale-12;
  }
}
