@use '@zero-tech/zui/styles/theme' as theme;

.audio__cards {
  display: inline-block;
  background-color: theme.$color-primary-2;
  border: 1px solid theme.$color-primary-4;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 15px;

  &-card {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: flex-start;

    &__preview {
      flex-grow: 1;
      max-width: 350px;
    }

    &__audio {
      outline: none;
    }

    &__actions {
      margin-right: 15px;

      &-delete {
        color: theme.$color-failure-11;
        border: 1px solid theme.$color-failure-11;
        border-radius: 50%;
        padding: 5px;
      }
    }
  }
}
