@use '~@zero-tech/zui/styles/theme' as theme;

.audio-card {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 8px;
  gap: 8px;

  &__actions {
    display: flex;
    justify-content: flex-end;

    &-delete {
      color: theme.$color-failure-11;
      border: 1px solid theme.$color-failure-11;
      border-radius: 50%;
    }
  }

  &__block-audio {
    audio {
      min-width: 300px;
      height: 40px;
      width: 100%;

      &::-webkit-media-controls-enclosure {
        background: transparent;
      }

      &::-webkit-media-controls-panel {
        background-color: #111213;
      }

      &::-webkit-media-controls-current-time-display,
      &::-webkit-media-controls-time-remaining-display {
        color: theme.$color-secondary-11;
        font-size: 12px;
        text-shadow: none;
      }

      &::-webkit-media-controls-play-button {
        background-color: theme.$color-secondary-11;
        border-radius: 8px;
        height: 18px;
      }

      &::-webkit-media-controls-timeline {
        background-color: theme.$color-secondary-11;
        border-radius: 8px;
        margin: 0 8px;
        padding: 8px;
      }

      &::-webkit-media-controls-mute-button,
      &::-webkit-media-controls-volume-slider,
      &::-webkit-media-controls-volume-control-container {
        display: none;
      }
    }
  }
}
