@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../variables';
@import '../../../../glass';

.user-header {
  display: flex;
  align-items: center;
  padding: 16px 16px 0;
  height: 32px;
  gap: 8px;

  &__user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
  }

  &__name {
    @include glass-text-primary-color;

    width: 100%;
    font-size: $font-size-small;
    font-weight: 600;
    line-height: 15px;
  }

  &__handle {
    @include glass-text-tertiary-color;

    display: flex;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;

    font-size: 10px;
    line-height: 13px;
  }

  &__link {
    color: theme.$color-secondary-11;
  }
}
