@use '~@zero-tech/zui/styles/theme' as theme;

.notification-item {
  &__wrapper {
    display: flex;
    padding: 16px 16px;
  }

  &__avatar {
    margin-right: 16px;
  }

  &__content {
    p {
      color: theme.$color-greyscale-12;

      margin: 0px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__timestamp {
    color: theme.$color-greyscale-11;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}
