@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../glass';

.linked-accounts-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 300px;
  max-width: 100%;
  box-sizing: border-box;

  &__header-container {
    display: flex;
    width: 235px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
    margin: 0 16px 16px 16px;
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__section-title {
    @include glass-text-secondary-color;
    height: 24px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    margin: 0;
  }

  &__no-accounts-message {
    color: theme.$color-secondary-9;
    font-style: italic;
  }

  &__section-icon {
    color: theme.$color-secondary-11;
  }

  &__status-dot {
    &.unlinked-dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #ff3131;
      flex-shrink: 0;
      display: block;
    }

    &.linked-dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: theme.$color-secondary-11;
      flex-shrink: 0;
      display: block;
    }
  }

  &__alert-small {
    display: flex;
    justify-content: center;
    padding: 4px 8px 4px 0px;
  }

  &__alert-info-text {
    font-size: 14px;
    line-height: 20px;
  }

  &__alert-text {
    font-size: 14px;
    line-height: 17px;
  }

  &__add-email-modal {
    padding-bottom: 0px;
  }

  &__add-email-body {
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: hidden;
    padding: calc(40px - 24px);
    box-sizing: border-box;
    max-height: calc(100vh - 54px);
    min-height: 250px;
    padding-bottom: 0px;
  }

  &__add-email-title-bar {
    display: flex;
    height: 43px;
    @include glass-text-primary-color;
    border-bottom: 1px solid $glass-separator-secondary-color;

    > *:first-child {
      flex-grow: 1;
    }

    > *:last-child {
      flex-grow: 0;
    }
  }

  &__add-email-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: 0px;
  }

  &__add-email-close {
    &:focus-visible {
      outline: none;
    }
  }
}
