@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../glass';

.account-management-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 500px;
  max-width: 100%;
  box-sizing: border-box;
  height: 100%;

  &__header-container {
    display: flex;
    width: 235px;
  }

  &__panel-content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    // Forcing a height here allows the flex-grow to fill the size without growing too big
    height: 1px;
  }

  &__content {
    margin: 16px 16px 0 16px;
  }

  &__wallets-header {
    @include glass-text-secondary-color;
    height: 24px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
  }

  &__thirdweb-wallets-container {
    margin-top: 50px;
    margin-bottom: 8px;
  }

  &__email-container {
    margin-top: 50px;
    margin-bottom: 8px;
  }

  &__email-header {
    @include glass-text-secondary-color;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    height: 24px;
  }

  &__wallet-select-modal {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  &__alert-small {
    display: flex;
    justify-content: center;
    padding: 4px 8px 4px 0px;
  }

  &__alert-info-text {
    font-size: 14px;
    line-height: 20px;
  }

  &__alert-info-text-warning {
    color: theme.$color-error-transparency-11;
  }

  &__alert-text {
    font-size: 14px;
    line-height: 17px;
  }

  &__add-wallet {
    margin: 8px 0;
  }

  &__link-new-wallet-modal {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__checkbox-label-wrapper {
    @include glass-input-inset-default;

    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 9px 8px 17px;
    position: relative;

    border: 1px solid transparent;
    border-radius: 8px;
    line-height: 24px;

    &:hover {
      cursor: pointer;
    }
  }

  &__checkbox {
    position: relative;
    background-color: rgba(163, 162, 163, 0.1);
    border: 1px solid rgba(163, 162, 163, 0.1);
    border-radius: 4px;
    width: 16px;
    height: 16px;

    appearance: none;

    &:checked {
      border: 1px solid theme.$color-secondary-11;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__checkbox-icon {
    position: absolute;
    top: 10px;
    left: 22px;
    color: theme.$color-secondary-11;
  }
}
