@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../glass';

.account-management-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 500px;
  max-width: 100%;
  box-sizing: border-box;

  &__header-container {
    display: flex;
    width: 235px;
  }

  &__panel-content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__content {
    margin: 16px 16px 0 16px;
  }

  &__wallets-header {
    @include glass-text-secondary-color;
    height: 24px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
  }

  &__thirdweb-wallets-container {
    margin-top: 50px;
    margin-bottom: 8px;
  }

  &__email-container {
    margin-top: 50px;
    margin-bottom: 8px;
  }

  &__email-header {
    @include glass-text-secondary-color;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    height: 24px;
  }

  &__wallet-select-modal {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  &__alert-small {
    display: flex;
    justify-content: center;
    padding: 4px 8px 4px 0px;
  }

  &__alert-info-text {
    font-size: 14px;
    line-height: 20px;
  }

  &__alert-text {
    font-size: 14px;
    line-height: 17px;
  }

  &__add-wallet {
    margin: 8px 0;
  }

  &__add-email-modal {
    padding-bottom: 0px;
  }

  &__link-new-wallet-modal {
    width: 420px;
  }

  &__add-email-body {
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: hidden;
    padding: calc(40px - 24px);
    box-sizing: border-box;
    max-height: calc(100vh - 54px);
    min-height: 250px;
    padding-bottom: 0px;
  }

  &__add-email-title-bar {
    display: flex;
    height: 43px;
    @include glass-text-primary-color;
    border-bottom: 1px solid $glass-separator-secondary-color;

    > *:first-child {
      flex-grow: 1;
    }

    > *:last-child {
      flex-grow: 0;
    }
  }

  &__add-email-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: 0px;
  }

  &__add-email-close {
    &:focus-visible {
      outline: none;
    }
  }
}
