.Actions {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 16px 0;
}

.Search {
  width: 100%;
  box-sizing: border-box;
}

.SearchWrapper {
  border-radius: 64px !important;
}

.EmptyState {
  color: var(--color-greyscale-11);
  text-align: center;
  font-size: 10px;
  padding-bottom: 12px;
}

.List {
  list-style: none;
  padding: 0 16px;
  margin: 0;
}

.LaunchButtonContainer {
  display: flex;
  justify-content: center;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  background: linear-gradient(to bottom, transparent, #121212 100%);
  border-radius: 0 0 16px 16px;
}

.LaunchButton {
  gap: 8px;
  margin-bottom: 16px;
  background: #181818;

  &:hover {
    background: #181818;
  }

  &:active {
    background: #141414;
  }
}

.LaunchButtonText {
  margin-left: 4px;
}
