@use '~@zero-tech/zui/styles/theme' as theme;

.rewards-bar {
  &__rewards-bar {
    background-color: theme.$color-primary-3;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 8px 0 16px;

    height: 64px;

    &--with-avatar {
      justify-content: space-between;
    }
  }

  &__rewards-button-container {
    padding: 8px;

    &:hover,
    &--open {
      border-radius: 64px;
      background-color: theme.$color-primary-4;
    }
  }

  &__rewards-button {
    all: unset;
    cursor: pointer;
    outline: inherit;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: theme.$color-primary-transparency-11;

    &--open {
      color: theme.$color-primary-11;
    }
  }

  &__rewards-icon {
    background-color: theme.$color-primary-4;
    height: 32px;
    width: 32px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: theme.$color-primary-12;

    &--open {
      background: var(
        --dark-gradient-primary-3,
        radial-gradient(79.83% 79.83% at -0% 0%, #b900e3 0%, rgba(111, 25, 131, 0) 100%),
        radial-gradient(121.07% 121.07% at 100% 0%, #de1cd7 0%, rgba(232, 0, 223, 0) 100%),
        radial-gradient(109.02% 109.02% at 104.51% 75.11%, #71b8ff 0%, rgba(116, 186, 255, 0) 100%),
        radial-gradient(83.71% 83.71% at -1.79% 99.21%, #7d12e7 0%, rgba(162, 68, 255, 0) 100%),
        #290634
      );
    }

    &__status {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  }
}
