@use '~@zero-tech/zui/styles/theme' as theme;

.rewards-bar {
  &__rewards-bar {
    background-color: theme.$color-primary-3;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;

    height: 64px;

    &--with-avatar {
      justify-content: space-between;
    }
  }

  &__settings {
    width: 256px;
    padding: 8px;
  }

  // &__settings-header {
  //   &:hover {
  //     cursor: default;
  //   }
  // }

  &__settings-user {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__settings-user-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__settings-user-name {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: theme.$color-greyscale-12;
  }

  &__settings-user-address {
    font-size: 10px;
    line-height: 1712pxpx;
    color: theme.$color-greyscale-11;
  }

  &__settings-option {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    line-height: 24px;
  }

  &__rewards-button {
    all: unset;
    cursor: pointer;
    outline: inherit;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 16px;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: theme.$color-primary-transparency-11;

    &:hover {
      font-weight: 700;
    }

    &--open {
      font-weight: 700;
      color: theme.$color-primary-11;

      .messenger-list__rewards-icon {
        background: radial-gradient(66.52% 66.52% at 0% 0%, #b900e3 0%, rgba(111, 25, 131, 0) 100%),
          radial-gradient(93.63% 93.63% at 100% 0%, #de1cd7 0%, rgba(232, 0, 223, 0) 100%),
          radial-gradient(99.71% 99.71% at 104.51% 75.11%, #71b8ff 0%, rgba(116, 186, 255, 0) 100%),
          radial-gradient(65.88% 65.88% at -1.79% 99.21%, #7d12e7 0%, rgba(162, 68, 255, 0) 100%), #290634;
      }
    }
  }

  &__rewards-icon {
    background-color: theme.$color-primary-4;
    height: 32px;
    width: 32px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: theme.$color-primary-12;

    &__status {
      position: absolute;
      top: 16px;
      right: 13px;
      border: 2px solid theme.$color-primary-1;
    }
  }
}
