.nftsView {
  overflow-y: auto;
  height: 100%;
  padding: var(--l-spacing);
  box-sizing: border-box;
}

.nftsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--l-spacing);
  max-width: 100%;
}

.nftSkeleton {
  height: 273px;
}

.emptyState {
  height: 100%;
}
