@import 'app/theme.scss';

@mixin autocomplete-item-gradient($from) {
  background: linear-gradient($from, transparent, $dialog-background-color);
}

.autocomplete-dropdown {
  position: relative;
  @include input-wrap-background;

  background: linear-gradient(to right, $background-color-primary-new, transparent);
}

.autocomplete-dropdown__results {
  position: relative;

  .autocomplete-dropdown__items {
    max-height: 245px;
    padding-bottom: 25px;
  }
}

.autocomplete-dropdown__gradient-mask {
  position: absolute;
  right: 0;
  left: 0;
  pointer-events: none;

  &.top {
    @include autocomplete-item-gradient(to top);

    top: 0;
    height: 30px;
    margin-left: -2px;
    margin-right: -2px;
    z-index: 1;
  }

  &.bottom {
    @include autocomplete-item-gradient(to bottom);

    bottom: 0;
    height: 40px;
  }
}

.autocomplete-dropdown__item-container {
  position: absolute;

  border: 2px solid $dialog-border-color;
  border-top: none;
  margin-top: 8px;
  padding: 10px 0;

  background-color: $dialog-background-color;

  z-index: $z-index-dropdown;
}

.autocomplete-dropdown__items {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.autocomplete-dropdown-item,
.autocomplete-dropdown-loading {
  @include item-font;
  color: $font-color-secondary;
  padding: 2px 5px 2px 15px;
}

.autocomplete-dropdown-item {
  cursor: pointer;

  &.is-focused,
  &:hover,
  *.active {
    color: $font-color-secondary-hover;
    background: $background-color-secondary-hover;
  }
}
.autocomplete-dropdown__no-results {
  padding: 2px 5px 2px 15px;
  font-size: $font-size;
}

.autocomplete-dropdown__input {
  width: 100%;
}

.autocomplete-dropdown__static-options {
  color: blue;
  > hr {
    border: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, rgba(79, 79, 79, 0.1) 0%, rgba(79, 79, 79, 0.6) 15%, rgba(79, 79, 79, 0.6) 85%, rgba(79, 79, 79, 0.1) 100%);
  }
}

.autocomplete-dropdown-loading {
  display: flex;

  &__image {
    height: 30px;
    width: 30px;
    margin-right: 10px;

    img {
      height:100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__text {
    height: 30px;
    line-height: 30px;
  }
}
