@mixin background-zero {
  // add image here on Cloudinary
  background: url('./../assets/images/background-update-zero.jpeg') no-repeat center center fixed;
  background-size: cover;
  background-color: #0a1412;
}
