$font-family: 'Inter Regular';

@font-face {
  font-family: 'Inter Regular';
  src: url(https://res.cloudinary.com/fact0ry-dev/raw/upload/v1633617472/zero-assets/fonts/inter/inter-regular.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
}

