$font-family: 'Inter Regular';

@font-face {
  font-family: 'Inter Regular';
  src: url(https://res.cloudinary.com/fact0ry/raw/upload/v1672127372/zero-assets/inter-regular.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
}
