@use '~@zero-tech/zui/styles/theme' as theme;
@import '../styles';

.select-method {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 76px;

  @include base();

  &__heading {
    @include heading();
  }

  &__toggle-group {
    display: flex;
    width: 280px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
  }
}
