@use '~@zero-tech/zui/styles/theme' as theme;
@import '../styles';

.select-method {
  @include base();

  &__heading {
    @include heading();
  }

  &__form {
    @include form();

    padding-top: 32px;
    gap: 32px;
  }

  &__other-options {
    text-align: center;
    padding-top: 64px;
  }
}
