@use '../../shared-components/theme-engine/theme' as theme;

.message-audio-recorder {
  animation: fadein 0.9s ease-out forwards;
  box-shadow: 2px 4px 5px 0 rgb(0 0 0 / 50%);
  display: inline-block;
  margin: 8px;
  padding: 8px;
  background-color: theme.$color-primary-2;
  border: 1px solid theme.$color-primary-4;
  border-radius: 8px;

  &__bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  &__blip {
    display: inline-block;
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin: 0 8px 0 0;
    background-color: theme.$color-failure-7;
    animation: recording-pulse 2s infinite;
  }

  &__recording {
    margin-left: 15px;
  }

  &__visualizer {
    max-width: 200px;
    border-radius: 100px;
    margin-right: 15px;
  }

  &__icons {
    margin-bottom: 5px;

    &-delete {
      color: theme.$color-failure-11;
      border: 1px solid theme.$color-failure-11;
      border-radius: 50%;
      padding: 5px;
    }

    &-check {
      background-color: theme.$color-secondary-11;
      color: theme.$color-black;
      border-radius: 50%;
      padding: 5px;

      &:hover {
        color: theme.$font-color-primary;
      }
    }
  }
}

@keyframes recording-pulse {
  15% {
    background-color: theme.$color-failure-7;
  }
  50% {
    background-color: transparent;
  }
  85% {
    background-color: theme.$color-failure-7;
  }
}
