@use '@zero-tech/zui/styles/theme' as theme;
@import '../../../glass';

.parent-message {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  line-height: 15px;

  @include glass-text-secondary-color;
  @include glass-state-active-stroke;

  &__content {
    padding-left: 16px;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
  }

  &__header {
    margin-bottom: 4px;
  }
}
