@use '~@zero-tech/zui/styles/theme' as theme;

.parent-message {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: theme.$color-greyscale-transparency-2;
  color: theme.$color-greyscale-11;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  line-height: 15px;

  &__content {
    padding-left: 8px;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
  }

  &__header {
    color: theme.$color-greyscale-12;
    font-weight: 700;
    margin-bottom: 4px;
  }
}
