@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../glass';
@import '../../../animation';

.parent-message-container {
  display: flex;
  padding: 8px 8px 0px 8px;
  cursor: pointer;

  &__parent-message {
    display: flex;
    padding: 8px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 4px;
    overflow: hidden;

    @include glass-state-hover-color;
    @include glass-text-secondary-color;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
  }

  &__header {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include glass-text-primary-color;
  }

  &__message {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include glass-text-tertiary-color;
  }

  &__media-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 40px;
    height: 40px;

    &--file {
      justify-content: center;
      align-items: center;
      width: 24px;
    }
  }

  &__media {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;

    animation: fadein 1s ease-in forwards;

    &--file {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__audio-icon {
    color: theme.$color-greyscale-12;
  }

  &__file-icon {
    color: theme.$color-greyscale-12;
  }

  &__image-placeholder {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    filter: blur(2px);

    background-color: rgb(54, 93, 87, 0.2);
    background: linear-gradient(90deg, rgba(54, 93, 87, 0.2) 25%, rgba(54, 93, 87, 0.4) 50%, rgba(54, 93, 87, 0.2) 75%);
    background-size: 500px 100%;

    animation: fadein 1s ease-in forwards;
    animation: loadingShimmer 2s infinite linear;
  }
}
