.bottomSheet {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  left: 8px;
  top: 80px;
  height: calc(100% - 80px - 8px);
  background: var(--bg-primary);
  border-radius: 16px 16px 0 0;
  box-shadow: 0px 0px 30px 0px rgba(1, 139, 115, 0.2);
  z-index: 20;
  animation: slideUp 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  width: calc(100% - 16px);
}

.slideDown {
  animation: slideDown 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--xl-spacing) var(--l-spacing);
  border-bottom: 1px solid var(--border-primary);
  position: relative;
  min-height: 60px;
}

.title {
  font-family: IBM Plex Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  color: var(--text-primary);
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.closeButton {
  position: absolute;
  right: var(--s-spacing);
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: var(--l-spacing);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  z-index: 10;
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0;
}

.fadeOut {
  opacity: 0;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
