@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../variables';
@import '../../glass';

.error-dialog {
  @include glass-text-primary-color;

  display: flex;
  flex-direction: column;
  align-self: stretch;
  position: relative;

  gap: 40px;
  width: 528px;
  margin: 16px;

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    &:focus-visible {
      outline: none;
    }
  }

  &__heading-container {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(163, 162, 163, 0.1);
  }

  &__header {
    align-self: flex-start;

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }

  &__body {
    line-height: 24px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    &--is-single-button {
      justify-content: flex-end;
    }
  }

  &__button {
    padding: 0 4px;
  }

  // link styles are copied from the current zui button component styles
  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    margin: 0;
    padding: 0 16px;
    border-width: 0;
    border-radius: 1000px;
    background: theme.$color-secondary-4;
    color: theme.$color-secondary-11;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      background: theme.$color-secondary-11;
      color: theme.$color-black;
    }

    &:active {
      background: theme.$color-secondary-10;
    }

    &:after {
      content: ' ';
      width: calc(100% - 4px);
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: inherit;
      border-left: 2px solid theme.$color-secondary-11;
      border-right: 2px solid theme.$color-secondary-11;
      transition: border-color 0.1s ease-in-out;
    }
  }
}
