@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../glass';

.autocomplete-members {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  & > * {
    padding-right: 16px;
    padding-left: 16px;
  }

  &__search-input {
    width: 100%;
  }

  &__content {
    margin-top: 16px;
    flex-grow: 1;
    overflow-y: auto;
  }

  &__search-results {
    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      padding: 8px;
      gap: 16px;
      height: 40px;
      margin: 4px 0px;

      border-radius: 8px;
      overflow: hidden;
      cursor: pointer;

      &:hover,
      &:focus {
        @include glass-state-hover-color;

        border-radius: 8px;
        outline: none;
      }
    }
  }

  &__user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    width: 100%;
    overflow: hidden;
  }

  &__label {
    @include glass-text-primary-color;

    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }

  &__sub-label {
    @include glass-text-tertiary-color;

    font-size: 10px;
    line-height: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.force-extra-specificity.autocomplete-members__search-wrapper {
  border-radius: 9999px;
}
