@use '~@zero-tech/zui/styles/theme' as theme;

.create-account-method {
  &--is-connecting {
    margin: auto;
  }

  &__heading {
    color: theme.$color-greyscale-12;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 32px 0;
  }

  &__toggle-group {
    height: 40px;
    background: theme.$color-primary-transparency-1;
    width: 280px;
    margin-bottom: 32px;

    > * {
      border-left: none !important;
    }

    [data-state='on'] {
      font-weight: 700;
      background: theme.$color-primary-transparency-2 !important;
    }
  }
}
