@use '@zero-tech/zui/styles/theme' as theme;

.create-account-method {
  width: 256px;
  margin-top: 52px;

  &--is-connecting {
    margin: auto;
  }

  &__heading {
    color: theme.$color-greyscale-12;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 32px 0;
  }

  &__toggle-group {
    height: 40px;
    background: unset;
    width: 256px;
    margin-bottom: 32px;
    border: 1px solid rgba(163, 162, 163, 0.1);
    border-radius: 9999px;

    > * {
      border-left: none !important;
      border-radius: 9999px !important;
    }

    [data-state='on'] {
      font-weight: 600;
      background: rgba(163, 162, 163, 0.1) !important;
    }
  }
}
