@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../variables';

.image-upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  max-width: 181px;

  .image-upload {
    width: 120px;
    height: 120px;
    border: 1px dashed theme.$color-greyscale-8;
    background: theme.$color-primary-transparency-1;
    border-radius: 9999px;
    color: theme.$color-greyscale-8;
    font-size: $font-size-small;
    text-align: center;
    overflow: hidden;

    &[data-variant='error'] {
      border: 1px dashed theme.$color-failure-8;
      background: theme.$color-failure-4;
    }

    &__dropzone {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: theme.$color-greyscale-12;
      cursor: pointer;
    }

    &__text-content {
      word-break: break-word;
      line-height: 18px;
    }

    &__image-container {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;

      height: 100%;
      width: 100%;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__edit-button {
      position: absolute;
      border: none;
      color: theme.$color-secondary-11;

      background-color: theme.$color-greyscale-4;

      &:hover {
        background-color: theme.$color-greyscale-7;
      }
    }

    &__error-message {
      color: theme.$color-failure-11;
      line-height: 18px;
      text-align: center;
      white-space: break-spaces;
      font-size: $font-size-small;
    }
  }
}
