@import '../styles';

.email-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  &__input {
    @include input();
  }

  &__input-alert {
    font-size: 14px;
    margin-top: 4px;
    padding: 4px 8px;
  }

  &__submit-button {
    width: 85px;
    margin-top: 32px;
  }

  &__error-container {
    width: 100%;
    padding-top: 16px;
  }

  &__error {
    padding: 4px 8px;
    font-size: 14px;
    line-height: 24px;
  }
}
