@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../animation';
@import '../../glass';

// Note: there are some classes in various other places (src/platform-apps/channels/styles.scss)

.chat-view {
  &__failure-message,
  &__error {
    margin-bottom: 96px;
    padding: 8px;
    padding-bottom: 32px;
    color: theme.$color-failure-11;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
  }

  &__try-reload {
    cursor: pointer;
  }

  &__message-input-container {
    margin-bottom: 16px;
    margin-right: 16px;
    border-radius: 16px;
    overflow: hidden;
    flex-shrink: 0;

    @include flat-thick;

    // todo: remove this after extracting out the message input from chat-view
    backdrop-filter: none;
  }

  &__group-message {
    max-width: 100%;

    --border-radius: 2px 8px 8px 2px;
  }

  &__group-message--first {
    --border-radius: 8px 8px 8px 2px;
  }

  &__group-message--last {
    margin-bottom: 16px;
    --border-radius: 2px 8px 8px 0px;
  }

  &__group-message--only {
    margin-bottom: 16px;
    --border-radius: 8px 8px 8px 0px;
  }
}

.messages__message-row--owner {
  .chat-view {
    &__group-message {
      --border-owner-radius: 8px 2px 2px 8px;
    }

    &__group-message--first {
      --border-owner-radius: 8px 8px 2px 8px;
    }

    &__group-message--last {
      --border-owner-radius: 8px 2px 0px 8px;
    }

    &__group-message--only {
      --border-owner-radius: 8px 8px 2px 8px;
    }
  }
}

.message__header,
.chat-view__scroll-skeleton {
  // This node can move when new content comes in so don't use it to pin the scroll position.
  overflow-anchor: none;
}

.chat-view__infinite-scroll-waypoint {
  overflow-anchor: none;
  position: relative;
  top: 700px;
}

.chat-skeleton {
  animation: fadein 1s ease-in forwards;
  width: 100%;
  overflow: hidden;

  &__date {
    clear: both;
    padding: 8px 0px;

    > div {
      box-sizing: border-box;
      width: 111px;
      height: 15px;
      margin: auto;
    }
  }

  &__message {
    box-sizing: border-box;
    padding: 2px 16px;
    max-width: 560px;
    clear: both;
    float: left;

    &--owner {
      float: right;
    }
  }
}

.messages__container {
  padding-right: 16px;
  padding-top: 100px;

  // Use transition because nested elements can't background blur
  // if a parent element has an animation attribute
  // Note: background blur does not work during the `transition`
  opacity: 0;
  transition: opacity 200ms ease-out;
  &--rendered {
    opacity: 1;
  }

  .message__header {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: normal;

    &-date {
      display: inline;
      text-align: center;
      border-radius: 16px;
      padding: 8px 24px;
      @include glass-text-primary-color;
      @include flat-thin;
      backdrop-filter: blur(32px);
    }
  }

  .messages__message-row {
    display: flex;
    margin: 4px 16px;

    &--owner {
      justify-content: flex-end;
    }

    &:hover {
      .message__menu {
        transform: translateX(0);
        transition: transform 0.1s ease-in-out, opacity 0s ease-in-out;
        opacity: 1;
      }
    }
  }
}

.channel-view__inverted-scroll {
  flex-grow: 99;
}
