@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../animation';

// Note: there are some classes in various other places (src/platform-apps/channels/styles.scss)

.chat-view {
  &__error {
    padding: 8px;
    padding-bottom: 32px;
    color: theme.$color-failure-11;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  &__message-input-container {
    margin-bottom: 16px;
    margin-right: 16px;
    margin-top: 16px;
    border-radius: 16px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: theme.$color-primary-1;
  }

  &__group-message {
    max-width: 100%;

    --border-radius: 2px 8px 8px 2px;
  }

  &__group-message--first {
    --border-radius: 8px 8px 8px 2px;
  }

  &__group-message--last {
    margin-bottom: 16px;
    --border-radius: 2px 8px 8px 0px;
  }

  &__group-message--only {
    margin-bottom: 16px;
    --border-radius: 8px 8px 8px 0px;
  }
}

.messages__message-row--owner {
  .chat-view {
    &__group-message {
      --border-owner-radius: 8px 2px 2px 8px;
    }

    &__group-message--first {
      --border-owner-radius: 8px 8px 2px 8px;
    }

    &__group-message--last {
      --border-owner-radius: 8px 2px 0px 8px;
    }

    &__group-message--only {
      --border-owner-radius: 8px 8px 2px 8px;
    }
  }
}

.message__header,
.chat-view__scroll-skeleton {
  // This node can move when new content comes in so don't use it to pin the scroll position.
  overflow-anchor: none;
}

.chat-view__infinite-scroll-waypoint {
  overflow-anchor: none;
  position: relative;
  top: 700px;
}

.chat-skeleton {
  animation: fadein 1s ease-in forwards;
  width: 100%;
  overflow: hidden;

  &__date {
    clear: both;
    padding: 8px 0px;

    > div {
      box-sizing: border-box;
      width: 111px;
      height: 15px;
      margin: auto;
    }
  }

  &__message {
    box-sizing: border-box;
    padding: 2px 16px;
    max-width: 560px;
    clear: both;
    float: left;

    &--owner {
      float: right;
    }
  }
}
