@use '~@zero-tech/zui/styles/theme' as theme;

.android-download {
  box-sizing: border-box;
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  &__content {
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    width: 100%;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 40px 24px;

    background-color: theme.$color-primary-2;
    color: theme.$color-greyscale-12;
  }

  &__header {
    font-size: 24px;
    font-weight: 700;
  }

  &__button-row {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-top: 24px;
  }

  // Link styling taken from Button component
  // We use a link because it's an external link so this is more semantic
  &__app-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 16px;
    border-width: 0;
    border-radius: 1000px;
    background: theme.$color-secondary-4;
    cursor: pointer;
    text-transform: capitalize;

    color: theme.$color-secondary-11;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;

    &:after {
      content: ' ';
      width: calc(100% - 4px);
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: inherit;
      border-left: 2px solid theme.$color-secondary-11;
      border-right: 2px solid theme.$color-secondary-11;
    }
  }
}
