@use '@zero-tech/zui/styles/theme' as theme;

@mixin base {
  color: theme.$color-greyscale-11;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: theme.$color-greyscale-12;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

@mixin heading {
  color: theme.$color-greyscale-12;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@mixin sub-heading {
  color: theme.$color-greyscale-11;
  text-align: center;
  margin-bottom: 24px;
}

@mixin form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 280px;
  margin: 0 auto;
}

@mixin input {
  gap: 4px;
  width: 100%;
}
