@use '~@zero-tech/zui/styles/theme' as theme;

@mixin base {
  color: theme.$color-greyscale-11;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: theme.$color-greyscale-12;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@mixin heading {
  color: theme.$color-greyscale-12;
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  margin-top: 80px;
  margin-bottom: 0px;
}

@mixin sub-heading {
  color: theme.$color-greyscale-10;
  text-align: center;
  margin-bottom: 32px;
}

@mixin form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  & > * {
    width: 280px;
  }

  // Button should be the last element of the form.
  // Once button component has the ability to select the large option this should
  // no longer be needed.
  > *:last-child {
    height: 40px;
  }
}
