.Link {
  text-decoration: underline;
  color: var(--color-secondary-11);
}

.Truncated {
  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }
}
