@use '~@zero-tech/zui/styles/theme' as theme;

.notification-empty-list {
  width: 210px;
  margin: auto;
  padding-bottom: 32px;
  color: theme.$color-greyscale-11;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  > *:first-child {
    color: theme.$color-primary-transparency-11;
    width: 50%;
    margin: auto;
  }

  &__title {
    color: theme.$color-greyscale-12;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 3px;
  }
}
