.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--l-spacing);
  padding: 0 var(--l-spacing);
}

.actions {
  margin-top: auto;
  margin-bottom: var(--l-spacing);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--l-spacing);
}

.errorDetails {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--s-spacing);
  text-align: center;

  &.error {
    color: #ff0000;
    .statusIcon {
      border: none;
    }
  }

  &.timeout {
    color: var(--text-secondary);
  }
}

.statusIcon {
  border-radius: 50%;
  border: 2px solid currentColor;
  stroke-width: 2px;
  padding: 4px;
  color: currentColor;
}

.statusText {
  font-size: 16px;
  font-weight: 500;
  color: currentColor;
}

.description {
  color: var(--text-secondary);
}
