@use '../../../../variables' as variables;
@use '../../../../shared-components/theme-engine/theme' as theme;

.Container {
  display: flex;
  position: relative;
  width: 270px;
  overflow: hidden;
  margin-top: variables.$default-gap;
}

.Body {
  width: 100%;
  padding: 16px;
}

.Title {
  color: #9199a1;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 3%;
  margin: 0 0 12px 0;
}

.BadgesContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.BadgeRow {
  display: flex;
  gap: 6px;
  align-items: center;
}

.Badge {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  svg {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }
}

.DefaultBadge {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  svg {
    width: 42px;
    height: 42px;
    object-fit: contain;
  }
}

.TooltipContent {
  padding: variables.$default-padding;
  max-width: 280px;
  text-align: left;
  border: 0.5px solid #8a8a8a4d;
  border-radius: 12px;

  background: #1e1e1eb8;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.TooltipHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.TooltipTitle {
  font-family: IBM Plex Sans;
  font-weight: 500;
  font-size: 14px;
  color: #e2e2e2;
  line-height: 19px;
  letter-spacing: 1.5%;
  flex: 1;
}

.TooltipDescription {
  font-family: IBM Plex Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1.5%;
  color: #ccc;
}

.TooltipEffect {
  font-size: 12px;
  color: #01f4cb;
  font-weight: 600;
  background: #01f4cb0f;
  border-radius: 3px;
  padding: 3px 6px;
  gap: 6px;
  flex-shrink: 0;
  margin-left: 16px;
  opacity: 1;
  transform: rotate(0deg);
}
