@use '../shared-components/theme-engine/theme' as theme;
@use '../modules/animation' as animation;
@import '../variables';

$speed: animation.$animation-duration;

.app-sandbox {
  position: absolute;
  height: 100vh;
  left: $width-navigation;
  right: 0;

  @include for-left-collapse() {
    left: $width-collapsed-navigation;
  }

  &__error {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;
    color: red;
  }
}

.app-layout {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .app-context-panel {
    flex: 1 0 auto;
    position: relative;
    width: $width-application-navigation;
    height: 100%;
    padding-top: 100px;
    box-sizing: border-box;
    border-right: 1px solid theme.$primary-border-color;
  }

  .app-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
}

.feed-app.app-layout {
  .app-content {
    display: flex;
    justify-content: center;
  }
}

.feed {
  overflow-x: hidden;

  &-item {
    border-color: theme.$address-bar-border-color-inner;
  }
}
