@use '../shared-components/theme-engine/theme' as theme;
@use '../modules/animation' as animation;
@import '../variables';

$speed: animation.$animation-duration;

.app-sandbox {
  position: absolute;
  height: 100vh;
  left: $width-navigation;
  right: 0;

  @include for-left-collapse() {
    left: $width-collapsed-navigation;
  }

  &__error {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;
    color: red;
  }
}

.app-context-panel {
  position: fixed;
  left: $width-navigation;

  @include for-left-collapse() {
    left: $width-collapsed-navigation;
  }
}

.feed {
  overflow: hidden;
  &__items {
    max-width: 100%;
  }

  &-item {
    border-color: theme.$address-bar-border-color-inner;
  }
}
