@use '../../shared-components/theme-engine/theme' as theme;

@import '../../variables';
@import '../../animation';

@keyframes fade-background-in {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: #c9fd51;
  }
}

@mixin tag-highlight() {
  mark,
  strong {
    animation: fade-background-in 200ms ease-in forwards;
    color: theme.$text-on-accent;
  }
  mark {
    padding: 3px;
    border-radius: 5px;
  }
}

.chat-window {
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 50px;
    pointer-events: none;

    .message-input__input-wrapper {
      position: relative;
      background: linear-gradient(90deg, #424446, rgba(66, 68, 70, 0));
      padding-left: 6px;
      font-size: 12px;
      animation: fadein 1.2s ease-out forwards;
      border-radius: 0;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #424446;
        opacity: 0;
        transition: opacity 0.3s ease-out;
        border-radius: 0;
      }

      &:focus-within::before {
        opacity: 1;
      }
    }

    .mentions-text-area {
      padding: 8px 0;
      font-size: 14px;

      .mentions-text-area__wrap__suggestions {
        top: unset !important;
        bottom: 100%;
      }

      TEXTAREA {
        color: #ffffff;
        word-break: break-word;
        font-size: 13.5px !important;
        height: 24px;
        font-weight: 500;
        border: none;
        outline: none;
      }
    }
  }

  &__new-message {
    flex-grow: 1;
    max-width: 675px;
    width: 100%;
    align-self: center;
    pointer-events: all;
  }

  &__creator {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__icons {
    padding: 4px 5px 4px 0;
    display: flex;
  }

  &__upload-drop {
    position: relative;
  }
}

.mentions-text-area__wrap {
  position: relative;
  overflow-y: visible;
  .mentions-text-area__wrap__highlighter {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    color: transparent;
    overflow: hidden;
    white-space: pre-wrap;
    background: transparent;
    overflow-wrap: break-word;
    border: 1px solid transparent;
    text-align: start;

    .mentions-text-area__wrap__highlighter__substring {
      visibility: hidden;
    }

    @include tag-highlight;
  }

  .mentions-text-area__wrap__input {
    display: block;
    width: 100%;
    position: absolute;
    margin: 0px;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    height: 100%;
    bottom: 0px;
    overflow: hidden;
    resize: none;
  }

  .mentions-text-area__wrap__suggestions {
    background: none !important;
    z-index: 1000 !important;
  }
  .mentions-text-area__wrap__suggestions__list {
    border: 2px solid #464646;
    background-color: theme.$background-color-primary-selected;
  }
  .mentions-text-area__wrap__suggestions__item {
    padding: 5px 10px;
  }
  .mentions-text-area__wrap__suggestions__item--focused {
    background-color: #141414;
  }
  .mentions-text-area__wrap__suggestions__item__display {
    color: #cccccc;
  }
  .mentions-text-area__wrap__suggestions__item__highlight {
    font-weight: bold;
    color: white;
  }
}
