@use '../../shared-components/theme-engine/theme' as theme;

@import '../../variables';
@import '../../platform-apps/channels/variables';
@import '../../animation';

@keyframes fade-background-in {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: #c9fd51;
  }
}

@mixin tag-highlight() {
  mark,
  strong {
    animation: fade-background-in 200ms ease-in forwards;
    color: theme.$text-on-accent;
  }
  mark {
    padding: 3px;
    border-radius: 5px;
  }
}

.chat-message {
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 50px;
    pointer-events: none;

    .message-input__input-wrapper {
      position: relative;
      background: linear-gradient(to right, theme.$background-color-primary, transparent);
      padding-left: 6px;
      font-size: 12px;
      animation: fadein 1.2s ease-out forwards;
      border-radius: $border-radius;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: theme.$input-background-primary-color-inverse;
        opacity: 0;
        transition: opacity 0.3s ease-out;
        border-radius: $border-radius;
      }

      &:focus-within::before {
        opacity: 1;
      }
    }

    .mentions-text-area {
      padding: 8px 0;
      font-size: 14px;

      &__wrap {
        &__suggestions {
          top: unset !important;
          bottom: 100%;
        }
      }

      TEXTAREA {
        color: theme.$font-color-primary;
        word-break: break-word;
        font-size: 13.5px !important;
        height: 24px;
        font-weight: 500;
        border: none;
        outline: none;
      }
    }
  }

  &__new-message {
    flex-grow: 1;
    max-width: 675px;
    width: 100%;
    align-self: center;
    pointer-events: all;
  }

  &__creator {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__icons {
    padding: 4px 5px 4px 0;
    display: flex;
  }

  &__upload-drop {
    position: relative;
  }
}

.mentions-text-area__wrap {
  position: relative;
  overflow-y: visible;
  &__highlighter {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    color: transparent;
    overflow: hidden;
    white-space: pre-wrap;
    background: transparent;
    overflow-wrap: break-word;
    border: 1px solid transparent;
    text-align: start;

    &__substring {
      visibility: hidden;
    }

    @include tag-highlight;
  }

  &__input {
    display: block;
    width: 100%;
    position: absolute;
    margin: 0px;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    height: 100%;
    bottom: 0px;
    overflow: hidden;
    resize: none;
  }

  &__suggestions {
    background: none !important;
    z-index: 1000 !important;
    &__list {
      border: 2px solid #464646;
      background-color: theme.$background-color-primary-selected;
    }
    &__item {
      padding: 5px 10px;
      &--focused {
        background-color: #141414;
      }
      &__display {
        color: #cccccc;
      }
      &__highlight {
        font-weight: bold;
        color: white;
      }
    }
  }
}
