@use '~@zero-tech/zui/styles/theme' as theme;
@use '../../shared-components/theme-engine/theme' as themeDeprecated;
@use '../../modules/animation' as animation;

@import '../../variables';
@import '../../platform-apps/channels/variables';
@import '../../animation';

@keyframes fade-background-in {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: #c9fd51;
  }
}

@mixin tag-highlight() {
  mark,
  strong {
    animation: fade-background-in 200ms ease-in forwards;
    color: themeDeprecated.$text-on-accent;
  }
  mark {
    padding: 3px;
    border-radius: 5px;
  }
}

.chat-message {
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    border-top: 1px solid theme.$color-greyscale-transparency-6;
    padding: 8px 16px;

    .message-input__input-wrapper {
      flex-grow: 99;
      position: relative;
    }

    .mentions-text-area {
      font-size: 14px;
      line-height: 17px;
      padding: 14px 8px 14px 16px;
      background-color: theme.$color-primary-1;
      border: 1px solid theme.$color-greyscale-6;
      border-radius: 8px;

      &:focus-within {
        border-color: theme.$color-primary-7;
      }

      &__wrap {
        &__suggestions {
          top: unset !important;
          bottom: 100%;
        }
      }

      TEXTAREA {
        color: theme.$color-greyscale-12;
        word-break: break-word;
        font-size: 13.5px !important;
        font-weight: 500;
        outline: none;
        border: none;
        line-height: 17px;
      }
    }
  }

  &__new-message {
    width: 100%;
    align-self: center;
    pointer-events: all;
    display: flex;
    gap: 16px;
  }

  &__creator {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__icons {
    padding: 4px 5px 4px 0;
    display: flex;
  }

  &__upload-drop {
    position: relative;
  }
}

.message {
  &__block-body {
    .message-input__input-wrapper {
      background: none;
      &::before {
        background: none;
      }
    }
  }
}

.mentions-text-area__wrap {
  position: relative;
  overflow-y: visible;
  &__highlighter {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    color: transparent;
    overflow: hidden;
    white-space: pre-wrap;
    background: transparent;
    overflow-wrap: break-word;
    border: 1px solid transparent;
    text-align: start;

    &__substring {
      visibility: hidden;
    }

    @include tag-highlight;
  }

  &__input {
    display: block;
    width: 100%;
    position: absolute;
    margin: 0px;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    height: 100%;
    bottom: 0px;
    overflow: hidden;
    resize: none;
  }

  &__suggestions {
    background: none !important;
    z-index: 1000 !important;
    animation: fadein animation.$animation-duration-double ease-in-out;
    &__list {
      border: 2px solid #464646;
      background-color: themeDeprecated.$background-color-primary-selected;
    }
    &__item {
      padding: 5px 10px;
      &--focused {
        background-color: #141414;
      }
      &__display {
        color: #cccccc;
      }
      &__highlight {
        font-weight: bold;
        color: white;
      }
    }
  }
}

.message-input {
  &__icons {
    display: flex;
    align-items: center;
    gap: 8px;

    &-action {
      position: absolute;
      right: 10px;
      bottom: 8px;
      z-index: 1;
      color: theme.$color-greyscale-11;
    }
  }

  &__giphy-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
  }

  &__record-voice-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
  }

  &__emoji-picker {
    position: absolute;
    right: 0px;
    bottom: 50px;
    z-index: 1;
  }
}

.giphy__container {
  width: 500px;
  position: absolute;
  bottom: 40px;
  right: 0px;
  background-color: themeDeprecated.$background-color-tertiary;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid themeDeprecated.$input-arrow-color;

  &-grid {
    height: 440px;
    overflow-y: overlay;
    margin-top: 5px;
    .loader {
      margin-top: 40px;
      opacity: 1 !important;
    }

    .giphy-gif {
      cursor: pointer;
    }
  }

  &-search {
    background-color: themeDeprecated.$input-background-primary-color !important;
    border: 1px solid themeDeprecated.$input-arrow-color !important;
    box-sizing: content-box;
    padding-left: 5px;
    border-radius: 5px !important;
    height: 30px !important;

    > div {
      height: 32px !important;
      width: 32px !important;
      border-radius: 5px !important;
      margin: -1px -1px 0 0 !important;
    }

    input {
      font-size: 14px !important;
      color: themeDeprecated.$font-color-primary !important;
      line-height: 1.15 !important;
      padding: 5px 25px 6px 10px !important;
      background: none;
    }
  }
}
.image-send__icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
}
