@use '~@zero-tech/zui/styles/theme' as theme;
@use '../../shared-components/theme-engine/theme' as themeDeprecated;
@use '../../modules/animation' as animation;

@import '../../variables';
@import '../../animation';
@import '../../platform-apps/channels/variables';

@keyframes fade-background-in {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: #c9fd51;
  }
}

@mixin tag-highlight() {
  mark,
  strong {
    animation: fade-background-in 200ms ease-in forwards;
    color: themeDeprecated.$text-on-accent;
  }
  mark {
    padding: 3px;
    border-radius: 5px;
  }
}

.message-input {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
  border-top: 1px solid theme.$color-greyscale-transparency-6;

  &__container {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    align-self: stretch;
  }

  &__icon-outer {
    padding-bottom: 8px;
  }

  &__icon-wrapper {
    display: flex;
    padding-bottom: 0px;
    align-items: flex-start;
    gap: 8px;
    height: 32px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    color: theme.$color-greyscale-12;

    &--send {
      color: theme.$color-secondary-11;
    }

    &--emoji {
      color: theme.$color-greyscale-11;
    }
  }

  &__emoji-icon-outer {
    display: flex;
    align-self: flex-end;
  }

  &__chat-container {
    display: flex;
    padding: 8px 8px 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    flex: 1 0 0;

    background-color: theme.$color-primary-1;
    border: 1px solid theme.$color-greyscale-6;
    border-radius: 8px;

    &:focus-within {
      border-color: theme.$color-primary-7;
    }
  }

  &__text-and-emoji-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
  }

  &__mentions-text-area {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;

    &__wrap {
      &__suggestions {
        top: unset !important;
        bottom: 100%;
      }
    }
  }

  &__mentions-text-area-wrap {
    position: relative;
    overflow-y: visible;

    &__highlighter {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      color: transparent;
      overflow: hidden;
      white-space: pre-wrap;
      background: transparent;
      overflow-wrap: break-word;
      border: 1px solid transparent;
      text-align: start;

      &__substring {
        visibility: hidden;
      }

      @include tag-highlight;
    }

    textarea {
      display: flex;
      flex-direction: column;
      flex: 1 0 0;
      color: theme.$color-greyscale-12;
      font-size: 14px !important;
      line-height: 24px !important;
      word-break: break-word;
      font-size: 14px;
      outline: none;
      border: none;
    }

    &__input {
      display: block;
      width: 100%;
      position: absolute;
      margin: 0px;
      top: 0px;
      left: 0px;
      box-sizing: border-box;
      background-color: transparent;
      font-family: inherit;
      font-size: inherit;
      letter-spacing: inherit;
      height: 100%;
      bottom: 0px;
      overflow: hidden;
      resize: none;
    }

    &__suggestions {
      background: none !important;
      z-index: 1000 !important;
      animation: fadein animation.$animation-duration-double ease-in-out;
      &__list {
        border: 2px solid #464646;
        background-color: themeDeprecated.$background-color-primary-selected;
      }
      &__item {
        padding: 5px 10px;
        &--focused {
          background-color: #141414;
        }
        &__display {
          color: #cccccc;
        }
        &__highlight {
          font-weight: bold;
          color: white;
        }
      }
    }
  }

  &__emoji-picker-container {
    position: absolute;
    right: 65px;
    bottom: 65px;
    z-index: 12;
    color: theme.$color-greyscale-11;
  }
}
