@use '~@zero-tech/zui/styles/theme' as theme;

@import '../../glass';

.message-input {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;

  &--editing {
    padding: 0;
    margin-right: none;
  }

  &__container {
    width: 100%;
  }

  &__addon-row {
    margin-bottom: 16px;

    &:empty {
      display: none;
    }
  }

  &__input-row {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    width: 100%;
  }

  &__icon-outer {
    padding-bottom: 8px;
  }

  &__emoji-icon-outer {
    display: flex;
    align-self: flex-end;
    position: sticky;
    bottom: 0;
    margin-right: 3px;
  }

  &__icon-wrapper {
    display: flex;
    padding-bottom: 0px;
    align-items: flex-start;
    height: 32px;
  }

  &__icon {
    color: theme.$color-greyscale-12;

    &--emoji {
      color: theme.$color-greyscale-11;
    }
  }

  &__chat-container {
    display: flex;
    padding: 8px 0px 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    width: 100%;
    border-radius: 8px;

    @include glass-input-inset-default;

    &:focus-within {
      border-color: theme.$color-primary-7;
      @include glass-input-inset-active;
    }
  }

  &__scroll-container {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: scroll;
    width: 100%;
  }

  &__text-and-emoji-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }

  &__drop-zone-text-area {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
  }

  &__emoji-picker-container {
    position: absolute;
    right: 65px;
    bottom: 75px;
    z-index: 12;
    color: theme.$color-greyscale-11;
  }

  &__disabled-tooltip {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: theme.$color-warning-11;
  }
}
