@use '~@zero-tech/zui/styles/theme' as theme;

.edit-message-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    color: theme.$color-greyscale-12;
  }
}
