@use '~@zero-tech/zui/styles/theme' as theme;

.edit-message-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    color: theme.$color-greyscale-12;
  }
}

.zui-tooltip__content {
  padding: 10px 8px;
  border-radius: 8px;
  font-size: 14px !important;
}

.zui-tooltip__arrow {
  width: 16px;
  height: 8px;
}
