.BottomSheet {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 425px;
  background: #000;
  border-radius: 16px 16px 8px 8px;
  box-shadow: 0px 0px 30px 0px rgba(1, 139, 115, 0.2);
  z-index: 20;
  animation: slideUp 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  width: 100%;
}

.slideDown {
  animation: slideDown 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.CloseButton {
  position: absolute;
  top: 8px;
  right: 8px;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 8px;
}

.fadeOut {
  opacity: 0;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
