@use '../../../variables' as variables;

.Wrapper {
  height: 36px;
  width: 36px;
  margin-left: 4px;
}

.Container {
  * {
    cursor: pointer !important;
  }

  position: absolute;
  bottom: 24px;
  left: 10px;

  display: flex;

  transition: width 0.15s ease-in-out;

  gap: 8px;
  width: 36px;
  box-sizing: border-box;

  &:hover {
    width: 260px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -4px;
      width: 100%;
      height: 100%;
      padding: 4px;
      transform: translateY(-50%);
      background: variables.$panel-background;
      z-index: -1;
      border-radius: 18px;
      border: 1px solid variables.$border-color;

      cursor: pointer;

      backdrop-filter: blur(30px);
    }
  }

  &.ShowNotification {
    width: 260px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -4px;
      width: 100%;
      height: 100%;
      padding: 4px;
      transform: translateY(-50%);
      background: variables.$panel-background;
      z-index: -1;
      border-radius: 18px;
      border: 1px solid variables.$border-color;

      cursor: pointer;

      backdrop-filter: blur(30px);
    }
  }
}

.Drawer {
  position: relative;
  width: 180px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  width: 100%;

  overflow: hidden;

  .Details {
    position: absolute;

    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 100%;
  }

  :global(.tooltip-popup) {
    position: absolute !important;
    opacity: 0.5 !important;
  }

  :global(.tooltip-popup__content) {
    background-color: red;
  }
}
