@use '../../../variables' as variables;

.Container {
  * {
    cursor: pointer !important;
  }

  position: absolute;
  bottom: 24px;
  left: 8px;

  display: flex;

  transition: width 0.15s ease-in-out;

  gap: 8px;
  width: 36px;
  box-sizing: border-box;

  &:hover {
    width: 250px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -4px;
      width: 100%;
      height: 100%;
      padding: 4px;
      transform: translateY(-50%);
      background: variables.$panel-background;
      z-index: -1;
      border-radius: 18px;
      border: 1px solid variables.$border-color;

      cursor: pointer;

      backdrop-filter: blur(30px);
    }
  }
}

.Drawer {
  position: relative;
  width: 180px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  width: 100%;

  overflow: hidden;

  .Details {
    position: absolute;

    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 100%;
  }

  .Name {
    font-size: variables.$font-size-small;
    font-weight: 600;
    line-height: 15px;

    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .Handle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    max-width: 100%;

    font-size: 10px;
    line-height: 13px;

    color: rgba(238, 236, 255, 0.42);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :global(.tooltip-popup) {
    position: absolute !important;
    opacity: 0.5 !important;
  }

  :global(.tooltip-popup__content) {
    background-color: red;
  }
}

.Verify {
  height: fit-content;
  padding: 0;

  * {
    margin: 0;
  }

  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
}
