@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../glass';

.wallet-list-item {
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  outline: none;

  &:hover {
    @include glass-state-hover-color;
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 100%;
    overflow: hidden;
  }

  &__text-container {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__wallet {
    font-size: 14px;
    line-height: 20px;
    flex-grow: 1;

    @include glass-text-primary-color;
  }

  &__tag {
    @include glass-text-secondary-color;

    padding-left: 40px;
    align-self: flex-start;
  }

  &__remove {
    display: none;
  }

  &:hover &__remove {
    cursor: pointer;
    display: block;
  }
}
