@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../glass';

.reaction-menu-trigger {
  z-index: 1003;
  outline: none;
}

.emoji-picker {
  position: absolute;
  bottom: 75px;
  left: 390px;
  z-index: 2000;
  color: var(--color-greyscale-11);
}

.emoji-picker--owner {
  right: 65px;
  left: auto;
}
