@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../glass';

.citizen-list-item {
  box-sizing: border-box;
  height: 48px;
  padding: 8px;
  gap: 16px;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 8px;

  &:hover {
    @include glass-state-hover-color;
  }

  &__name {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    flex-grow: 1;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @include glass-text-primary-color;
  }

  &__primary-zid {
    font-size: 10px;
    font-weight: 400;
    display: flex;

    @include glass-text-tertiary-color;
  }

  &__remove {
    display: none;
  }

  &:hover &__remove {
    display: block;
  }

  &__tag {
    @include glass-text-secondary-color;

    font-size: 12px;
    line-height: 15px;
  }
}
