@use '~@zero-tech/zui/styles/theme' as theme;

.citizen-list-item {
  box-sizing: border-box;
  height: 48px;
  padding: 8px;
  gap: 16px;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 8px;

  &:hover {
    background-color: theme.$color-primary-3;
  }

  &__name {
    color: theme.$color-white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    flex-grow: 1;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__remove {
    visibility: hidden;
  }

  &:hover &__remove {
    visibility: visible;
  }
}
