.Container {
  display: grid;
  place-items: center;
  min-height: 600px;
  padding: 16px;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--l-spacing);
}

.Title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-primary);
}

.Subtitle {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-secondary);
}
