@use '@zero-tech/zui/styles/theme' as theme;
@import '../../variables';
@import '../../glass';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.invite-dialog {
  display: flex;
  padding-bottom: 16px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  position: relative;

  width: 256px;

  &__close {
    position: absolute;
    right: -8px;
    top: -8px;
    z-index: 2;

    &:focus-visible {
      outline: none;
    }
  }

  &__image {
    width: 248px;
    height: 188px;
  }

  &__heading {
    @include glass-text-primary-color;

    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    width: 171px;
  }

  &__remaining-invite-container {
    @include glass-text-secondary-color;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-medium;
    line-height: 17px;
    gap: 4px;
    height: 20px;

    margin-top: 16px;
    animation: fadeIn 0.2s ease-in;
  }

  &__remaining-invite {
    font-weight: 600;
    line-height: 20px;
  }
}
