.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--l-spacing);
  flex: 1;
  padding: 0 var(--l-spacing);
}

.confirmRecipient {
  text-align: center;
  padding: var(--l-spacing);
}

.confirmRecipientTitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: var(--s-spacing);
}

.recipientName {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0%;
  margin-bottom: var(--xs-spacing);
}

.recipientAddress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1.5%;
  color: var(--text-secondary);
}

.transferDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--l-spacing);
  border-radius: 12px;
  width: 100%;
  padding: 24px 0;
  border: 1px solid var(--border-primary);
}

.tokenInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s-spacing);
  overflow: hidden;
  padding: 0 var(--s-spacing);
  flex: 1;
  min-width: 0;
}

.smallTokenIcon {
  width: 40px;
  height: 40px;
  font-size: 16px;
}

.tokenName {
  font-size: 18px;
  color: var(--text-primary);
  font-weight: 600;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.tokenAmount {
  font-size: 12px;
  color: var(--text-primary);
  font-weight: 600;
}

.chainName {
  font-size: 14px;
  color: var(--text-secondary);
}

.walletAddress {
  font-size: 12px;
  color: var(--text-tertiary);
}

.tokenInfoSeparator {
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--icon-active);
}

.networkInfo {
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing);
  padding: var(--m-spacing);
  background-color: var(--bg-accent-dark-blue);
  border-radius: 12px;
}

.networkItem {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1.5%;
}

.networkItem span:first-child {
  color: var(--text-secondary);
}

.networkItem span:last-child {
  font-weight: 500;
  color: var(--text-primary);
}

.confirmButton {
  padding: var(--l-spacing);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmButtonText {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1.5%;
  color: var(--text-secondary);
  margin-bottom: var(--xs-spacing);
}

.confirmButtonWrapper {
  margin-top: 16px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.errorText {
  color: var(--color-failure-11);
  font-size: 14px;
  text-align: center;
}
