@use '../../../../variables' as variables;

.Container {
  display: flex;
  position: relative;
  width: 270px;
  overflow: hidden;
}

.Header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 270px;
  pointer-events: none;

  span {
    width: 90px !important;
    height: 90px !important;
    margin-bottom: 16px !important;
    pointer-events: none !important;
  }
}

.Body {
  height: 100%;
}

.Mask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  z-index: -1;
}

.Name {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 2px;
  border: 1px solid variables.$border-color;
  border-radius: variables.$border-radius;

  h1,
  h2 {
    margin: 0;
    padding: 0;
    max-width: 100%;
    color: #01f4cb;
    text-align: center;
  }

  h1 {
    font-size: 18px;
    overflow-wrap: break-word;
  }

  h2 {
    font-size: 14px;
    font-weight: normal;
    overflow-wrap: anywhere;
  }
}
