.wallet-select {
  width: 100%;
  background-color: white;
}

.wallet-select__wallet {
  padding: 10px 0 10px 25px;
  border-bottom: 1px solid #CCCCCC;
  cursor: pointer;
}

.wallet-select__wallet:hover {
  background-color: rgba(0,0,0,0.15);
}

.wallet-select__wallet:last-child {
  border-bottom: none;
}
