.walletTabs {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
  padding: 0 var(--l-spacing);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--border-primary);
  }
}

.tab {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 2px;
  font-family: IBM Plex Sans;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--text-secondary);
  transition: color 0.3s ease-in-out;

  &.active {
    color: var(--text-primary);
  }
}

.bar {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: var(--zero-green);
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}
