@use '~@zero-tech/zui/styles/theme' as theme;
@import '../styles';

.create-email-account {
  margin: 0 0 auto;

  width: 280px;

  @include base();

  &__heading {
    @include heading();
  }

  &__form {
    @include form();
  }

  &__input {
    gap: 4px;
    width: 100%;
  }

  &__error-list {
    padding-left: 40px;

    li:first-child {
      margin-left: -30px;
      list-style-type: none;
    }
  }
}
