@use '~@zero-tech/zui/styles/theme' as theme;
@import '../styles';

.create-email-account {
  margin: 0 0 auto;

  @include base();

  &__form {
    @include form();
  }

  &__input {
    @include input();
  }

  &__error-list {
    padding-left: 40px;

    li:first-child {
      margin-left: -30px;
      list-style-type: none;
    }
  }
}
