@use '@zero-tech/zui/styles/theme' as theme;
@import '../styles';

.create-email-account {
  margin: 0 0 auto;

  @include base();

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  &__input {
    @include input();
  }

  &__input-alert {
    font-size: 12px;
    margin-top: 4px;
    padding: 4px 8px;
    line-height: 17px;
  }

  &__submit-button {
    margin-top: 16px;
    margin-bottom: 32px;

    width: 85px;
  }

  &__error-container {
    width: 100%;
  }

  &__error {
    padding: 4px 8px;
    font-size: 12px;
    line-height: 17px;
  }
}
