@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../variables';
@import '../../../../glass';

.view-members-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 270px;

  &__body {
    margin: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__members {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__member-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
  }

  &__member-total {
    @include glass-text-secondary-color;

    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
  }

  &__member-list {
    padding-top: 8px;
    flex-grow: 1;
  }
}
