@use '../../../../variables' as variables;

.Feed {
  width: 100%;
  max-width: 600px;
  flex-shrink: 1;

  pointer-events: all;
}

.Panel {
  padding: 0;

  ol {
    display: flex;
    flex-direction: column;

    list-style: none;
    padding: 0;
    margin: 0;

    li {
      &:not(:last-child) {
        border-bottom: 1px solid var(--color-greyscale-3);
      }

      .Post {
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
  }
}

.Input {
  margin-top: 0;
  padding: 16px;
  border-bottom: 1px solid var(--color-greyscale-3);
}

.FeedContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 1;
  gap: variables.$default-gap;
  padding: 24px variables.$default-gap;
}
