.Feed {
  flex: 1;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  ol {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border: 1px solid rgb(52, 56, 60);
      border-top: none;
    }
  }
}
