.attachment-card {
  display: inline-flex;
  align-items: flex-start;
  padding: 10px 10px 10px 15px;

  &__name {
    font-weight: bold;
  }

  &__info {
    background: none;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__file {
    display: flex;
  }

  &.downloadable {
    cursor: pointer;
  }

  &.downloadable:hover {
    .attachment-card__info {
      background: none;
      border: none;
    }
  }

  &__icon {
    padding-right: 10px;
  }

  &__delete {
    margin-left: 3px;
    margin-top: -1.5px;
  }
}
