@use '../../shared-components/theme-engine/theme' as theme;
@use '../../modules/animation' as animation;

@import '../../layout';
@import '../../glass';

.sidekick {
  position: relative;
  width: $width-sidekick + 32px;
  height: 100%;
  transition: margin animation.$animation-duration-double var(--sidekick-transition-easing-function);
  @include main-background;

  box-sizing: border-box;
  position: relative;
  pointer-events: auto;
  display: flex;

  flex-shrink: 0;
  padding: 16px 16px 16px 0px;

  .scroll-container__gradient {
    background: linear-gradient(to bottom, transparent, theme.$background-color-tertiary-hover 100%);
  }

  .scroll-container__gradient-top {
    background: linear-gradient(to top, transparent, theme.$background-color-tertiary-hover 100%);
  }

  &__tab-content-outer {
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    pointer-events: auto;
    width: $width-sidekick;

    @include glass-outer;
  }

  &__tab-content {
    width: inherit;

    @include glass-inner;

    &--messages {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
