.token {
  display: flex;
  align-items: center;
  gap: var(--l-spacing);
  padding: var(--s-spacing) var(--l-spacing);

  &.clickable {
    cursor: pointer;

    &:hover {
      background: var(--bg-hover);
    }
  }
}

.tokenInfo {
  overflow: hidden;
}

.tokenName {
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tokenCount {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  font-family: IBM Plex Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1.5%;
  color: var(--text-secondary);
}

.tokenAmount {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}
