.tokensView {
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

.tokensList {
  display: flex;
  flex-direction: column;
  gap: var(--l-spacing);
}

.tokenSkeleton {
  height: 64px;
  width: 100%;
}

.emptyState {
  height: 100%;
}
