import * as React from 'react';

import { connectContainer } from '../../../store/redux-container';
import { RootState } from '../../../store/reducer';
import { {{componentName}} } from '.';

export interface PublicProperties {
}

export interface Properties extends PublicProperties {
  something: any;

  action: () => void;
}

export class Container extends React.Component<Properties> {
  static mapState(state: RootState): Partial<Properties> {
    const { something } = state;

    return {
      something
    };
  }

  static mapActions(_props: Properties): Partial<Properties> {
    return {
      action: () => null,
    };
  }

  render() {
    return (
      <{{componentName}} />
    );
  }
}
export const {{componentName}}Container = connectContainer<PublicProperties>(Container);