.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--l-spacing);
  flex: 1;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding: 0 var(--l-spacing);
}

.resultsHeaderLabel {
  padding: 0 var(--l-spacing);
  margin-bottom: 8px;
  font-family: IBM Plex Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1.5%;
}

.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--s-spacing);
  margin: var(--l-spacing);
  padding: var(--s-spacing) var(--l-spacing);
  border-radius: 12px;
  background-color: var(--bg-accent-dark-blue);
  font-family: IBM Plex Sans;
}

.footerContent {
  display: flex;
  align-items: center;
  gap: 4px;
}

.footerLabel {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;

  color: var(--text-secondary);
}

.footerValue {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;

  color: var(--text-primary);
}

.footerAddress {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;

  color: var(--text-secondary);
}
