@use '../../../../../variables' as variables;

.Replies {
  width: 100%;

  ol {
    display: flex;
    flex-direction: column;
    gap: variables.$default-gap;

    list-style: none;
    padding: 0;
    margin: 0;

    .Panel {
      padding: 0;
    }
  }
}

.Reply {
  width: 100%;
  box-sizing: border-box;
}
