@import '../../../../../glass';

.Container {
  display: flex;
  gap: 8px;
}

.Post {
  padding: 0;
  flex: 1;
}

.Body {
  font-size: 14px;

  > p:first-child {
    margin-top: 0;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

.Text {
  white-space: pre-wrap;
  word-break: break-word;
}

.Avatar {
  pointer-events: none;
}

.Name {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}

.UserName {
  font-size: 12px;
  line-height: normal;

  @include glass-text-secondary-color;
}

.Date {
  font-size: 12px;
  line-height: normal;

  @include glass-text-secondary-color;
}
