.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--l-spacing);
  padding: 0 var(--l-spacing);
}

.tokenHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.tokenIconContainer {
  display: grid;
  place-items: center;
  margin-bottom: 8px;

  & > * {
    grid-column: 1;
    grid-row: 1;
  }
}

.tokenIconBackground {
  background-color: rgb(172, 253, 90, 0.075);
  filter: blur(10px);
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: grid;
  place-items: center;
}

.tokenIconHighlight {
  background-color: rgb(172, 253, 90, 0.2);
  filter: blur(10px);
  border-radius: 50%;
  width: 95px;
  height: 95px;
  display: grid;
  place-items: center;
}

.tokenIcon {
  width: 90px;
  height: 90px;
  font-size: 24px;
}

.dollarAmount {
  color: #fff;
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.4));
  font-family: IBM Plex Sans;
  font-weight: 400;
  font-size: 32px;
}

.amount {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  color: var(--text-secondary);
  font-weight: 500;
  text-transform: uppercase;
}

.transferDetails {
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  padding: 24px var(--l-spacing);
  border: 1px solid var(--border-primary);
  border-radius: 12px;
}

.recipientInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  padding: 0 var(--s-spacing);
}

.recipientAddress {
  font-size: 14px;
  color: var(--text-secondary);
}

.recipientName {
  font-size: 18px;
  color: var(--text-primary);
  font-weight: 600;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.recipientInfoSeparator {
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-primary);
  border-radius: 50%;
  display: grid;
  place-items: center;
  align-self: center;
  color: var(--icon-active);
}

.footer {
  margin-top: auto;
  margin-bottom: var(--l-spacing);
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--l-spacing);
}

.status {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--s-spacing);
  text-align: center;
  margin-bottom: 32px;
}

.statusIcon {
  border-radius: 50%;
  border: 2px solid var(--zero-green);
  stroke-width: 2px;
  padding: 4px;
  color: var(--zero-green);
}

.statusText {
  font-size: 16px;
  font-weight: 500;
  color: var(--zero-green);
}

.statusTimestamp {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-secondary);
}
