.Members {
  overflow-y: auto;
  max-width: 0;
  overflow: hidden;

  &.Open {
    transform: translateX(0);
    max-width: 286px;
    padding: 24px 0;
    width: 100%;
    margin-left: 18px;
  }

  &.Closed {
    transform: translateX(100%);
    max-width: 0;
    padding: 24px 0;
  }

  transition: transform 0.1s ease-out, max-width 0.1s ease-out, padding 0.1s ease-out;
}
