@use '../../../layout' as layout;
@use '../../../variables' as variables;

.Header {
  max-width: layout.$width-sidekick;
}

.Members {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: variables.$default-gap;
  height: 100%;
  max-height: 100vh;

  > div {
    flex-direction: column;
  }
}

.Content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  max-height: calc(100vh - 120px);
  margin: 4px 4px 0 0;

  scrollbar-width: none;
}
