.transaction {
  display: flex;
  align-items: center;
  gap: var(--l-spacing);
  padding: var(--s-spacing) var(--l-spacing);
  cursor: pointer;

  &:hover {
    background: var(--bg-hover);
  }
}

.transactionInfo {
  overflow: hidden;
}

.receivedFrom {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-secondary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tokenAmount {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.tokenSymbol {
  text-transform: uppercase;
}

.tokenAmountUSD {
  font-size: 12px;
  color: var(--text-secondary);
}

.tokenId {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.positive {
  color: var(--color-secondary-11);
}
