.transaction {
  display: flex;
  align-items: center;
  gap: var(--l-spacing);
  padding: var(--s-spacing) var(--l-spacing);
  cursor: pointer;
  position: relative;

  &:hover {
    background: var(--bg-hover);
  }
}

.transactionInfo {
  overflow: hidden;
}

.receivedFrom {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-secondary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tokenAmount {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.tokenSymbol {
  text-transform: uppercase;
}

.tokenAmountUSD {
  font-size: 12px;
  color: var(--text-secondary);
}

.tokenId {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.positive {
  color: var(--color-secondary-11);
}

.externalLinkContainer {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: var(--xs-spacing);
}

.externalLinkButton {
  color: #01f4cb;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  transition: all 0.3s ease;
  flex-shrink: 0;

  &:hover {
    opacity: 0.8;
  }
}
