.transactionSkeleton {
  display: flex;
  align-items: center;
  gap: var(--l-spacing);
  padding: var(--s-spacing) var(--l-spacing);
}

.tokenIcon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.tokenNameContainer {
  display: flex;
  flex-direction: column;
}

.address {
  width: 180px;
}

.tokenSymbol {
  width: 100px;
}

.tokenPriceContainer {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.amount {
  width: 60px;
}

.change {
  width: 38px;
}
