.transactionsView {
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

.transactionsList {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  gap: var(--l-spacing);
}

.transactionSkeleton {
  height: 66px;
  width: 100%;
}

.emptyState {
  height: 100%;
}
