@use '../../modules/animation' as animation;
@use '~@zero-tech/zui/styles/theme' as theme;
@use '../../shared-components/theme-engine/theme' as themeDeprecated;
@import '../../animation';

@mixin actionable-color(
  $inactive-color: themeDeprecated.$actionable-inactive-color,
  $active-color: themeDeprecated.$actionable-active-color
) {
  color: $inactive-color;

  &:hover,
  &:active,
  &.active {
    color: $active-color;
  }
}

@mixin actionable-background-color(
  $hover-color: themeDeprecated.$actionable-hover-background-gradient,
  $active-color: themeDeprecated.$actionable-active-background-gradient
) {
  background-color: transparent;

  &:hover {
    background: $hover-color;
  }

  &.active,
  &:active {
    background: $active-color;
  }
}

@mixin accent {
  background-color: themeDeprecated.$accent-color;
  color: #000;
}

@mixin actionable {
  @include actionable-color;
  @include actionable-background-color;

  cursor: pointer;
}

@mixin accent-bar {
  position: relative;

  &:before {
    height: 100%;
    width: 3px;
    background-color: themeDeprecated.$accent-color;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

$scrollbar-width: 5px;

.channel-app > .channel-view {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .message-input {
    margin-right: calc(var(--layout-app-content-right-padding) + $scrollbar-width);

    &--editing {
      margin-right: 0;
    }
  }
}

.channel-view__inverted-scroll {
  flex-grow: 99;
}

.channel {
  &-list {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &__channel-info {
      cursor: pointer;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      text-align: left;
      height: 36px;
      width: 100%;
    }

    &__channel-name-prefix {
      margin-right: 3px;
      width: 12px;
    }

    &__channel-name {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex: 3 1;
      margin-left: 3px;
    }

    &__channel-unread-count {
      @include accent;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 12px;
      line-height: 21px;
      margin-left: 3px;
    }

    &__channel-private-icon {
      margin-left: 5px;
    }
  }

  &-view {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &__main {
      padding-right: var(--layout-app-content-right-padding);
    }

    &__name {
      padding: 110px 0 10px 20px;

      h1 {
        font-size: 18px;
        font-weight: 900;
        margin-top: 8px;
        margin-bottom: 1px;
      }
    }

    &__failure-message {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: theme.$color-warning-11;
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 24px;
      padding: 8px 0px;
    }

    &__try-reload {
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }

    &__join-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;

      &--with-space {
        padding-bottom: 20px;
      }
    }
  }

  &-list__channel {
    @include actionable;
    position: relative;
    top: 1px;
    display: inline-block;
    width: calc(100% - 26px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    padding: 0 0 0 20px;
    height: 100%;

    &.active,
    &:active {
      @include accent-bar;

      .channel-list__private-icon path {
        stroke: themeDeprecated.$actionable-active-color;
      }
    }

    &:hover {
      .channel-list__private-icon path {
        stroke: themeDeprecated.$actionable-active-color;
      }
    }

    .channel-list__private-icon path {
      stroke: themeDeprecated.$actionable-inactive-color;
    }
  }

  &-list__category-channel-name {
    .collapsible__trigger {
      @include actionable;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 36px;
      padding: 0 10px;

      &:after {
        content: '\0027E9';
        font-size: 16px;
        width: 4px;
        height: 10px;
        transform: rotate(90deg);
      }

      &.is-closed:after {
        content: '\0027E9';
        transform: none;
        margin-top: 0;
        width: 6px;
        height: 20px;
      }
    }
  }
}

.messages__container {
  animation: fadein 200ms ease-out forwards;
  padding-right: 16px;
  padding-top: 100px;

  .message__header {
    display: flex;
    align-items: center;
    position: relative;
    margin: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    &-date {
      color: theme.$color-greyscale-transparency-11;
      width: 100%;
      text-align: center;
    }
  }

  .messages__message-row {
    display: flex;
    margin: 4px 16px;

    &--owner {
      justify-content: flex-end;
    }
  }
}

@keyframes fade-background-in {
  from {
    background-color: rgba(0, 0, 0, 0);
  }

  to {
    background-color: themeDeprecated.$accent-color;
  }
}

.messages__container .messages__message-row:hover {
  .message__menu {
    transform: translateX(0);
    transition: transform 0.1s ease-in-out, opacity 0s ease-in-out;
    opacity: 1;
  }
}

// Message sizing
.direct-message-chat--full-screen {
  .messages__message {
    box-sizing: border-box;
    max-width: 100%;
  }

  .messages__message {
    max-width: 560px;
  }
}
