@use '../../modules/animation' as animation;
@use '../../shared-components/theme-engine/theme' as theme;
@import '../../animation';
@import './variables';

@mixin actionable-color(
  $inactive-color: theme.$actionable-inactive-color,
  $active-color: theme.$actionable-active-color
) {
  color: $inactive-color;

  &:hover,
  &:active,
  &.active {
    color: $active-color;
  }
}

@mixin actionable-background-color(
  $hover-color: theme.$actionable-hover-background-gradient,
  $active-color: theme.$actionable-active-background-gradient
) {
  background-color: transparent;

  &:hover {
    background: $hover-color;
  }

  &.active,
  &:active {
    background: $active-color;
  }
}

@mixin accent {
  background-color: theme.$accent-color;
  color: #000;
}

@mixin actionable {
  @include actionable-color;
  @include actionable-background-color;

  cursor: pointer;
}

@mixin accent-bar {
  position: relative;

  &:before {
    height: 100%;
    width: 3px;
    background-color: theme.$accent-color;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

$scrollbar-width: 5px;

.channel-app > .channel-view {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .chat-message__input-wrapper {
    margin-right: calc(var(--layout-app-content-right-padding) + $scrollbar-width);
  }
}

.channel {
  &-list {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    &__channel-info {
      cursor: pointer;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      text-align: left;
      height: 36px;
      width: 100%;
    }
    &__channel-name-prefix {
      margin-right: 3px;
      width: 12px;
    }

    &__channel-name {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex: 3 1;
      margin-left: 3px;
    }

    &__channel-unread-count {
      @include accent;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 12px;
      line-height: 21px;
      margin-left: 3px;
    }

    &__channel-private-icon {
      margin-left: 5px;
    }
  }

  &-view {
    width: 100%;
    height: 100%;
    padding: 0 0 20px 0;
    box-sizing: border-box;
    visibility: hidden;

    &--messages-fetched {
      animation: fadein animation.$animation-duration-double ease-out forwards;
      visibility: visible;
    }

    &__main {
      padding-right: var(--layout-app-content-right-padding);
    }

    &__name {
      padding: 110px 0 10px 20px;

      h1 {
        font-size: 18px;
        font-weight: 900;
        margin-top: 8px;
        margin-bottom: 1px;
      }
    }

    &__join-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;

      &--with-space {
        padding-bottom: 20px;
      }
    }
  }

  &-list__channel {
    @include actionable;
    position: relative;
    top: 1px;
    display: inline-block;
    width: calc(100% - 26px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    padding: 0 0 0 20px;
    height: 100%;

    &.active,
    &:active {
      @include accent-bar;

      .channel-list__private-icon path {
        stroke: theme.$actionable-active-color;
      }
    }

    &:hover {
      .channel-list__private-icon path {
        stroke: theme.$actionable-active-color;
      }
    }

    .channel-list__private-icon path {
      stroke: theme.$actionable-inactive-color;
    }
  }

  &-list__category-channel-name {
    .collapsible__trigger {
      @include actionable;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 36px;
      padding: 0 10px;
      &:after {
        content: '\0027E9';
        font-size: 16px;
        width: 4px;
        height: 10px;
        transform: rotate(90deg);
      }

      &.is-closed:after {
        content: '\0027E9';
        transform: none;
        margin-top: 0;
        width: 6px;
        height: 20px;
      }
    }
  }
}

.messages__container {
  .messages {
    position: relative;
    overflow: inherit;
    transition: opacity 0.9s ease-out;
    opacity: 1;

    .message__header {
      display: flex;
      align-items: center;
      position: relative;
      margin: 8px 16px;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;

      &-date {
        color: theme.$color-greyscale-transparency-11;
      }
    }

    .message {
      margin: 8px 16px;
      background-color: theme.$color-primary-3;
      border-radius: 8px 8px 8px 0px;

      &--owner {
        background-color: theme.$color-secondary-3;
        border-radius: 8px 8px 0px 8px;

        .message__block-body {
          transition: background-color 0.3s ease-out;
          position: relative;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          &.chat-message__input-wrapper {
            background: none;
            &:before {
              background: none;
            }
          }
        }
      }

      &--media {
        .message__block-body {
          padding: 0;
        }
      }

      &__block {
        padding: 8px;
        color: theme.$card-text-color;

        &-body {
          display: block;
          white-space: pre-wrap;
          word-break: break-word;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: theme.$color-greyscale-12;
          margin: 8px 0px;
        }

        &-reply {
          display: flex;
          align-items: center;
          margin: 5px 0;
          &-icon {
            margin: 5px 5px 0 5px;
            color: theme.$accent-color;
            font-size: 20px;
            font-weight: 600;
            &::before {
              content: '\21AA';
            }
          }
          &-text {
            padding: 5px;
            border-left: 1px solid theme.$accent-color;
            flex-grow: 1;
          }
        }

        &-edited {
          padding-left: 7px;
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          color: theme.$actionable-inactive-color;
        }

        &-preview {
          display: inline-block;
          white-space: pre-wrap;
          word-break: break-word;
          font-size: 13.5px;
          font-weight: 500;
          vertical-align: baseline;
          position: relative;
          max-width: 600px;

          .text-message {
            display: inline-block;
            background-color: theme.$card-background-color;
            padding: 5px 15px;
            margin-top: 10px;
            border-radius: $border-radius;
          }
        }

        .text-message {
          &__link {
            text-decoration: underline;
          }
        }

        &-image {
          position: relative;
          display: inline-block;
          cursor: pointer;

          img {
            width: 100%;
            border-radius: 8px;
          }
        }

        &-video {
          background-color: #212121;
          transition: background-color 0.3s ease-out;
          position: relative;
          display: inline-block;
          margin: 15px;
          &:before {
            height: 100%;
            width: 3px;
            background-color: #c9fd51;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
          }
          video {
            margin-left: 3px;
            min-height: 186px;
            width: 330px;
          }
        }

        &-audio {
          background-color: #212121;
          transition: background-color 0.3s ease-out;
          position: relative;
          display: inline-block;
          margin: 15px;
          &:before {
            height: 100%;
            width: 3px;
            background-color: #c9fd51;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
          }
          audio {
            margin-left: 3px;
            padding: 10px 15px 10px 20px;
            width: 330px;
          }
        }
      }

      &__footer {
        display: flex;
        justify-content: flex-end;
        margin: 8px 8px 0px 8px;
      }

      &__time {
        display: block;
        font-size: 12px;
        color: theme.$font-color-time;
        text-align: right;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        margin: 0px 8px;
      }

      &__menu {
        position: relative;
        overflow: visible;
        width: 10px;

        &-item {
          color: theme.$font-color-time;

          .icon {
            padding: 0px 10px;
          }
        }
      }

      &__author-name {
        display: block;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: theme.$color-greyscale-12;
      }

      .emoji-mart-emoji {
        height: 19px;
      }

      &__user-mention {
        background-color: theme.$accent-color;
        color: black;
        padding: 3px;
        border-radius: 5px;
        margin-bottom: 0.8px;
        margin-top: 0.8px;
        display: inline-block;
      }
    }
  }
}

@keyframes fade-background-in {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: theme.$accent-color;
  }
}
