@use '../../modules/animation' as animation;
@use '~@zero-tech/zui/styles/theme' as theme;
@use '../../shared-components/theme-engine/theme' as themeDeprecated;
@import '../../animation';
@import './variables';

@mixin actionable-color(
  $inactive-color: themeDeprecated.$actionable-inactive-color,
  $active-color: themeDeprecated.$actionable-active-color
) {
  color: $inactive-color;

  &:hover,
  &:active,
  &.active {
    color: $active-color;
  }
}

@mixin actionable-background-color(
  $hover-color: themeDeprecated.$actionable-hover-background-gradient,
  $active-color: themeDeprecated.$actionable-active-background-gradient
) {
  background-color: transparent;

  &:hover {
    background: $hover-color;
  }

  &.active,
  &:active {
    background: $active-color;
  }
}

@mixin accent {
  background-color: themeDeprecated.$accent-color;
  color: #000;
}

@mixin actionable {
  @include actionable-color;
  @include actionable-background-color;

  cursor: pointer;
}

@mixin accent-bar {
  position: relative;

  &:before {
    height: 100%;
    width: 3px;
    background-color: themeDeprecated.$accent-color;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

$scrollbar-width: 5px;

.channel-app > .channel-view {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .chat-message__input-wrapper {
    margin-right: calc(var(--layout-app-content-right-padding) + $scrollbar-width);
  }
}

.channel-view__inverted-scroll {
  flex-grow: 99;
}

.channel {
  &-list {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &__channel-info {
      cursor: pointer;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      text-align: left;
      height: 36px;
      width: 100%;
    }

    &__channel-name-prefix {
      margin-right: 3px;
      width: 12px;
    }

    &__channel-name {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex: 3 1;
      margin-left: 3px;
    }

    &__channel-unread-count {
      @include accent;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 12px;
      line-height: 21px;
      margin-left: 3px;
    }

    &__channel-private-icon {
      margin-left: 5px;
    }
  }

  &-view {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &__main {
      padding-right: var(--layout-app-content-right-padding);
    }

    &__name {
      padding: 110px 0 10px 20px;

      h1 {
        font-size: 18px;
        font-weight: 900;
        margin-top: 8px;
        margin-bottom: 1px;
      }
    }

    &__join-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;

      &--with-space {
        padding-bottom: 20px;
      }
    }
  }

  &-list__channel {
    @include actionable;
    position: relative;
    top: 1px;
    display: inline-block;
    width: calc(100% - 26px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    padding: 0 0 0 20px;
    height: 100%;

    &.active,
    &:active {
      @include accent-bar;

      .channel-list__private-icon path {
        stroke: themeDeprecated.$actionable-active-color;
      }
    }

    &:hover {
      .channel-list__private-icon path {
        stroke: themeDeprecated.$actionable-active-color;
      }
    }

    .channel-list__private-icon path {
      stroke: themeDeprecated.$actionable-inactive-color;
    }
  }

  &-list__category-channel-name {
    .collapsible__trigger {
      @include actionable;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 36px;
      padding: 0 10px;

      &:after {
        content: '\0027E9';
        font-size: 16px;
        width: 4px;
        height: 10px;
        transform: rotate(90deg);
      }

      &.is-closed:after {
        content: '\0027E9';
        transform: none;
        margin-top: 0;
        width: 6px;
        height: 20px;
      }
    }
  }
}

.messages__container {
  animation: fadein 200ms ease-out forwards;

  .messages {
    position: relative;
    overflow: inherit;
    transition: opacity 0.9s ease-out;
    opacity: 1;
    clear: both;

    .message__header {
      display: flex;
      align-items: center;
      position: relative;
      margin: 8px 16px;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      clear: both;

      &-date {
        color: theme.$color-greyscale-transparency-11;
        width: 100%;
        text-align: center;
      }
    }

    &__message-row {
      display: flex;
      clear: both;
      margin: 16px;

      &--owner {
        justify-content: flex-end;
      }

      &--start,
      &--middle {
        margin-bottom: 0;
      }

      &--middle,
      &--end {
        margin-top: 4px;
      }
    }

    .message {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      overflow: hidden;

      &--owner {
        flex-direction: row-reverse;

        .message__block-body {
          transition: background-color 0.3s ease-out;
          position: relative;

          &.chat-message__input-wrapper {
            background: none;

            &:before {
              background: none;
            }
          }
        }

        .message__block-reply-text {
          border-color: theme.$color-secondary-5;
        }

        .message__block {
          background-color: theme.$color-secondary-3;

          .message__author-name {
            display: none;
          }
        }

        .message__menu {
          transform: translateX(100%);
        }
      }

      &--media {
        .message__block-body {
          padding: 0;
        }
      }

      &--sender-avatar {
        .message__block {
          flex: 1;
          z-index: 1;
        }
      }

      &__block {
        background-color: theme.$color-primary-3;
        position: relative;
        padding: 8px;
        color: themeDeprecated.$card-text-color;
        overflow: hidden;
        z-index: 1;

        &-body {
          display: block;
          white-space: pre-wrap;
          word-break: break-word;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: theme.$color-greyscale-12;
          margin: 8px 0px;
        }

        &-reply {
          display: flex;
          align-items: center;
          margin: 5px 0;

          &-text {
            padding-left: 8px;
            border-left: 2px solid theme.$color-primary-5;
            flex-grow: 1;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
          }
        }

        &-edited {
          padding-left: 7px;
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          color: themeDeprecated.$actionable-inactive-color;
        }

        &-preview {
          display: flex;
          flex-direction: row;
          align-items: self-start;
          white-space: pre-wrap;
          word-break: break-word;
          font-size: 13.5px;
          font-weight: 500;
          vertical-align: baseline;
          position: relative;
          max-width: 85%;

          .text-message {
            display: inline-block;
            background-color: themeDeprecated.$card-background-color;
            padding: 5px 15px;
            margin-top: 10px;
            border-radius: $border-radius;
          }
        }

        .text-message {
          &__link {
            text-decoration: underline;
          }
        }

        &-image {
          position: relative;
          display: inline-block;
          cursor: pointer;

          img {
            width: 100%;
            border-radius: 8px;
          }
        }

        &-video {
          video {
            min-height: 186px;
            width: 100%;
            border-radius: 8px;
          }
        }

        &-audio {
          audio {
            width: 100%;
          }
        }
      }

      &__footer {
        display: flex;
        justify-content: flex-end;
        margin: 0px;
      }

      &__time {
        display: block;
        font-size: 12px;
        color: themeDeprecated.$font-color-time;
        text-align: right;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        margin: 0px;
      }

      &__menu {
        align-self: center;
        transition: opacity 0s ease-in-out, transform 0.1s ease-in-out;
        transform: translateX(-100%);
        opacity: 0;
      }

      .menu--open {
        transform: unset;
        opacity: 1;
      }

      &__left {
        width: 32px;
        align-self: flex-end;
      }

      &__author-avatar {
        display: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 50%;
      }

      &__author-name {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: theme.$color-greyscale-12;
      }

      &.messages__message--last-in-group {
        .message__author-avatar {
          display: block;
        }
      }

      .emoji-mart-emoji {
        height: 19px;
      }

      &__user-mention {
        background-color: themeDeprecated.$accent-color;
        color: black;
        padding: 3px;
        border-radius: 5px;
        margin-bottom: 0.8px;
        margin-top: 0.8px;
        display: inline-block;
      }
    }
  }
}

@keyframes fade-background-in {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: themeDeprecated.$accent-color;
  }
}

.messages__container .messages .messages__message-row:hover {
  .message__menu {
    transform: translateX(0);
    transition: transform 0.1s ease-in-out, opacity 0s ease-in-out;
    opacity: 1;
  }
}

// Message sizing
.direct-message-chat--full-screen {
  .messages__message {
    box-sizing: border-box;
    max-width: 100%;
  }

  .messages__message {
    max-width: 560px;
  }
}

// Message group rounding
.messages__message--owner {
  .message__block {
    border-radius: 8px 2px 2px 8px;
  }
}

.messages__message--owner.messages__message--start,
.messages__message--owner.messages__message--single {
  .message__block {
    border-top-right-radius: 8px;
  }
}

.messages__message:not(.messages__message--owner) {
  .message__block {
    border-radius: 2px 8px 8px 2px;
  }
}

.messages__message--start:not(.messages__message--owner),
.messages__message--single:not(.messages__message--owner) {
  .message__block {
    border-top-left-radius: 8px;
  }
}
