@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../glass';

.selected-user-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding: 8px;
  height: 40px;
  margin: 4px 0px;
  border-radius: 8px;

  &--spacious {
    gap: 16px;
  }

  &--compact {
    gap: 8px;
  }

  &__avatar {
    pointer-events: none;
  }

  &__user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    overflow: hidden;
  }

  &__user-label {
    @include glass-text-primary-color;

    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }

  &__user-sublabel {
    @include glass-text-tertiary-color;

    font-size: 10px;
    line-height: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
}
