.feed {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.feed__items {
  position: relative;
  max-width: 600px;
  padding: 100px 20px 0;
}

.feed-item {
  display: flex;
  flex-direction: column;
  padding: 15px 0 25px 0;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid #cccccc;
}

.feed-item__text-content {
  padding: 5px 20px;
}

.feed-item__title {
  font-size: 24px;
}

.feed-item__description {
  font-size: 16px;
}
