@use '../../variables' as variables;

.Feed {
  display: flex;
  width: 100%;

  pointer-events: all;
}

.Loading {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: auto auto;
  padding: 32px;
  color: var(--color-greyscale-11);
}

.Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 1;
  gap: variables.$default-gap;
  padding: 24px variables.$default-gap;
}
