@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../glass';

.modal {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
  padding: calc(40px - 24px); // zUI has 24px padding right now but we want 40 total.
  box-sizing: border-box;
  max-height: calc(100vh - 54px); // zUI has 24px padding plus 1px border
  min-height: 250px;

  &__title-bar {
    display: flex;
    height: 53px;
    @include glass-text-primary-color;
    border-bottom: 1px solid $glass-separator-secondary-color;

    > *:first-child {
      flex-grow: 1;
    }

    > *:last-child {
      flex-grow: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: 0px;
  }

  &__close {
    &:focus-visible {
      outline: none;
    }
  }

  &__body {
    @include glass-text-primary-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    overflow-y: scroll;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;

    &:has(*:nth-child(2)) {
      // If there are at least 2 buttons
      justify-content: space-between;
    }

    &:empty {
      display: none;
    }
  }
}
