.scroll-container {
  overflow-y: scroll;
  overflow-x: hidden;

  &.scrollbar-hidden {
    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: none;
    }
  }
}

.inverted-scroll {
  &__content {
    overflow-anchor: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
    overflow: hidden;
  }

  &__content.inverted-scroll__content--pinned-bottom {
    overflow-anchor: none;
  }

  &__bottom-anchor {
    overflow-anchor: auto;
    height: 1px;
  }
}
