@import '../../scrollbar.scss';

.scroll-container {
  overflow-y: scroll;
  overflow-x: hidden;

  @include scrollbar();

  // Scrollbar is hidden by default
  &::-webkit-scrollbar-thumb {
    display: none;
  }

  // Show scrollbar on hover
  &:hover {
    &::-webkit-scrollbar-thumb {
      display: block;
    }
  }

  // If scrollbar is intentionally hidden, don't show on hover
  &.scrollbar-hidden {
    &::-webkit-scrollbar {
      display: none !important;
    }
  }
}

.inverted-scroll {
  &__content {
    overflow-anchor: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
    overflow: hidden;
  }

  &__content.inverted-scroll__content--pinned-bottom {
    overflow-anchor: none;
  }

  &__bottom-anchor {
    overflow-anchor: auto;
    height: 1px;
  }
}

.scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none !important;
  }
}
