@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../variables';
@import '../../../../layout';

$side-padding: 16px;

.group-details-panel {
  display: flex;
  flex-direction: column;
  height: 100%;

  & > * {
    padding-right: $side-padding;
    padding-left: $side-padding;
  }

  &__body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 24px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 180px);
  }

  &__name-input {
    width: 100%;
  }

  &__selected-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__selected-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__selected-count {
    font-style: normal;
    font-weight: 400;
    font-size: $font-size-small;
    line-height: 14px;
    color: theme.$color-greyscale-11;
  }

  &__selected-tags {
    flex-grow: 1;
    overflow-y: auto;
  }

  &__footer {
    padding: 16px;
  }

  &__create-button {
    width: 100%;
  }
}
