@use '~@zero-tech/zui/styles/theme' as theme;

@import '../../../../glass';

.post-input-container {
  margin-top: 56px;

  &__create-outer {
    display: flex;
    gap: 8px;
  }

  &__create-inner {
    align-items: flex-end;
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    margin-top: 8px;
  }

  &__input {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    height: auto;
    outline: none;
    resize: none;
    width: 100%;
  }

  &__image {
    align-self: flex-start;
  }

  &__image-container {
    position: relative;

    span {
      position: absolute;
      top: 50%;
      left: 50%;

      animation: spin 1s linear infinite;

      @keyframes spin {
        0% {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotate(360deg);
        }
      }
    }

    &[data-is-uploading] {
      .image-card {
        opacity: 0.2;
      }
    }
  }

  &__emoji-picker-container {
    position: absolute;
    left: 0;
    top: 70px;
    z-index: 12;
    color: theme.$color-greyscale-11;
  }

  &__giphy-picker-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }

  &__giphy-picker-content {
    background: var(--color-primary-1);
    border-radius: 8px;
    padding: 16px;
    max-width: 90%;
    max-height: 90vh;
    overflow: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    margin-left: -6px;
    gap: 6px;
  }

  &__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;

    svg {
      color: var(--color-secondary-11) !important;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__button {
    border-radius: 8px;
  }

  &__avatar {
    pointer-events: none;
  }

  &__drop-zone-text-area {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
  }

  &__input {
    position: relative;
  }

  &__characters {
    color: var(--color-secondary-11);
    font-size: 12px;
    margin: 0;

    &[data-is-too-long] {
      color: var(--color-failure-11);
    }
  }

  &__quote-container {
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 16px;
  }
}
