@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../variables';
@import '../../../../glass';

.conversation-item {
  display: flex;
  align-content: stretch;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  height: 56px;
  margin-bottom: 8px;
  padding: 0 8px;

  &:hover,
  &:focus,
  &[is-active='true'] {
    @include glass-state-hover-color;
    border-radius: 8px;
    outline: none;
  }

  & > * {
    flex-shrink: 0;
  }

  &__summary {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
  }

  &__header {
    display: flex;
    align-items: baseline;
    width: 100%;
    margin-bottom: 4.5px;
    overflow: hidden;
  }

  &__name {
    @include glass-text-primary-color;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    font-size: $font-size-medium;
    line-height: 20px;

    &[is-unread='true'] {
      font-weight: 600;
    }
  }

  &__timestamp {
    @include glass-text-tertiary-color;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    white-space: nowrap;
  }

  &__message {
    @include glass-text-secondary-color;

    font-weight: 400;
    font-size: $font-size-small;
    line-height: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 1px;

    &[is-unread='true'] {
      font-weight: 600;
      @include glass-text-primary-color;

      div {
        font-weight: 600;
        @include glass-text-primary-color;
      }
    }

    div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    a {
      pointer-events: none;
      /* Disable pointer events for clicking urls */
    }
  }

  &__unread-count {
    @include glass-state-default-color;
    @include glass-glow-highlight-small;
    @include glass-materials-raised;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    color: theme.$color-secondary-transparency-11;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 8px;
    font-weight: 700;
    line-height: 11px;
    margin-left: 3px;
    letter-spacing: 0.32px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__group-icon {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;

    @include glass-separator-primary;
    @include glass-shadow-low;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      z-index: -1;

      // custom raised background for group icon
      background: linear-gradient(
        153.33deg,
        rgba(255, 255, 255, 0.55) 0%,
        rgba(255, 255, 255, 0) 24.43%,
        rgba(255, 255, 255, 0.01) 79.12%,
        rgba(255, 255, 255, 0.75) 100%
      );
    }

    & > * {
      margin: auto;
      position: relative;
    }
  }

  &__group-status {
    position: absolute;
    top: 32px;
    left: 32px;
  }

  &__avatar-with-menu-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
