@use '~@zero-tech/zui/styles/theme' as theme;

.group-management-menu {
  width: 232px;
  padding: 8px;

  .leave-group {
    color: theme.$color-failure-11;
  }

  .menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    line-height: 24px;
  }
}
