@use '~@zero-tech/zui/styles/theme' as theme;

.group-management-menu {
  .leave-group {
    color: theme.$color-failure-11;
  }

  .menu-item {
    display: flex;
    gap: 8px;
  }
}

.group-management-trigger {
  padding: 4px;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  color: rgba(113, 117, 122, 1);

  &:hover {
    background-color: theme.$color-greyscale-transparency-3;
  }
}
