@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../glass';

.Header {
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid rgba(52, 56, 60, 0.24);
  box-sizing: border-box;

  gap: 9px;
  padding: 8px;

  background: rgba(17, 18, 19, 0.24);
  backdrop-filter: blur(64px);

  .Avatar {
    pointer-events: none;
  }

  .Description {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .Details {
    all: unset;
    align-items: center;
    display: flex;
    gap: 8px;
    width: 100%;
  }

  button.Details {
    cursor: pointer;
  }

  .End {
    display: flex;
    gap: 9px;
  }

  .Subtitle {
    flex: 1 0;
    font-family: 'Roboto Mono';
    font-size: 10px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include glass-text-tertiary-color;
  }
}
