.Container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}

.FeedChat {
  width: 386px;

  :global(.direct-message-chat) {
    margin: 0;
    height: 100%;
    width: 100%;
  }
}

.Panel {
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.Scroll {
  height: 100%;
}
