@use '~@zero-tech/zui/styles/theme' as theme;

.Container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  flex-shrink: 0;
}

.FeedChat {
  width: 100%;
  height: 100%;

  :global(.direct-message-chat) {
    margin: 0;
    height: 100%;
    width: 100%;
  }
}

.Panel {
  padding: 0;
  height: 100%;
  overflow: hidden;

  .Loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

.Scroll {
  height: 100%;
}

.PanelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PanelTitle {
  width: 100%;
}

.GroupButton {
  color: rgba(113, 117, 122, 1);

  &--is-active {
    background-color: theme.$color-greyscale-transparency-3;
  }
}
