@use '~@zero-tech/zui/styles/theme' as theme;

@import '../../glass';

.app-bar {
  width: 88px;
  flex-shrink: 0;
  flex-grow: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  pointer-events: all;

  @include main-background;

  &__notification-icon-wrapper {
    position: relative;
  }

  &__notification-icon {
    &--highlight {
      color: #ff3131;
    }
  }

  &__notification-dot {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: theme.$color-secondary-11;
  }

  &__highlight-dot {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff3131;
  }
}
