@use '~@zero-tech/zui/styles/theme' as theme;

@import '../../glass';

$padding: 12px;
$container-padding: 6px;
$width: 46px;

.app-bar {
  position: relative;

  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;

  padding: $padding;
  width: $width;

  pointer-events: all;
  z-index: 10;

  &__container {
    position: absolute;
    top: 50%;
    left: $padding;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    padding: $container-padding;
    width: $width;

    box-sizing: border-box;

    backdrop-filter: blur(30px);
    list-style: none;
    transition: width 0.15s ease-in-out;

    &:hover {
      width: calc(200px);
    }
  }

  &__notification-icon-wrapper {
    position: relative;
    width: 22px;
    height: 22px;
  }

  &__notification-icon {
    &--highlight {
      color: #9054f1;
    }
  }

  &__notification-dot {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: theme.$color-secondary-11;
  }

  &__highlight-dot {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #9054f1;
  }

  &__link {
    position: relative;

    width: 100%;
    overflow: hidden;

    cursor: pointer;

    &:hover {
      span {
        color: white;
      }
    }

    span {
      position: absolute;
      left: 34px; // 30px icon + 4px padding
      top: 50%;
      transform: translateY(-50%);

      color: var(--color-greyscale-11);

      pointer-events: none;
      cursor: pointer;
      white-space: nowrap;

      &[data-active] {
        color: white;
      }
    }
  }
}
