@use '../../../shared-components/theme-engine/theme' as theme;

.message__menu {
  &-item {
    visibility: hidden;
    padding-right: 10px;

    &.active {
      visibility: visible;
    }

    &__icon {
      display: inline-block;
      cursor: pointer;
      transform: translate(0);
    }
  }

  &:hover {
    .message__menu {
      visibility: visible;
    }
  }

  .portal-menu {
    position: absolute;
    visibility: hidden;
    top: 12px;
    right: 30px;
    &__underlay {
      z-index: 100;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      background-color: theme.$underlay-tooltip-background;
    }

    &.active {
      visibility: visible;
      .portal-menu__underlay {
        display: block;
        animation: partial-fadein 0.3s ease-out normal forwards;
      }
    }

    &__content {
      position: relative;
      background: theme.$background-color-tertiary;
      border-radius: 6px;
      cursor: pointer;
      z-index: 200;
      ul {
        padding: 10px 0;
        margin: 0;
        .menu-button {
          height: 30px;
          align-items: center;
          display: flex;
          overflow: hidden;
          padding: 0 20px;
          cursor: pointer;
          color: theme.$actionable-inactive-color;
          &:hover {
            background-color: theme.$actionable-hover-background-tooltip;
            color: theme.$actionable-color;
          }
          span {
            font-family: Inter Regular;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            position: relative;
            top: 1px;
          }
        }
      }
    }
  }
}

.message__block {
  &:hover {
    .message__menu {
      &-item {
        visibility: visible;
      }
    }
  }
}

.confirm-delete {
  background: var(--dialog-background-color);
  border-radius: var(--box-radius);
  overflow: hidden;

  hr {
    margin: 0 33px;
  }

  &__header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    h3 {
      font-size: 18px;
      font-weight: 700;
      color: theme.$actionable-color;
    }
  }

  &__body {
    text-align: center;
  }

  &__footer {
    font-size: 14px;
    padding: 15px 34px;
    display: flex;
    line-height: 22px;
    flex-direction: row-reverse;

    &-button {
      color: theme.$actionable-color;
      text-transform: uppercase;
      cursor: pointer;
      margin-left: 30px;
      background: none;
      border: none;
      outline: none;
      font-weight: 600;
    }
  }
}

.edit-message {
  &__actions {
    position: relative;
    margin-top: 10px;
    display: flex;

    .icon-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: var(--font-color-primary);
      background-color: transparent;
      transition: color 0.3s ease-out, background-color 0.3s ease-out;
      cursor: pointer;
      border-radius: 50%;
    }
  }
}
