@use '~@zero-tech/zui/styles/theme' as theme;

.dropdown-menu-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin: 0;

  &:hover {
    background-color: theme.$color-greyscale-transparency-3;
  }
}

.dropdown-menu-trigger--open {
  background-color: theme.$color-greyscale-transparency-3;
}

.zui-dropdown-trigger {
  padding: 0;
}

.dropdown-menu__underlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  pointer-events: auto;
}

.option {
  display: flex;
  gap: 8px;
}

.delete-message-modal {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 528px;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h2 {
      margin: 0;
      line-height: 29px;
    }
  }

  &__text-content {
    line-height: 24px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }
}
