.dev-panel {
  pointer-events: auto; // The platform layer sets this and it's inherited so restore to default
  box-sizing: border-box;
  height: 100vh;
  width: 300px;
  overflow-y: auto;

  background-color: grey;

  padding: 12px;

  &__toggle {
    z-index: 5000;
    position: absolute;
    pointer-events: auto; // The platform layer sets this and it's inherited so restore to default
    top: 0px;
    right: 300px;
    height: 30px;
    width: 25px;
    background-color: green;
    cursor: pointer;

    &--closed {
      right: 0px;
    }
  }

  &--closed {
    display: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between tabs as needed */
    background-color: lightblue;
    padding: 8px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;

    &:hover {
      background-color: blue;
    }
  }

  &__tab--active {
    background-color: darkblue;
  }

  &__content {
    padding-top: 12px;
  }
}
