@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../variables';
@import '../../../../layout';
@import '../../../../glass';

.user-search-results {
  display: flex;
  flex-direction: column;
  margin-top: 24px;

  &__title {
    padding: 8px;
    color: theme.$color-greyscale-11;
    font-size: $font-size-medium;
    line-height: 17px;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 8px;
    gap: 16px;
    cursor: pointer;

    &:hover,
    &:focus {
      @include glass-state-hover-color;

      border-radius: 8px;
      outline: none;
    }
  }

  &__user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    overflow: hidden;
    width: 100%;
  }

  &__label {
    @include glass-text-primary-color;

    font-size: $font-size-medium;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }

  &__sub-label {
    @include glass-text-tertiary-color;

    font-size: 10px;
    line-height: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }

  &__waypoint-container {
    height: 1px;
    width: 100%;
  }

  &__loading-more {
    padding: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
