.Container {
  width: 100%;
  max-width: 288px;

  [class*='Legacy'] {
    background: transparent;
    backdrop-filter: none;
  }

  [class*='_Content'] {
    border-radius: unset;
  }
}

.Panel {
  height: 100%;
}

.Body {
  height: 100%;
  padding: 0;
}

.Sidekick {
  width: 100%;
  padding: 16px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Search {
  width: 100%;
  box-sizing: border-box;
}

.SearchWrapper {
  border-radius: 64px !important;
}

.List {
  list-style: none;

  width: 100%;
  padding: 0;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  li {
    padding: 6px 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 14px;
    color: #fdfdffed;
    box-sizing: border-box;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    cursor: pointer;

    a {
      width: 100%;
    }

    &:hover {
      background-color: rgba(253, 252, 253, 0.05);
    }

    span {
      color: var(--color-greyscale-11);
    }

    &[data-is-selected],
    &:active {
      background-color: rgba(253, 252, 253, 0.07);
    }
  }
}

.Scroll > div {
  overflow-x: hidden;
}

.FeedItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.FeedName {
  display: flex;
  max-width: calc(100% - 24px);
  overflow: hidden;

  > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.UnreadCount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--color-secondary-transparency-11);
  background-color: rgba(52, 56, 60, 0.75);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0.32px;
}

.UnreadHighlight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  color: #9054f1;
  background-color: rgba(52, 56, 60, 0.75);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0.32px;
}
