@import '../../../../glass';

.Container {
  width: 100%;
  max-width: 288px;

  [class*='Legacy'] {
    background: transparent;
    backdrop-filter: none;
  }

  [class*='_Content'] {
    border-radius: unset;
  }
}

.Panel {
  height: 100%;
}

.Body {
  height: 100%;
  padding: 0;
}

.Sidekick {
  width: 100%;
  padding: 16px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Search {
  width: 100%;
  box-sizing: border-box;
  padding: 16px 0 0 16px;
}

.SearchWrapper {
  border-radius: 64px !important;
}

.List {
  list-style: none;

  width: 100%;
  padding: 0 16px 16px 16px;
  margin: 0;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  li {
    padding: 6px 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 13px;
    color: #fdfdffed;
    box-sizing: border-box;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    cursor: pointer;

    a {
      width: 100%;
    }

    &:hover {
      background-color: rgba(253, 252, 253, 0.05);
    }

    span {
      color: var(--color-greyscale-11);
    }

    &[data-is-selected],
    &:active {
      background-color: rgba(253, 252, 253, 0.07);
    }
  }
}

.Scroll > div {
  overflow-x: hidden;
}

.FeedName {
  display: flex;
  max-width: calc(100% - 24px);
  overflow: hidden;

  > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.Actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.CreateChannelButton {
  box-sizing: border-box;
  padding: 16px 16px 0 0;
}

.Error {
  color: var(--color-failure-11);
  text-align: center;
  font-size: 10px;
  padding-bottom: 12px;
}

.EmptyState {
  color: var(--color-greyscale-11);
  text-align: center;
  font-size: 10px;
  padding-bottom: 12px;
}

.LoadingIndicator {
  margin-bottom: 10px;
}
