.Container {
  width: 100%;
  max-width: 288px;

  [class*='Legacy'] {
    background: transparent;
    backdrop-filter: none;
  }

  [class*='_Content'] {
    border-radius: unset;
  }
}

.Body {
  padding: 0;
}

.Sidekick {
  width: 100%;
  padding: 16px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Search {
  width: 100%;
  box-sizing: border-box;
}

.SearchWrapper {
  border-radius: 64px !important;
}

.List {
  list-style: none;

  width: 100%;
  padding: 0;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  li {
    padding: 6px 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 14px;
    color: #fdfdffed;
    box-sizing: border-box;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    cursor: pointer;

    a {
      width: 100%;
    }

    &:hover {
      background-color: rgba(253, 252, 253, 0.05);
    }

    span {
      color: var(--color-greyscale-11);
    }

    &[data-is-selected],
    &:active {
      background-color: rgba(253, 252, 253, 0.07);
    }
  }
}

.Scroll > div {
  overflow-x: hidden;
}
