@use '~@zero-tech/zui/styles/theme' as theme;
@import '../styles';

.create-wallet-account {
  margin: 0 0 auto;

  @include base();

  &__main {
    box-sizing: border-box;
    width: 280px;
    margin-bottom: 8px;
  }

  &__select-wallet {
    margin-bottom: 8px;
  }
}
