@use '~@zero-tech/zui/styles/theme' as theme;
@import '../styles';

.create-wallet-account {
  margin: 0 0 auto;

  @include base();

  &__heading {
    @include heading();
  }

  &__sub-heading {
    @include sub-heading();
  }

  &__main {
    box-sizing: border-box;
    width: 280px;
    margin: auto;
  }

  &__select-wallet {
    background-color: theme.$color-primary-2;
    border: 1px solid theme.$color-primary-5;
    border-radius: 8px;
    padding: 16px 6px 24px;
    margin-bottom: 8px;
  }
}
