$platform-background: var(--platform-background);

$background-color-primary: var(--background-color-primary, #18181c);
$background-color-primary-hover: var(--background-color-primary-hover, #2e2e2e);
$background-color-primary-selected: var(--background-color-primary-selected, #000000);
$background-color-primary-transparent: var(--background-color-primary-transparent, rgba(24, 24, 28, 0.9));

$background-color-secondary: var(--background-color-secondary, #212121);
$background-color-secondary-transparent: var(--background-color-secondary-transparent, rgba(33, 33, 33, 0.9));
$background-color-secondary-hover: var(--background-color-secondary-hover, #1a1919);

$background-color-tertiary: var(--background-color-tertiary, #000000);
$background-color-tertiary-transparent: var(--background-color-tertiary-transparent, rgba(0, 0, 0, 0.95));
$background-color-tertiary-hover: var(--background-color-tertiary-hover, #121212);

$background-color-app-panel: var(--background-color-app-panel, #1d1d1d);
$background-color-app-panel-hover: var(--background-color-app-panel-hover);
$background-color-app-content: var(--background-color-app-content);
$background-color-world-navigation: var(--background-color-world-navigation, #1d1d1d);
$background-color-platform-navigation: var(--background-color-platform-navigation, #1d1d1d);

$primary-border-color: var(--primary-border-color, #3c3c3c);
$secondary-border-color: var(--secondary-border-color, #3c3c3c);
$sidekick-background-color: var(--sidekick-background-color, #0f0f0f);

$address-bar-border-color-outer: var(--address-bar-border-color-outer, #23142f);
$address-bar-border-color-inner: var(--address-bar-border-color-inner, #472e5b);
$address-bar-border-color-inner-hover: var(--address-bar-border-color-inner-hover, #6a3991);
$address-bar-background-color-inner-hover: var(--address-bar-background-color-inner-hover, #1a1022);

$font-color-primary: var(--font-color-primary);
$font-color-primary-hover: var(--font-color-primary-hover);
$font-color-primary-inverse: var(--font-color-primary-inverse);
$font-color-secondary: var(--font-color-secondary);
$font-color-secondary-hover: var(--font-color-secondary-hover);
$font-color-tertiary: var(--font-color-tertiary);
$font-color-tertiary-hover: var(--font-color-tertiary-hover);
$font-color-heading: var(--font-color-heading);
$font-color-time: var(--color-grey);

$accent-color: var(--accent-color);
$accent-color-1: var(--accent-color-1);
$accent-color-mid: var(--accent-color-mid, rgba(0, 209, 255, 0.1));
$actionable-hover-background-tooltip: var(--actionable-hover-background-tooltip, rgba(255, 255, 255, 0.1));

$actionable-color: var(--actionable-color, #ffffff);
$actionable-inactive-color: var(--actionable-inactive-color, #737373);
$actionable-active-color: var(--actionable-active-color, #ffffff);
$actionable-hover-background-gradient: var(--actionable-hover-background-gradient, rgba(255, 255, 255, 0.1));
$actionable-active-background-gradient: var(--actionable-active-background-gradient, rgba(0, 0, 0, 0.25));
$actionable-hover-background: var(--actionable-hover-background, rgba(255, 255, 255, 0.1));
$actionable-active-background: var(--actionable-active-background, rgba(0, 0, 0, 0.25));

$input-background-primary-color: var(--input-background-primary-color, rgba(66, 68, 70, 1));
$input-background-primary-color-inverse: var(--input-background-primary-color-inverse);
$input-background-secondary-color: var(--input-background-secondary-color, rgba(66, 68, 70, 0));
$input-arrow-color: var(--input-arrow-color, #3c3c3c);

$drop-shadow-primary-color: var(--drop-shadow-primary-color, rgba(64, 64, 64, 0.37));
$drop-shadow-secondary-color: var(--drop-shadow-secondary-color, rgba(0, 0, 0, 0.5));

$dialog-border-color: var(--dialog-border-color, rgba(175, 76, 255, 0.403921568627451));
$dialog-drop-shadow-color: var(--dialog-drop-shadow-color, rgb(196 29 255 / 20%));
$dialog-background-color: var(--dialog-background-color, #10052e);

$underlay-background: var(--underlay-background, rgba(0, 0, 0, 0.95));
$underlay-tooltip-background: var(--underlay-tooltip-background, rgba(24, 24, 28, 0.95));

$glow-text-color: var(--glow-text-color, hsla(0, 0%, 100%, 0.7));
$glow-background-color: var(--glow-background-color, #6e10bb);
$glow-transition-background-color: var(--glow-transition-background-color, #e0baff);

$font-color-app-menu: var(--font-color-app-menu);
$font-color-app-menu-active: var(--font-color-app-menu-active);
$icon-color-filter: var(--icon-color-filter);

$button-background-color: var(
  --button-background-color,
  linear-gradient(90deg, rgba(82, 87, 255, 0.25), rgba(82, 203, 255, 0.25))
);
$button-box-shadow: var(--button-box-shadow, rgba(0, 209, 255, 0.2));
$button-box-shadow-heavy: var(--button-box-shadow-heavy, rgba(0, 209, 255, 0.5));
$button-box-shadow-light: var(--button-box-shadow-light, rgba(0, 209, 255, 0.2));
$button-border-color: var(--button-border-color, #3ca1ff);
$button-border-color-hover: var(--button-border-color-hover, #ffffff);
$glow-text-white: var(--glow-text-white, 0px 0px 10px hsla(0, 0%, 100%, 0.7));
$button-color-grey: var(--button-color-grey, grey);
$button-box-radius: var(--button-box-radius, 16px);

$background-color-transparent: var(--background-color-transparent, rgba(0, 0, 0, 0.4));

$card-text-color: var(--card-text-color);
$card-background-color: var(--card-background-color);
$card-background-color-hover: var(--card-background-color);

$text-on-accent: var(--text-on-accent, rgba(0, 0, 0, 0));

$color-primary-1: var(--color-primary-1);
$color-primary-2: var(--color-primary-2);
$color-primary-3: var(--color-primary-3);
$color-primary-4: var(--color-primary-4);
$color-primary-5: var(--color-primary-5);
$color-primary-6: var(--color-primary-6);
$color-primary-7: var(--color-primary-7);
$color-primary-8: var(--color-primary-8);
$color-primary-9: var(--color-primary-9);
$color-primary-10: var(--color-primary-10);
$color-primary-11: var(--color-primary-11);
$color-primary-12: var(--color-primary-12);

$color-secondary-1: var(--color-secondary-1);
$color-secondary-2: var(--color-secondary-2);
$color-secondary-3: var(--color-secondary-3);
$color-secondary-4: var(--color-secondary-4);
$color-secondary-5: var(--color-secondary-5);
$color-secondary-6: var(--color-secondary-6);
$color-secondary-7: var(--color-secondary-7);
$color-secondary-8: var(--color-secondary-8);
$color-secondary-9: var(--color-secondary-9);
$color-secondary-10: var(--color-secondary-10);
$color-secondary-11: var(--color-secondary-11);
$color-secondary-12: var(--color-secondary-12);

$color-greyscale-1: var(--color-greyscale-1);
$color-greyscale-2: var(--color-greyscale-2);
$color-greyscale-3: var(--color-greyscale-3);
$color-greyscale-4: var(--color-greyscale-4);
$color-greyscale-5: var(--color-greyscale-5);
$color-greyscale-6: var(--color-greyscale-6);
$color-greyscale-7: var(--color-greyscale-7);
$color-greyscale-8: var(--color-greyscale-8);
$color-greyscale-9: var(--color-greyscale-9);
$color-greyscale-10: var(--color-greyscale-10);
$color-greyscale-11: var(--color-greyscale-11);
$color-greyscale-12: var(--color-greyscale-12);

$color-text-primary-1: var(--color-text-primary-1);
$color-text-primary-2: var(--color-text-primary-2);
$color-text-primary-3: var(--color-text-primary-3);
$color-text-primary-4: var(--color-text-primary-4);
$color-text-primary-5: var(--color-text-primary-5);
$color-text-primary-6: var(--color-text-primary-6);
$color-text-primary-7: var(--color-text-primary-7);
$color-text-primary-8: var(--color-text-primary-8);
$color-text-primary-9: var(--color-text-primary-9);
$color-text-primary-10: var(--color-text-primary-10);
$color-text-primary-11: var(--color-text-primary-11);
$color-text-primary-12: var(--color-text-primary-12);

$color-success-1: var(--color-success-1);
$color-success-2: var(--color-success-2);
$color-success-3: var(--color-success-3);
$color-success-4: var(--color-success-4);
$color-success-5: var(--color-success-5);
$color-success-6: var(--color-success-6);
$color-success-7: var(--color-success-7);
$color-success-8: var(--color-success-8);
$color-success-9: var(--color-success-9);
$color-success-10: var(--color-success-10);
$color-success-11: var(--color-success-11);
$color-success-12: var(--color-success-12);

$color-warning-1: var(--color-warning-1);
$color-warning-2: var(--color-warning-2);
$color-warning-3: var(--color-warning-3);
$color-warning-4: var(--color-warning-4);
$color-warning-5: var(--color-warning-5);
$color-warning-6: var(--color-warning-6);
$color-warning-7: var(--color-warning-7);
$color-warning-8: var(--color-warning-8);
$color-warning-9: var(--color-warning-9);
$color-warning-10: var(--color-warning-10);
$color-warning-11: var(--color-warning-11);
$color-warning-12: var(--color-warning-12);

$color-failure-1: var(--color-failure-1);
$color-failure-2: var(--color-failure-2);
$color-failure-3: var(--color-failure-3);
$color-failure-4: var(--color-failure-4);
$color-failure-5: var(--color-failure-5);
$color-failure-6: var(--color-failure-6);
$color-failure-7: var(--color-failure-7);
$color-failure-8: var(--color-failure-8);
$color-failure-9: var(--color-failure-9);
$color-failure-10: var(--color-failure-10);
$color-failure-11: var(--color-failure-11);
$color-failure-12: var(--color-failure-12);

$color-greyscale-transparency-1: var(--color-greyscale-transparency-1);
$color-greyscale-transparency-2: var(--color-greyscale-transparency-2);
$color-greyscale-transparency-3: var(--color-greyscale-transparency-3);
$color-greyscale-transparency-4: var(--color-greyscale-transparency-4);
$color-greyscale-transparency-5: var(--color-greyscale-transparency-5);
$color-greyscale-transparency-6: var(--color-greyscale-transparency-6);
$color-greyscale-transparency-7: var(--color-greyscale-transparency-7);
$color-greyscale-transparency-8: var(--color-greyscale-transparency-8);
$color-greyscale-transparency-9: var(--color-greyscale-transparency-9);
$color-greyscale-transparency-10: var(--color-greyscale-transparency-10);
$color-greyscale-transparency-11: var(--color-greyscale-transparency-11);
$color-greyscale-transparency-12: var(--color-greyscale-transparency-12);

$color-primary-transparency-1: var(--color-primary-transparency-1);
$color-primary-transparency-2: var(--color-primary-transparency-2);
$color-primary-transparency-3: var(--color-primary-transparency-3);
$color-primary-transparency-4: var(--color-primary-transparency-4);
$color-primary-transparency-5: var(--color-primary-transparency-5);
$color-primary-transparency-6: var(--color-primary-transparency-6);
$color-primary-transparency-7: var(--color-primary-transparency-7);
$color-primary-transparency-8: var(--color-primary-transparency-8);
$color-primary-transparency-9: var(--color-primary-transparency-9);
$color-primary-transparency-10: var(--color-primary-transparency-10);
$color-primary-transparency-11: var(--color-primary-transparency-11);
$color-primary-transparency-12: var(--color-primary-transparency-12);

$color-secondary-transparency-1: var(--color-secondary-transparency-1);
$color-secondary-transparency-2: var(--color-secondary-transparency-2);
$color-secondary-transparency-3: var(--color-secondary-transparency-3);
$color-secondary-transparency-4: var(--color-secondary-transparency-4);
$color-secondary-transparency-5: var(--color-secondary-transparency-5);
$color-secondary-transparency-6: var(--color-secondary-transparency-6);
$color-secondary-transparency-7: var(--color-secondary-transparency-7);
$color-secondary-transparency-8: var(--color-secondary-transparency-8);
$color-secondary-transparency-9: var(--color-secondary-transparency-9);
$color-secondary-transparency-10: var(--color-secondary-transparency-10);
$color-secondary-transparency-11: var(--color-secondary-transparency-11);
$color-secondary-transparency-12: var(--color-secondary-transparency-12);

$color-error-transparency-1: var(--color-error-transparency-1);
$color-error-transparency-2: var(--color-error-transparency-2);
$color-error-transparency-3: var(--color-error-transparency-3);
$color-error-transparency-4: var(--color-error-transparency-4);
$color-error-transparency-5: var(--color-error-transparency-5);
$color-error-transparency-6: var(--color-error-transparency-6);
$color-error-transparency-7: var(--color-error-transparency-7);
$color-error-transparency-8: var(--color-error-transparency-8);
$color-error-transparency-9: var(--color-error-transparency-9);
$color-error-transparency-10: var(--color-error-transparency-10);
$color-error-transparency-11: var(--color-error-transparency-11);
$color-error-transparency-12: var(--color-error-transparency-12);

$color-black: var(--color-black);
$color-white: var(--color-white);
$color-grey: var(--color-grey);
