$platform-background: var(--platform-background);

$background-color-primary: var(--background-color-primary, #18181c);
$background-color-primary-hover: var(--background-color-primary-hover, #2e2e2e);
$background-color-primary-selected: var(--background-color-primary-selected, #000000);
$background-color-primary-transparent: var(--background-color-primary-transparent, rgba(24, 24, 28, 0.9));

$background-color-secondary: var(--background-color-secondary, #212121);
$background-color-secondary-transparent: var(--background-color-secondary-transparent, rgba(33, 33, 33, 0.9));
$background-color-secondary-hover: var(--background-color-secondary-hover, #1a1919);

$background-color-tertiary: var(--background-color-tertiary, #000000);
$background-color-tertiary-transparent: var(--background-color-tertiary-transparent, rgba(0, 0, 0, 0.95));
$background-color-tertiary-hover: var(--background-color-tertiary-hover, #121212);

$background-color-app-panel: var(--background-color-app-panel, #1d1d1d);
$background-color-app-panel-hover: var(--background-color-app-panel-hover);
$background-color-app-content: var(--background-color-app-content);
$background-color-world-navigation: var(--background-color-world-navigation, #1d1d1d);
$background-color-platform-navigation: var(--background-color-platform-navigation, #1d1d1d);

$primary-border-color: var(--primary-border-color, #3c3c3c);
$secondary-border-color: var(--secondary-border-color, #3c3c3c);
$sidekick-background-color: var(--sidekick-background-color, #0f0f0f);

$font-color-primary: var(--font-color-primary);
$font-color-primary-hover: var(--font-color-primary-hover);
$font-color-primary-inverse: var(--font-color-primary-inverse);
$font-color-secondary: var(--font-color-secondary);
$font-color-secondary-hover: var(--font-color-secondary-hover);
$font-color-tertiary: var(--font-color-tertiary);
$font-color-tertiary-hover: var(--font-color-tertiary-hover);
$font-color-heading: var(--font-color-heading);
$font-color-time: var(--color-grey);

$accent-color: var(--accent-color);
$accent-color-1: var(--accent-color-1);
$accent-color-mid: var(--accent-color-mid, rgba(0, 209, 255, 0.1));
$actionable-hover-background-tooltip: var(--actionable-hover-background-tooltip, rgba(255, 255, 255, 0.1));

$actionable-color: var(--actionable-color, #ffffff);
$actionable-inactive-color: var(--actionable-inactive-color, #737373);
$actionable-active-color: var(--actionable-active-color, #ffffff);
$actionable-hover-background-gradient: var(--actionable-hover-background-gradient, rgba(255, 255, 255, 0.1));
$actionable-active-background-gradient: var(--actionable-active-background-gradient, rgba(0, 0, 0, 0.25));
$actionable-hover-background: var(--actionable-hover-background, rgba(255, 255, 255, 0.1));
$actionable-active-background: var(--actionable-active-background, rgba(0, 0, 0, 0.25));

$input-background-primary-color: var(--input-background-primary-color, rgba(66, 68, 70, 1));
$input-background-primary-color-inverse: var(--input-background-primary-color-inverse);
$input-background-secondary-color: var(--input-background-secondary-color, rgba(66, 68, 70, 0));
$input-arrow-color: var(--input-arrow-color, #3c3c3c);

$drop-shadow-primary-color: var(--drop-shadow-primary-color, rgba(64, 64, 64, 0.37));
$drop-shadow-secondary-color: var(--drop-shadow-secondary-color, rgba(0, 0, 0, 0.5));

$dialog-border-color: var(--dialog-border-color, rgba(175, 76, 255, 0.403921568627451));
$dialog-drop-shadow-color: var(--dialog-drop-shadow-color, rgb(196 29 255 / 20%));
$dialog-background-color: var(--dialog-background-color, #10052e);

$underlay-background: var(--underlay-background, rgba(0, 0, 0, 0.95));
$underlay-tooltip-background: var(--underlay-tooltip-background, rgba(24, 24, 28, 0.95));

$glow-text-color: var(--glow-text-color, hsla(0, 0%, 100%, 0.7));
$glow-background-color: var(--glow-background-color, #6e10bb);
$glow-transition-background-color: var(--glow-transition-background-color, #e0baff);

$font-color-app-menu: var(--font-color-app-menu);
$font-color-app-menu-active: var(--font-color-app-menu-active);
$icon-color-filter: var(--icon-color-filter);

$button-background-color: var(
  --button-background-color,
  linear-gradient(90deg, rgba(82, 87, 255, 0.25), rgba(82, 203, 255, 0.25))
);
$button-box-shadow: var(--button-box-shadow, rgba(0, 209, 255, 0.2));
$button-box-shadow-heavy: var(--button-box-shadow-heavy, rgba(0, 209, 255, 0.5));
$button-box-shadow-light: var(--button-box-shadow-light, rgba(0, 209, 255, 0.2));
$button-border-color: var(--button-border-color, #3ca1ff);
$button-border-color-hover: var(--button-border-color-hover, #ffffff);
$glow-text-white: var(--glow-text-white, 0px 0px 10px hsla(0, 0%, 100%, 0.7));
$button-color-grey: var(--button-color-grey, grey);
$button-box-radius: var(--button-box-radius, 16px);

$background-color-transparent: var(--background-color-transparent, rgba(0, 0, 0, 0.4));

$card-text-color: var(--card-text-color);
$card-background-color: var(--card-background-color);
$card-background-color-hover: var(--card-background-color);

$text-on-accent: var(--text-on-accent, rgba(0, 0, 0, 0));
