.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--transparencies-zero-green-zero-green-90072, #02211ab8);
  border: 1px solid var(--Border-border-accent, #01f4cb3d);
  border-radius: 8px;
  padding: 16px;
  color: #01f4cb;
  font-weight: 700;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
