.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--s-spacing);
  border: 1px solid var(--border-accent-strong);
  border-radius: 8px;
  padding: var(--m-spacing);
  font-weight: 700;
  cursor: pointer;

  &.primary {
    background-color: var(--zero-green);
    color: var(--text-black);

    &:hover {
      background: var(--zero-green-300);
    }
  }

  &.secondary {
    background-color: var(--zero-green-900-72);
    color: var(--zero-green);

    &:hover {
      background: var(--zero-green-200-24);
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
