@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../glass';

.edit-profile {
  padding: 16px;

  &__header {
    display: flex;
    height: 52px;
    margin-bottom: 40px;

    @include glass-state-active-stroke;
    color: theme.$color-greyscale-12;

    > *:first-child {
      flex-grow: 1;
    }

    > *:last-child {
      flex-grow: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: 0px;
    @include glass-text-primary-color;
  }

  &__close {
    &:focus-visible {
      outline: none;
    }
  }

  &__body {
    //margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 40px 0px;
  }

  &__body-input {
    width: 240px;
    gap: 4px;
    line-height: normal;
  }

  &__zid-menu-item-label {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 24px;
    margin: 8px;

    @include glass-text-primary-color;
  }

  &__check_icon {
    margin-left: 20px;
  }

  &__primary-zid-lable {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
  }

  &__info-tooltip:hover {
    cursor: pointer;
  }

  &__footer {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }

  // TODO: pass 'large' as a prop to the zUI button component
  &__zui-button-large {
    height: 40px;
    width: 144px;
  }

  &__alert-large {
    height: 56px;
  }
}

.SelectInput_InputContainer__21yTt {
  min-width: 240px;
}

.zui-dropdown-menu {
  min-width: 224px;
  box-shadow: 2px 3px 9px 0px rgba(0, 0, 0, 0.31), 10px 12px 16px 0px rgba(0, 0, 0, 0.27),
    22px 27px 21px 0px rgba(0, 0, 0, 0.16), 39px 48px 25px 0px rgba(0, 0, 0, 0.05),
    61px 75px 27px 0px rgba(0, 0, 0, 0.01);
  background: rgba(10, 10, 10, 0.75);
}

.zui-dropdown-item {
  padding: 16px;

  &:hover {
    @include glass-state-hover-color;
  }
}
