@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../glass';

.edit-profile {
  padding: 16px;

  &__header {
    display: flex;
    height: 52px;
    margin-bottom: 40px;

    @include glass-state-active-stroke;
    color: theme.$color-greyscale-12;

    > *:first-child {
      flex-grow: 1;
    }

    > *:last-child {
      flex-grow: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: 0px;
    @include glass-text-primary-color;
  }

  &__close {
    &:focus-visible {
      outline: none;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 40px 0px 0px 0px;
  }

  &__body-input {
    width: 256px;
    gap: 4px;
    line-height: normal;
  }

  &__zid-select-menu {
    max-height: 220px;
    overflow-y: auto;

    width: 240px;
  }

  &__zid-menu-item-option {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 24px;
    width: 100%;

    @include glass-text-primary-color;
  }

  &__zid-menu-item-option-label {
    flex-grow: 1;
  }

  &__zid-menu-item-option-icon {
    flex-grow: 0;
  }

  &__zid-menu-item-option-loading-spinner {
    width: 24px;
    height: 22px;
  }

  &__primary-zid-lable {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
  }

  &__info-tooltip:hover {
    cursor: pointer;
  }

  &__footer {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }

  &__alert-small {
    margin-top: 8px;
    padding: 4px 8px 4px 8px;
  }

  &__alert-text {
    font-size: 14px;
    line-height: 20px;
  }
}
