@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../glass';

.edit-profile {
  padding: 16px;

  &__header {
    display: flex;
    height: 52px;
    margin-bottom: 40px;

    @include glass-state-active-stroke;
    color: theme.$color-greyscale-12;

    > *:first-child {
      flex-grow: 1;
    }

    > *:last-child {
      flex-grow: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: 0px;
    @include glass-text-primary-color;
  }

  &__close {
    &:focus-visible {
      outline: none;
    }
  }

  &__body {
    //margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 40px 0px;
  }

  &__body-input {
    width: 240px;
    gap: 4px;
    line-height: normal;
  }

  &__primary-zid-lable {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__info-tooltip:hover {
    cursor: pointer;
  }

  &__footer {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }

  // TODO: pass 'large' as a prop to the zUI button component
  &__zui-button-large {
    height: 40px;
    width: 144px;
  }

  &__alert-large {
    height: 56px;
  }
}
