@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../../../variables';
@import '../../../../../../glass';

.FeedItem {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  height: 48px;
  margin-bottom: 8px;
  padding: 0 8px;
  border-radius: 8px;

  &:hover,
  &:focus,
  &.FeedItemActive {
    @include glass-state-hover-color;
    outline: none;
  }

  & > * {
    flex-shrink: 0;
  }
}

.AvatarContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Content {
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.Header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;
  overflow: hidden;
  min-width: 0;
  gap: 4px;
}

.NameContainer {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 0;
  width: 100%;
  gap: 4px;
}

.FeedName {
  display: flex;
  overflow: hidden;
  font-size: 14px;
  max-width: calc(100% - 24px);

  > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.InfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.InfoIconContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.TotalCountContainer {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-left: -2px;
}

.TotalCountIcon {
  @include glass-text-tertiary-color;
}

.TotalCount {
  @include glass-text-tertiary-color;

  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
