@use '~@zero-tech/zui/styles/theme' as theme;

.NotificationsFeed {
  display: flex;
  flex-direction: column;
  align-items: center;

  .HeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    height: 54px;

    position: absolute;
    top: 0px;
    z-index: 3;

    backdrop-filter: blur(64px);
    border-bottom: 1px solid rgb(52, 56, 60);
    border-inline: 1px solid rgb(52, 56, 60);

    .HeaderTitle {
      margin: 2px 0 0 8px;
      font-size: 16px;
    }
  }

  .Body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    max-width: 600px;
    min-width: 600px;

    box-sizing: border-box;
    pointer-events: auto;

    border-inline: 1px solid rgb(52, 56, 60);

    .Notifications {
      list-style: none;
      margin: 0;
      padding: 0;

      > li {
        padding: 16px 18px 16px 18px;

        border-bottom: 1px solid rgba(52, 56, 60, 0.75);
      }
    }
  }

  .Loading {
    text-align: center;
    padding: 24px;
  }

  .LoadingContainer,
  .LoadingMoreContainer {
    display: flex;
    justify-content: center;
    padding: 20px;

    border-bottom: 1px solid rgba(52, 56, 60, 0.75);
  }

  .LoadingMoreContainer {
    padding: 10px;
  }

  .Error {
    color: theme.$color-error-transparency-11;
    text-align: center;
    padding: 24px;
    border-bottom: 1px solid rgba(52, 56, 60, 0.75);
  }

  .NoNotifications {
    text-align: center;
    color: #666;
    padding: 24px;
    border-bottom: 1px solid rgba(52, 56, 60, 0.75);
  }
}
