.container {
  display: flex;
  flex-direction: column;
  gap: var(--s-spacing);
  border: 1px solid var(--border-primary);
  border-radius: 12px;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-accent-dark-blue);
  padding: var(--s-spacing) 15px;
  border-radius: 12px;
}

.headerLabel {
  display: flex;
  gap: 4px;
}

.headerLabelText {
  font-size: 15px;
  color: var(--text-secondary);
}

.headerLabelRecipient {
  font-size: 15px;
  color: var(--text-primary);
}

.headerAddress {
  font-size: 15px;
  color: var(--text-secondary);
}

.tokenSelect {
  display: flex;
  align-items: center;
  gap: var(--s-spacing);
  padding: 12px var(--l-spacing);
}

.tokenInfo {
  display: flex;
  flex-direction: column;
}

.tokenName {
  font-size: 15px;
  font-weight: 400;
  color: var(--text-primary);
}

.tokenSymbol {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-secondary);
  text-transform: uppercase;
}

.amountRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--l-spacing);
  gap: 4px;
}

.totalsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--l-spacing) var(--l-spacing) var(--l-spacing);
}

.amountInput {
  flex-grow: 2;
  input {
    width: 100%;
  }
}

.amountOutput {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-primary);
}

.maxButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.maxButton button {
  border-radius: 12px;
  padding: 3px 12px;
  background-color: var(--bg-accent-dark-blue);
  color: var(--text-primary);
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}

.dollarAmount {
  font-size: 14px;
  color: var(--text-secondary);
}

.balance {
  font-size: 14px;
  color: var(--text-secondary);
  text-align: right;
  display: flex;
  align-items: center;
  gap: 4px;
}
