.Split {
  position: relative;
  display: flex;
  width: 100%;
  gap: 8px;
}

.Header {
  left: 0;
  pointer-events: all !important;
  position: absolute;
  top: 16px;
  width: calc(100% - 16px) !important;
  z-index: 1000;
}

.Actions {
  right: 13px;
  pointer-events: all !important;
  position: absolute;
  top: 12px;
  z-index: 1000;
}
