.Split {
  position: relative;
  display: flex;
  width: 100%;
  gap: 45px;
}

.Actions {
  right: 13px;
  pointer-events: all !important;
  position: absolute;
  top: 12px;
  z-index: 1000;
}

.Actions {
  right: 7px;
  pointer-events: all !important;
  position: absolute;
  top: 7px;
  z-index: 1000;
}
