@use '~@zero-tech/zui/styles/theme' as theme;
@import '../styles';

.validate-invite {
  margin: auto 0 0;

  @include base();

  &__heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    gap: 8px;
  }

  &__heading {
    @include heading();
  }

  &__sub-heading {
    @include sub-heading();
  }

  &__form {
    gap: 32px !important;

    @include form();
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 280px;
  }

  &__alert {
    padding: 4px 8px;
    font-size: 14px;
    line-height: 17px;
  }
}
