@use '~@zero-tech/zui/styles/theme' as theme;
@import '../styles';

.validate-invite {
  @include base();

  &__heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    gap: 8px;
  }

  &__heading {
    @include heading();
  }

  &__sub-heading {
    @include sub-heading();
  }

  &__form {
    @include form();
  }

  &__input-container {
    @include input-container();
  }

  &__alert {
    @include alert();
  }
}
