@use '@zero-tech/zui/styles/theme' as theme;
@import '../styles';

.validate-invite {
  margin: auto 0 0;

  @include base();

  &__form {
    @include form();
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 280px;
  }

  &__alert {
    padding: 4px 8px;
    font-size: 14px;
    line-height: 17px;
  }
}
