@use '~@zero-tech/zui/styles/theme' as theme;
@import '../styles';

.validate-invite {
  @include base();

  &__heading {
    @include heading();
  }

  &__sub-heading {
    @include sub-heading();
  }

  &__form {
    @include form();
  }

  &__other-options {
    text-align: center;
    padding-top: 32px;

    > * {
      margin-top: 16px;
    }
  }
}
