.Container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.ManualSwitch {
  text-align: center;

  p {
    color: var(--color-secondary-accent);
    font-size: 14px;
    margin: 0;
  }
}

.Error {
  color: var(--color-red);
  font-size: 12px;
  text-align: center;
  margin: 0;
  max-width: 300px;
}
