@use '~@zero-tech/zui/styles/theme' as theme;

.notification-popup {
  position: absolute;
  top: 75px;
  right: 20px;
  z-index: 500;
  background-color: theme.$color-primary-2;
  width: 360px;
  padding: 0px 16px;

  // Elevation 3
  box-shadow: 12px 11px 54px #040304;
  border-radius: 16px 0px 16px 16px;

  font-family: 'Inter';

  h3 {
    color: theme.$color-greyscale-12;
    margin: 20px 0px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}
