@use '~@zero-tech/zui/styles/theme' as theme;
@use '~@zero-tech/zui/styles/colors' as colors;
@import '../../glass';

.tooltip-popup {
  position: fixed;
  z-index: 1000;
  top: 18px;
  left: 32px;

  &__trigger {
    position: relative;
    margin: unset;
  }

  &__content {
    animation: fadein 700ms ease-out forwards;
    margin-left: 18px;

    display: flex;
    align-items: center;
    padding: 16px;
    max-width: 32rem;
    height: 24px;
    border-radius: 16px;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;

    @include glass-shadow-and-blur;
    @include flat-thick;
    backdrop-filter: blur(32px);

    /* Dark/Greyscale/Grey-12 */
    color: $glass-highlight-color;

    &[data-side='right'][data-align='end'] {
      border-bottom-left-radius: unset;
    }

    &[data-side='right'][data-align='start'] {
      border-top-left-radius: unset;
    }

    &[data-side='left'][data-align='end'] {
      border-bottom-right-radius: unset;
    }

    &[data-side='left'][data-align='start'] {
      border-top-right-radius: unset;
    }
  }

  &__arrow {
    position: absolute;
    transform: rotate(+90deg);
    left: -24px;

    margin-top: -1px;
    margin-bottom: 3px;
  }

  &__close-icon {
    margin-left: 8px;
  }
}
