@use '~@zero-tech/zui/styles/theme' as theme;

.NotificationItem {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.2s;

  .Content {
    margin-left: 12px;
    flex: 1;
    display: flex;
    align-items: baseline;
    gap: 12px;

    .Message {
      font-size: 14px;
      flex: 1;
    }
  }

  .UnreadDot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: theme.$color-secondary-11;
    flex-shrink: 0;
    display: block;
  }

  .UnreadDotHighlight {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #9054f1;
    flex-shrink: 0;
    display: block;
  }
}
