@use '~@zero-tech/zui/styles/theme' as theme;
@use '../../../shared-components/theme-engine/theme' as themeDeprecated;
@use '../../../modules/animation' as animation;

$gap: 8px;
$delete-width: 32px;

.image-cards__container {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.image-card {
  margin-bottom: 16px;

  .image-card__image-wrap {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 8px;
  }

  .image-card__name {
    margin-top: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: theme.$color-greyscale-11;
  }

  .image-card__image {
    width: 100px;
    height: 100%;
    flex: 3;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-flow: column nowrap;
    overflow: hidden;
    position: relative;
    animation: fadein animation.$animation-duration-triple ease-out forwards;
    border-radius: 8px;
  }

  .image-card__delete {
    color: theme.$color-failure-11;
    border: 1px solid theme.$color-failure-11;
    border-radius: 50%;
    padding: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  &.image-card__border {
    border: 1px solid themeDeprecated.$primary-border-color;
  }

  &.image-card__regular {
    width: 150px;
    height: 100px;
    margin: 0 21px 21px 0;

    img {
      width: 200%;
      position: absolute;
      top: -30px;
      left: -30px;
    }
  }

  &.image-card__small {
    width: 160px + $delete-width + $gap;
    z-index: 10;

    .image-card__image-wrap {
      height: 80px;
    }

    img {
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
    }

    .image-card__delete {
      cursor: pointer;
    }
  }

  &.image-card__full-width {
    width: 100%;
    padding-bottom: 15px;
    position: relative;

    img,
    .background-image {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }
  }
}
