@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../../glass';

.rewards-item {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;

  border: 1px solid $glass-separator-primary-color;
  border-radius: 16px;
  padding: 16px;

  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;

  @include glass-text-secondary-color;

  &__info-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4px;
  }

  &__title {
    @include glass-text-secondary-color;
    font-size: 14px;
    font-weight: 500;
  }

  &__usd {
    @include glass-text-primary-color;
    font-size: 18px;
    font-weight: 600;
    margin-left: 4px;
  }

  &__claim-button-container {
    width: 100%;
  }

  &__claim-button {
    padding: 0;
    height: 24px;
  }

  &__claim-button-icon {
    margin-right: 4px;
  }

  &__error-message {
    color: theme.$color-failure-11;
    font-size: 12px;
    margin-top: 4px;
  }
}
