@import 'app/theme.scss';

.status-indicator {
  z-index: $z-index-loading-bar;
  position: fixed;
  top: 0;
  left: 50%;
  right: 50%;
  width: 350px;
  padding: 10px;
  pointer-events: none;
  background-color: $black;
  text-align: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  &__message {
    color: $color-accent;
    font-size: $font-size-large;
  }

  &__reconnect-button {
    @include text-highlight;
    font-size: $font-size-large;
    font-weight: $weight-extra-bold;
    text-decoration: underline;
    padding: 0 10px;
    cursor: pointer;
    pointer-events: auto;
    float: right;
  }
}
