import { expectSaga } from 'redux-saga-test-plan';
import { call } from 'redux-saga/effects';
import { throwError } from 'redux-saga-test-plan/providers';

import { start } from './saga';
import { apiCall } from './api';
import { {{sagaName}}State, initialState as initial{{sagaName}}State } from '.';

import { rootReducer } from '../reducer';

describe('start', () => {
  it('makes api call', async () => {
    await expectSaga(start, { payload: {} })
      .provide([
        [
          call(apiCall, {}),
          { success: true, response: {} },
        ],
      ])
      .withReducer(rootReducer, initialState({}))
      .call(apiCall, {})
      .run();
  });
});

function initialState(attrs: Partial<{{sagaName}}State> = {}) {
  return {
    {{sagaNameLower}}: {
      ...initial{{sagaName}}State,
      ...attrs,
    },
  } as any;
}
