@use '~@zero-tech/zui/styles/theme' as theme;

.user-actions {
  display: flex;
  gap: 15px;

  color: theme.$color-primary-transparency-11;

  button {
    // Reset
    cursor: pointer;
    background: none;
    border: none;
    display: inline-block;

    border-radius: 50%;
    line-height: 0px;
    margin: 0px;
    position: relative;

    > * {
      margin: auto; // Center the icon
    }
  }

  &__icon-button {
    height: 40px;
    width: 40px;

    &:hover {
      background-color: theme.$color-primary-4;
    }
  }

  &__badge {
    position: absolute;
    width: 16px;
    height: 16px;
    right: -1px;
    top: -1px;

    background: theme.$color-primary-10;
    border: 1px solid theme.$color-primary-1;
    border-radius: 50%;

    color: theme.$color-primary-transparency-12;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

.user-menu-popup {
  position: absolute;
  top: 75px;
  right: 20px;
  z-index: 500;
  background-color: theme.$color-primary-2;
  padding: 0px 16px 20px 16px;

  // Elevation 3
  box-shadow: 12px 11px 54px #040304;
  border-radius: 16px 16px 16px 16px;

  font-family: 'Inter';

  h3 {
    color: theme.$color-white;
    margin: 20px 0px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  &__underlay {
    justify-content: center;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
  }
}
