@use '~@zero-tech/zui/styles/theme' as theme;

.user-menu-popup {
  background-color: theme.$color-primary-2;
  padding: 0px 16px 20px 16px;

  // Elevation 3
  box-shadow: 12px 11px 54px #040304;
  border-radius: 16px 16px 16px 16px;

  font-family: 'Inter';

  h3 {
    color: theme.$color-greyscale-12;
    margin: 0px;
    padding: 20px 0px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  &__underlay {
    justify-content: center;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
  }

  &__content {
    position: absolute;
  }
}
