@import '../../../../variables';
@import '../../../../glass';

.TokenColumn {
  width: 40%;
}

.PriceColumn {
  width: 20%;
}

.VolumeColumn {
  width: 20%;
}

.ChangeColumn {
  width: 20%;
}

.HeaderContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ActiveSort {
  @include glass-state-hover-color;
}
