@import '../../../../variables';
@import '../../../../glass';

.RankColumn {
  width: 8%;
}

.NameColumn {
  width: 40%;
}

.PriceColumn {
  width: 15%;
}

.ChangeColumn {
  width: 15%;
}

.MarketCapColumn {
  width: 22%;
}

.HeaderContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ActiveSort {
  @include glass-state-hover-color;
}
