@import '../../scrollbar.scss';

.scrollbar-container {
  position: relative;
  height: 100%;

  &__content {
    overflow: auto;
    width: 100%;
    height: 100%;

    @include scrollbar();

    &[data-variant='on-hover'] {
      &::-webkit-scrollbar-thumb {
        display: none;
      }

      &:hover {
        &::-webkit-scrollbar-thumb {
          display: block;
        }

        @include scrollbar();

        ~ .scrollbar-container__panel {
          display: none;
        }
      }
    }

    &[data-is-scrollbar-hidden='true'] {
      &::-webkit-scrollbar {
        display: none;
      }
      scrollbar-width: none;
    }
  }

  &__panel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background: linear-gradient(180deg, rgba(31, 27, 34, 0) 0%, rgba(31, 27, 34, 1) 100%);
    box-sizing: border-box;

    &:hover {
      display: none;
    }
  }
}
