@use '~@zero-tech/zui/styles/theme' as theme;

.leave-group-dialog {
  width: 568px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
  padding: 10px;

  &__body {
    color: theme.$color-greyscale-12;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  // TODO: add button sizes (eg. "small", "medium", "large") in zUI instead
  // of setting the height here
  &__text-button {
    height: 40px;
    max-width: 144px;

    div {
      color: theme.$color-greyscale-12;
    }

    &:hover {
      color: theme.$color-secondary-1;
    }
  }

  &__text-button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: theme.$color-greyscale-12;
  }
}
