.edit-conversation-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__body {
    margin: 0px 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__image-upload {
    margin: 8px 0px 24px 0px;
    align-self: center;
  }

  &__body-input {
    width: 240px;
    gap: 4px;
    line-height: 24px;
  }

  &__zui-button-large {
    margin-top: 16px;
    align-self: flex-end;
  }

  &__alert {
    margin-top: 8px;
  }

  &__members {
    padding-top: 24px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__member-header {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__member-list {
    padding-top: 8px;
    flex-grow: 1;
  }
}
