@use '~@zero-tech/zui/styles/theme' as theme;
@import '../styles';

.create-account-details {
  margin: 60px 0 auto 0;

  @include base();

  &__heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 8px;
    gap: 4px;
  }

  &__heading {
    @include heading();
  }

  &__sub-heading {
    @include sub-heading();
  }

  &__form {
    gap: 32px !important;

    @include form();
  }

  &__input {
    @include input();
  }

  &__input-helper-text {
    padding-bottom: 4px;
  }

  &__input-wrapper {
    height: unset !important;
    padding: 8px 6px !important;
  }

  &__image-upload {
    display: flex;
    justify-content: center;
  }

  &__submit-button {
    width: 155px;
  }
}
