@use '~@zero-tech/zui/styles/theme' as theme;
@import '../styles';

.create-account-details {
  margin: 76px 0 auto 0;

  @include base();

  &__heading {
    @include heading();
  }

  &__sub-heading {
    @include sub-heading();
  }

  &__form {
    @include form();
  }

  &__image-upload {
    display: flex;
    justify-content: center;
  }
}
