@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes loadingShimmer {
  0% {
    background-position: -320px 0;
  }
  100% {
    background-position: calc(320px + 100%) 0;
  }
}
