// D/Glass/Text/Primary
@mixin glass-text-primary-color {
  color: rgba(253, 253, 255, 0.93);
}

// D/Glass/Text/Secondary
@mixin glass-text-secondary-color {
  color: rgba(247, 245, 255, 0.62);
}

// D/Glass/Text/Tertiary
@mixin glass-text-tertiary-color {
  color: rgba(238, 236, 255, 0.42);
}

// D/Glass/Ui State/Default
@mixin glass-state-default-color {
  background-color: rgba(167, 163, 163, 0.05);
}

// D/Glass/Ui State/Hover
@mixin glass-state-hover-color {
  background-color: rgba(253, 252, 253, 0.05);
}

// D/Glows/Highlight/Small (4px)
@mixin glass-glow-highlight-small {
  text-shadow: 0px 0px 4px rgba(1, 250, 195, 0.75);
}

@mixin glass-glow-highlight-medium {
  text-shadow: 0px 0px 16px rgba(1, 250, 195, 0.75);
}

// D/Glass/Shadows & Blur
@mixin glass-shadow-and-blur {
  box-shadow: 2px 3px 9px 0px rgba(0, 0, 0, 0.31), 10px 12px 16px 0px rgba(0, 0, 0, 0.27),
    22px 27px 21px 0px rgba(0, 0, 0, 0.16), 39px 48px 25px 0px rgba(0, 0, 0, 0.05),
    61px 75px 27px 0px rgba(0, 0, 0, 0.01), 0px 0px 8px 0px rgba(255, 255, 255, 0.05) inset;
  backdrop-filter: blur(32px);
}

@mixin glass-outer {
  border-radius: 16px;
  position: relative;
  padding: 1px;
  box-shadow: 2px 3px 9px 0px rgba(0, 0, 0, 0.31), 10px 12px 16px 0px rgba(0, 0, 0, 0.27),
    22px 27px 21px 0px rgba(0, 0, 0, 0.16), 39px 48px 25px 0px rgba(0, 0, 0, 0.05),
    61px 75px 27px 0px rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(32px);

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 16px;
    pointer-events: none;

    //
    // Unfortunately, we can't have a gradient border with rounded corners.
    // Our solution is to use a div with a full background and then mask out the inside
    // of it so that you only see approximately 1 px of it
    //

    // Temporary removing background and mask as a fix for cross-browser / cross device compatibility
    // background-image: linear-gradient(
    //   153.33deg,
    //   rgba(255, 255, 255, 0.25) 0%,
    //   rgba(255, 255, 255, 0) 24.43%,
    //   rgba(255, 255, 255, 0.01) 79.12%,
    //   rgba(255, 255, 255, 0.05) 100%
    // );
    // mask: linear-gradient(black, black) center / 100% 100% no-repeat exclude,
    //   radial-gradient(circle 16px at 17px 17px, black 99%, transparent),
    //   radial-gradient(circle 16px at 17px calc(100% - 17px), black 99%, transparent),
    //   radial-gradient(circle 16px at calc(100% - 17px) 17px, black 99%, transparent),
    //   radial-gradient(circle 16px at calc(100% - 17px) calc(100% - 17px), black 99%, transparent),
    //   linear-gradient(black, black) center / calc(100% - 2px) calc(100% - 26px) no-repeat,
    //   linear-gradient(black, black) center / calc(100% - 26px) calc(100% - 2px) no-repeat;
  }

  // Override for ToDesktop styling (disable mask property)
  html.todesktop &:before {
    background-image: none;
    mask: none;
  }
}

@mixin glass-inner {
  border-radius: 16px;
  overflow: hidden;
  background: radial-gradient(273.54% 141.42% at 0% 0%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%),
    rgba(10, 10, 10, 0.5);
}

$flat-thick-color: rgb(10, 10, 10, 0.75);

// "flat" style mixin
@mixin flat-thick {
  background: $flat-thick-color;
  backdrop-filter: blur(64px);
}

@mixin flat-thin {
  background: rgba(10, 10, 10, 0.5);
  backdrop-filter: blur(64px);
}

@mixin glass-input-inset-default {
  background: rgba(167, 163, 163, 0.05);
  box-shadow: -2px -2px 4px 0px rgba(246, 244, 246, 0.05) inset, 2px 2px 4px -1px rgba(10, 10, 10, 0.4) inset;
}

@mixin glass-input-inset-active {
  background: rgba(163, 162, 163, 0.1);
  box-shadow: -2px -2px 4px 0px rgba(246, 244, 246, 0.05) inset, 2px 2px 4px -1px rgba(10, 10, 10, 0.4) inset;
}

// D/Glass/Materials/Raised
@mixin glass-materials-raised {
  background: linear-gradient(
      153.33deg,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 24.43%,
      rgba(255, 255, 255, 0.01) 79.12%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    linear-gradient(0deg, rgba(167, 163, 163, 0.05), rgba(167, 163, 163, 0.05));
}

$glass-separator-primary-color: rgba(215, 215, 250, 0.03);
$glass-separator-secondary-color: rgba(163, 162, 163, 0.15);

// L/Glass/Separator/Primary
@mixin glass-separator-primary {
  // Note: not sure where this color came from. It does not match the
  // separator-primary that is shown on the settings menu
  background: rgba(13, 2, 24, 0.09);
}

// D/Glass/Ui/Shadow Low
@mixin glass-shadow-low {
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25), 1px 1px 1px 0px rgba(0, 0, 0, 0.21),
    2px 2px 2px 0px rgba(0, 0, 0, 0.13), 4px 4px 2px 0px rgba(0, 0, 0, 0.04), 6px 6px 2px 0px rgba(0, 0, 0, 0);
}

@mixin glass-state-active-stroke {
  border-bottom: 1px solid rgba(163, 162, 163, 0.1);
}

@mixin glass-state-active-stroke-top {
  border-top: 1px solid rgba(163, 162, 163, 0.1);
}

$glass-highlight-color: rgba(1, 244, 203, 1);
$glass-state-default-color: rgba(167, 163, 163, 0.05);

// Because the messages in the conversation have to go under the gradient we
// can't apply this to just the main background. Provide a mixin so all components
// can apply the same gradient.
@mixin main-background {
  // @note 05 August 2024
  // This has been commented out as it was difficult to consistently
  // apply the gradient to all sections of the UI.
  // See: ZOS-169

  // background: linear-gradient(
  //   rgba(0, 0, 0, 0.75) 0%,
  //   rgba(0, 0, 0, 0.492172) 22px,
  //   rgba(0, 0, 0, 0) 64px,

  //   rgba(0, 0, 0, 0) calc(100% - 64px),
  //   rgba(0, 0, 0, 0.492172) calc(100% - 22px),
  //   rgba(0, 0, 0, 0.75) 100%
  // );
}
