@use 'modules/animation' as animation;

$left-content-space: 32px;
$width-world-navigation: 56px;
$width-platform-navigation: 224px;
$width-collapsed-platform-navigation: 54px;
$width-application-navigation: 224px;

/*
For when we do add networks:-
+ $width-navigation: calc($width-platform-navigation + $width-world-navigation);
+ $width-collapsed-navigation: calc($width-world-navigation + $width-collapsed-platform-navigation);
*/
$width-navigation: $width-platform-navigation;
$width-collapsed-navigation: $width-collapsed-platform-navigation;
$width-application-content: 736px;
$width-sidekick: 260px;
$height-main: 65px;

$breakpoint-collapse-menu: 1294px;

@mixin root-layout-vars {
  --layout-transition-easing-function: ease-in;
  --layout-app-content-right-padding: 64px;
  --sidekick-transition-easing-function: ease-out;

  &.context-panel-open {
    --layout-transition-easing-function: ease-out;
  }

  &.sidekick-panel-open {
    --sidekick-transition-easing-function: ease-in;
  }
}

@mixin layout-transition($first-prop, $second-prop: null) {
  @if $second-prop {
    transition: $first-prop animation.$animation-duration-double var(--layout-transition-easing-function),
      $second-prop animation.$animation-duration-double var(--layout-transition-easing-function);
  } @else {
    transition: $first-prop animation.$animation-duration-double var(--layout-transition-easing-function);
  }
}

@mixin layout-sidekick-transition($first-prop) {
  transition: $first-prop animation.$animation-duration-double var(--sidekick-transition-easing-function);
}

@mixin for-left-collapse {
  @media (max-width: $breakpoint-collapse-menu) {
    @content;
  }
}

/*
 * requires 3 div children, second div
 * will remain centered
 */
@mixin distribute-evenly {
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    display: flex;
    flex: 1;
    width: 100%;
  }

  > div:nth-child(2) {
    margin-top: auto;
    margin-bottom: auto;
  }

  > div:first-of-type {
    align-items: flex-start;
  }

  > div:last-of-type {
    align-items: flex-end;
  }
}
