@use 'modules/animation' as animation;

$left-content-space: 32px;
$width-world-navigation: 56px;
$width-platform-navigation: 224px;
$width-collapsed-platform-navigation: 54px;
$width-application-navigation: 224px;

$width-navigation: calc($width-platform-navigation + $width-world-navigation);
$width-collapsed-navigation: calc($width-world-navigation + $width-collapsed-platform-navigation);
$width-application-content: 736px;
$width-sidekick: 117px;
$height-main: 65px;

$breakpoint-collapse-menu: 1294px;

@mixin root-layout-vars {
  --layout-transition-easing-function: ease-in;

  &.context-panel-open {
    --layout-transition-easing-function: ease-out;
  }
}

@mixin layout-transition($first-prop, $second-prop: null) {
  @if $second-prop {
    transition: $first-prop animation.$animation-duration-double var(--layout-transition-easing-function),
      $second-prop animation.$animation-duration-double var(--layout-transition-easing-function);
  } @else {
    transition: $first-prop animation.$animation-duration-double var(--layout-transition-easing-function);
  }
}

@mixin for-left-collapse {
  @media (max-width: $breakpoint-collapse-menu) {
    @content;
  }
}
