@use 'modules/font' as fonts;
@use 'modules/animation' as animation;
@use 'shared-components/theme-engine/theme' as theme;

@import-normalize;

@import 'variables';

body {
  margin: 0;
  font-family: fonts.$font-family, 'Helvetica Neue Ultra Light', Helvetica, Arial, 'Lucida Grande', 'sans-serif';
  color: theme.$font-color-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: theme.$platform-background;
  transition: color animation.$animation-duration-double ease-out;

  --box-radius: 16px;
  --animation-time-medium: 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

A {
  text-decoration: none;
}

A, BUTTON {
  color: inherit;
}

.container {
  display: flex;

  &__left-sidebar {
    display: flex;
    
    flex: 0 0 $width-world-navigation;

    margin-right: $left-content-space;

    @include for-screen-large() {
      justify-content: space-between;
    }
  }

  &__network, &__navigation-platform {
    flex: 0 0 $width-application-navigation;
  }

  &__content {
    flex: 1 0 $width-application-content;

    display: flex;
    justify-content: center;
  }

  &__sidekick {
    flex-basis: $width-sidekick;

    align-items: center;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    background-color: theme.$background-color-sidekick;
    padding-right: 16px;
  }
}


#root {
  transition: background animation.$animation-duration-double ease-out;
}

.border-primary {
  border: 1px solid var(--dialog-border-color);
  border-collapse: separate;
  box-shadow: 0 0 16px 0 var(--dialog-drop-shadow-color);
}

hr.glow {
  position: relative;
  height: 1px;
  border: none;
  background-color: var(--glow-background-color);
}

hr.glow:after {
  right: 0;
}

hr.glow:after, hr.glow:before {
  content: ' ';
  position: absolute;
  top: 0;
  height: 1px;
  width: 8px;
  background-color: var(--glow-transition-background-color);
}

.glow-text {
  text-shadow: 0 0 10px var(--glow-text-color);
}

.app-sandbox {
  &__left-sidebar {
    position: fixed;
    flex: 0 0 220px;
  }

  &__navigation-platform {
    width: 200px;
    border-right: 1px solid theme.$primary-border-color;

    @include for-left-collapse() {
      width: 54px;
    }
  }

  &__navigation-content {
    position: sticky;
    top: 0;

    padding-left: 18px;
  }
}
