@use '~@zero-tech/zui/styles/theme' as theme;

.main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  align-items: center;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    radial-gradient(66.52% 66.52% at 0% 0%, #26072d 0%, rgba(38, 7, 45, 0) 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(93.63% 93.63% at 100% 0%, #9d0097 0%, rgba(157, 0, 151, 0) 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(91.27% 91.27% at 112.3% 83.55%, #52a9ff 0%, rgba(82, 169, 255, 0) 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(65.88% 65.88% at -1.79% 99.21%, #4f0895 0%, rgba(79, 8, 149, 0) 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #290634;

  //background-color: white;

  &__logo {
    position: absolute;
    left: 42%;
    right: 42%;
    top: 11.64%;
    bottom: 13.03%;
  }

  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 0px;
    margin-bottom: 21px;
    margin-top: 90px;

    text-align: center;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
    color: theme.$color-greyscale-12;
  }

  &__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: theme.$color-greyscale-11;
    line-height: 0px;
    margin-bottom: 28px;
  }

  &__input {
    width: 284px;
    height: 40px;

    background: theme.$color-greyscale-transparency-3;
    border: theme.$color-greyscale-7;
    margin-top: 8px;
  }

  &__button {
    padding: 0px 16px;
    gap: 8px;
    isolation: isolate;

    width: 280px;
    height: 40px;

    border-radius: 100px;
    margin-top: 20px;
  }

  &__subtext1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 6px;

    line-height: 80px;
    white-space: nowrap;

    &__text1 {
      width: 162px;
      height: 24px;
      color: theme.$color-greyscale-11;
    }

    &__text2 {
      width: 272px;
      height: 24px;
      color: theme.$color-greyscale-12;
    }
  }

  &__subtext2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 190px;
    height: 24px;
    white-space: nowrap;
    line-height: 20px;

    &__text1 {
      width: 162px;
      color: theme.$color-greyscale-11;
    }

    &__text2 {
      width: 272px;
      color: theme.$color-greyscale-12;
    }
  }
}
