.main {
}

.main__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding-top: 10px;
}

.main__title {
  display: inline-block;
  font-size: 40px;
  padding: 10px 0 20px 10px;
}
