@use '../node_modules/@zer0-os/zos-theme-engine/dist/theme' as theme;
@use 'modules/animation' as animation;

@import './scss/tailwind.scss';

body {
  background: theme.$platform-background;
  transition: background animation.$animation-duration-double ease-out;
}

.main {
  background: var(--background-color-secondary);
  box-shadow: 0px 4px 8px var(--actionable-active-background);
}
