@use 'shared-components/theme-engine/theme' as theme;
@use '~@zero-tech/zui/styles/theme' as theme-zui;
@use 'modules/animation' as animation;

@import 'variables';
@import 'layout';

$world-padding: 12px;
$platform-padding: 8px;

$border-color: theme-zui.$color-primary-4;
$border-color-hover: theme-zui.$color-primary-7;

@mixin menu-small {
  box-sizing: border-box;
  padding: $world-padding;
  width: $width-world-navigation;
  border-right: 1px solid $border-color;
}

.main {
  @include root-layout-vars;

  display: flex;
  justify-content: start;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;

  pointer-events: none;

  &__navigation-world {
    @include distribute-evenly();
    @include menu-small();
  }

  &.has-context-panel.context-panel-open &__header {
    left: calc($width-navigation + $width-application-navigation);

    @include for-left-collapse() {
      left: calc($width-collapsed-navigation + $width-application-navigation);
    }
  }

  &.sidekick-panel-open &__header {
    right: $width-sidekick;
  }

  &__view-mode-toggle {
    &:hover {
      background-color: theme.$background-color-app-panel-hover;
      border-radius: 9999px;
      transition-duration: var(--animation-time-medium);
    }

    .icon-button__icon {
      vertical-align: middle;
    }
  }
}

@keyframes sidekick-slide-in {
  0% {
    right: 0;
  }

  100% {
    right: $width-sidekick;
  }
}

@keyframes sidekick-slide-out {
  0% {
    right: $width-sidekick;
  }

  100% {
    right: 0;
  }
}
