@use 'shared-components/theme-engine/theme' as theme;
@use '~@zero-tech/zui/styles/theme' as theme-zui;
@use 'modules/animation' as animation;

@import 'variables';
@import 'layout';

$world-padding: 12px;
$platform-padding: 8px;

$border-color: theme-zui.$color-primary-4;
$border-color-hover: theme-zui.$color-primary-7;

@mixin menu-small {
  box-sizing: border-box;
  padding: $world-padding;
  width: $width-world-navigation;
  border-right: 1px solid $border-color;
}

.main {
  @include root-layout-vars;

  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;

  pointer-events: none;

  &.messenger-full-screen {
    justify-content: start;
  }

  &__navigation {
    box-sizing: border-box;
    display: flex;
    pointer-events: auto;
    position: relative;
    background-color: theme-zui.$color-primary-2;
  }

  &__navigation-world {
    @include distribute-evenly();
    @include menu-small();
  }

  &__navigation-platform {
    @include distribute-evenly();
    @include layout-transition(width);

    box-sizing: border-box;
    width: $width-platform-navigation;
    border-right: 1px solid $border-color;
    padding: $platform-padding;

    @include for-left-collapse() {
      @include menu-small();
      padding: $world-padding 8px;
    }
  }

  &__network {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    padding-top: calc(12px - $platform-padding);
    padding-left: calc(16px - $platform-padding);

    @include for-left-collapse() {
      padding: 0;
    }

    > span {
      font-size: 14px;
      font-weight: bold;
      color: theme-zui.$color-primary-12;

      @include for-left-collapse() {
        display: none;
      }
    }

    > &__logo {
      height: 40px;
      width: 40px;

      object-fit: contain;
      border-radius: 100%;
    }
  }

  &.has-context-panel.context-panel-open &__header {
    left: calc($width-navigation + $width-application-navigation);

    @include for-left-collapse() {
      left: calc($width-collapsed-navigation + $width-application-navigation);
    }
  }

  &.sidekick-panel-open &__header {
    right: $width-sidekick;
  }

  &__header {
    position: absolute;
    top: $platform-padding;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    padding: 0 16px;

    @include layout-transition(left);
    @include layout-sidekick-transition(right);

    left: $width-navigation;
    right: 0;

    @include for-left-collapse() {
      left: $width-collapsed-navigation;
    }
  }

  &__address-bar-wrapper {
    height: 48px;
    display: flex;
    justify-content: center;
    flex: 1 0;
  }

  &__address-bar {
    pointer-events: auto;
    width: 100%;
  }

  &__wallet-manager-wrapper {
    height: 48px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wallet-manager {
    padding: 3px; // Align top with inner address bar border
    pointer-events: auto;

    .eth-address {
      flex: 0 0 auto;
      display: flex;
      min-height: 32px;
      align-items: center;
    }
  }

  &__view-mode-toggle {
    &:hover {
      background-color: theme.$background-color-app-panel-hover;
      border-radius: 9999px;
      transition-duration: var(--animation-time-medium);
    }

    .icon-button__icon {
      vertical-align: middle;
    }
  }
}

@keyframes sidekick-slide-in {
  0% {
    right: 0;
  }

  100% {
    right: $width-sidekick;
  }
}

@keyframes sidekick-slide-out {
  0% {
    right: $width-sidekick;
  }

  100% {
    right: 0;
  }
}
