.main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.main__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding-top: 10px;

  display: flex;
  align-items: center;
}

.main__title {
  display: inline-block;
  font-size: 40px;
  padding-left: 10px;
}

.main__address-bar {
  margin-left: 100px;
}
