@use 'shared-components/theme-engine/theme' as theme;
@use 'modules/animation' as animation;

@import 'variables';

.main {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;

  pointer-events: none;

  &__navigation {
    box-sizing: border-box;
    display: flex;
    pointer-events: auto;
    position: relative;
  }

  &__navigation-world {
    padding-top: 10px;
    width: $width-world-navigation;
    border-right: 1px solid theme.$primary-border-color;
    background-color: theme.$background-color-world-navigation;
  }

  &__navigation-platform {
    box-sizing: border-box;
    width: $width-platform-navigation;
    border-right: 1px solid theme.$primary-border-color;
    padding: 10px 3px 0 15px;
    background-color: theme.$background-color-platform-navigation;

    @include for-left-collapse() {
      width: 54px;
      padding-left: 5px;
    }
  }

  &.has-context-panel.is-context-panel-open &__header {
    left: calc($width-navigation + $width-application-navigation);
    transition: left animation.$animation-duration-double ease-out;

    @include for-left-collapse() {
      left: calc($width-collapsed-navigation + $width-application-navigation);
    }
  }

  &__header {
    position: absolute;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;

    transition: left animation.$animation-duration-double ease-in;
    left: $width-navigation;
    right: 0;
    height: 72px;

    @include for-left-collapse() {
      left: $width-collapsed-navigation;
    }
  }

  &__address-bar-wrapper {
    display: flex;
    justify-content: center;
    flex: 1 0;
    padding: 0 64px;
  }

  &__address-bar {
    pointer-events: auto;
    width: 100%;
  }

  &__wallet-manager-wrapper {
    flex: 0 0 auto;
    width: $width-sidekick;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__wallet-manager {
    margin-bottom: 8px;
    pointer-events: auto;
  }

  &__sidekick {
    padding: 12px 16px 0 0;
    box-sizing: border-box;

    pointer-events: auto;
    width: $width-sidekick;

    display: flex;
    justify-content: flex-end;
  }

  &__logo {
    margin-left: 2px;
    margin-top: 7px;
  }

  &__view-mode-toggle {
    padding: 0;
    position: fixed;
    bottom: 16px;
    left: 16px;
  }
}
