@use 'shared-components/theme-engine/theme' as theme;
@use 'modules/animation' as animation;

@import 'variables';

.main {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;

  pointer-events: none;

  &__navigation {
    box-sizing: border-box;
    display: flex;
    pointer-events: auto;
    position: relative;
  }

  &__navigation-world {
    padding-top: 10px;
    width: $width-world-navigation;
    border-right: 1px solid theme.$primary-border-color;
  }

  &__navigation-platform {
    box-sizing: border-box;
    width: $width-platform-navigation;
    border-right: 1px solid theme.$primary-border-color;
    padding: 10px 3px 0 15px;

    @include for-left-collapse() {
      width: 54px;
      padding-left: 5px;
    }
  }

  &__header {
    padding-top: 8px;
    width: 100%;
  }

  &__address-bar {
    pointer-events: auto;
    width: 100%;
    max-width: 752px;
  }

  &__sidekick {
    padding: 12px 16px 0 0;
    box-sizing: border-box;

    pointer-events: auto;
    width: $width-sidekick;

    display: flex;
    justify-content: flex-end;
  }

  &__logo {
    margin-left: 2px;
    margin-top: 7px;
  }

  &__view-mode-toggle {
    padding: 0;
    position: fixed;
    bottom: 16px;
    left: 16px;
  }
}
