.Main {
  text-align: center;
}

.Main-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Main-logo {
    animation: Main-logo-float infinite 3s ease-in-out;
  }
}

.Main-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Main-link {
  color: rgb(112, 76, 182);
}

@keyframes Main-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
