@use 'shared-components/theme-engine/theme' as theme;
@use 'modules/animation' as animation;

@import 'variables';

.main {
  display: flex;
  flex-direction: row;
  align-items: center;

  pointer-events: auto;
}

.main__address-bar {
  min-width: $width-application-content;
}

.app-main {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}