@import './background';

.reset-password-main {
  @include root-background;

  display: flex;
  flex-direction: column;
  padding: 24px 0;
  box-sizing: border-box;

  justify-content: space-between;
  align-content: flex-start;
  align-items: center;

  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;

  > * {
    flex-shrink: 0;
  }

  &__logo-container {
    padding-left: 8px;
    mix-blend-mode: screen;
  }
}
