@use '~@zero-tech/zui/styles/theme' as theme;

.reset-password-main {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  box-sizing: border-box;

  justify-content: space-between;
  align-content: flex-start;
  align-items: center;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    radial-gradient(66.52% 66.52% at 0% 0%, #26072d 0%, rgba(38, 7, 45, 0) 100%),
    radial-gradient(93.63% 93.63% at 100% 0%, #9d0097 0%, rgba(157, 0, 151, 0) 100%),
    radial-gradient(91.27% 91.27% at 112.3% 83.55%, #52a9ff 0%, rgba(82, 169, 255, 0) 100%),
    radial-gradient(65.88% 65.88% at -1.79% 99.21%, #4f0895 0%, rgba(79, 8, 149, 0) 100%), #290634;

  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;

  > * {
    flex-shrink: 0;
  }

  &__logo-container {
    padding-left: 8px;
    mix-blend-mode: screen;
  }
}
