@use '~@zero-tech/zui/styles/theme' as theme;
@import './background';
@import './glass';

.restricted {
  @include root-background;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;

  &__logo-container {
    mix-blend-mode: screen;
  }

  &__text-container {
    @include glass-text-primary-color;

    padding: 0 16px;
    margin: 0;

    font-size: 14px;
    text-align: center;
  }

  &__link {
    color: theme.$color-secondary-11;
  }
}
