@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../variables';
@import '../../../../layout';
@import '../../../../glass';
@import '../../../../functions';

@keyframes conversation-slide-in {
  0% {
    right: 0;
  }

  100% {
    right: $width-sidekick;
  }
}

$side-padding: 16px;

.messages-list {
  &__tab-list {
    display: flex;
    justify-content: center;
    gap: 4px;
  }

  &__tab {
    position: relative;
    box-sizing: border-box;
    padding: 8px 16px;
    border: 1px solid transparent;

    @include glass-text-secondary-color;
    font-size: 12px;
    font-weight: 400;

    &:hover {
      @include glass-text-primary-color;
      cursor: pointer;
    }

    &--active {
      @include glass-text-primary-color;
      border-radius: 9999px;
      border: 1px solid $glass-separator-secondary-color;

      &:hover {
        cursor: auto;
      }

      .messages-list__tab-badge {
        display: none;
      }
    }
  }

  &__tab-badge {
    position: absolute;
    right: -2px;
    top: -2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 16px;
    min-width: 16px;
    padding: 2px 4px;

    border-radius: 9999px;
    @include glass-materials-raised;
    color: $glass-highlight-color;
    @include glass-glow-highlight-small;

    font-family: 'Roboto Mono';
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 0.32px;
  }

  &__items {
    flex-grow: 1;
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 16px 0 16px;

    animation: conversation-slide-in 600ms ease-in forwards;

    &-actions {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 0 $side-padding;
    }

    &-conversations-search {
      flex: 1;

      // @note: this is here because parent size calculations with flex 1
      // are a little funky with zUI input right now.
      input {
        width: 0;
      }
    }
  }

  &__item-list {
    flex-grow: 1;
    // Forcing a height here allows the flex-grow to fill the size without growing too big
    height: 1px;
    // accounts for 4px scrollbar width on right side of container
    padding: 0 12px 0 16px;
  }

  &__empty {
    padding: 8px;
    color: theme.$color-greyscale-11;
    font-size: $font-size-medium;
    line-height: 17px;
    word-break: break-word;
    text-align: center;

    &-top-padding {
      padding-top: 32px;
    }
  }

  &__favorites-preview {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 16px;

    color: theme.$color-greyscale-11;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    align-items: center;
    text-align: center;
  }

  &__favorites-preview-image {
    width: 200px;
    height: 89px;
    background: url(cloudAsset('FavoritePreview.png'));
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.messages-list__invite-button {
  margin: 0px 16px;
  stroke-width: 2px; // make startEnhancer bold
}
