@use '../../shared-components/theme-engine/theme' as theme;
@use '~@zero-tech/zui/styles/theme' as theme-zui;
@import '../../layout';

@mixin selected {
  font-weight: 600;
  color: theme-zui.$color-primary-12;
}

.app-menu {
  font-size: 20px;
  user-select: none;

  :link {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    list-style-type: none;
    vertical-align: center;
  }

  img {
    width: 22px;
    height: 22px;
    vertical-align: middle;
  }

  &__app_image {
    background: yellow;
  }

  &__app {
    display: flex;
    height: 48px;
    line-height: 48px;
    min-width: 48px;
    margin-bottom: 10px;

    @include for-left-collapse() {
      min-width: 40px;
      height: 40px;
    }

    color: theme-zui.$color-primary-transparency-11;

    &.selected {
      @include selected();
    }

    img {
      fill: red !important;
    }

    a {
      width: 100%;
      display: inline-block;
      padding-left: 14px;
      padding-right: 25px;
      transition-duration: var(--animation-time-medium);
      align-items: center;
      justify-content: flex-start;
      border-radius: 16px;

      @include for-left-collapse() {
        padding: 0;
        width: 95%;
        justify-content: center;

        & img {
          padding-right: 0;
        }
      }

      &:hover {
        background-color: theme-zui.$color-primary-4;
      }

      &:active {
        @include selected();
      }
    }

    &-name {
      @include for-left-collapse() {
        display: none;
      }
    }
  }
}
