@use '../../shared-components/theme-engine/theme' as theme;
@import '../../layout';

.app-menu {
  font-size: 20px;
  color: theme.$font-color-app-menu;

  :link {
    display: flex;
    align-items: center;
    color: theme.$font-color-app-menu;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    vertical-align: center;
  }

  img {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    padding-right: 14px;

    filter: theme.$icon-color-filter;
  }

  &__app {
    display: flex;
    height: 48px;
    line-height: 48px;
    margin-bottom: 10px;

    &.selected {
      font-weight: 600;

      :link {
        color: var(--font-color-app-menu-active);
      }
    }

    a {
      display: inline-block;
      padding-left: 14px;
      padding-right: 25px;
      transition-duration: var(--animation-time-medium);
      align-items: center;
      justify-content: center;
      border-radius: 9999px;

      @include for-left-collapse() {
        padding: 0;
        width: 95%;

        & img {
          padding-right: 0;
        }
      }

      &:hover {
        background-color: theme.$background-color-app-panel-hover;
      }
    }

    &-name {
      @include for-left-collapse() {
        display: none;
      }
    }
  }
}
