@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../glass';

.admin-message {
  display: flex;
  justify-content: center;
  margin: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  @include glass-text-primary-color;

  &__message {
    text-align: center;
    border-radius: 16px;
    padding: 8px 24px;
    @include glass-text-primary-color;
    @include flat-thin;
    backdrop-filter: blur(32px);
  }
}
