@use '~@zero-tech/zui/styles/theme' as theme;
@use '../../../modules/animation' as animation;

@import '../../../glass';

@keyframes fade-background-in {
  from {
    background-color: rgba(0, 0, 0, 0);
  }

  to {
    background-color: #c9fd51;
  }
}

@mixin tag-highlight() {
  mark,
  strong {
    background-color: theme.$color-primary-7 !important;
    animation: fade-background-in 200ms ease-in forwards;
    border-radius: 4px;
  }

  mark {
    padding: 3px;
    border-radius: 5px;
  }
}

.mentions {
  &__mentions-text-area {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;

    &__wrap {
      &__suggestions {
        top: unset !important;
        bottom: 100%;
      }
    }
  }
  &__text-area-wrap {
    position: relative;
    overflow-y: visible;

    &__control {
      font-size: 16px;
      line-height: 23px;
    }

    &__highlighter {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      color: transparent;
      overflow: hidden;
      white-space: pre-wrap;
      background: transparent;
      overflow-wrap: break-word;
      border: none !important;
      text-align: start;

      &__substring {
        visibility: hidden;
        overflow-wrap: break-word;
        word-break: break-word;
      }

      @include tag-highlight;
    }

    textarea {
      color: theme.$color-greyscale-12;
      word-break: break-word;
      outline: none;
      border: none;
    }

    &__input {
      display: block;
      width: 100%;
      position: absolute;
      margin: 0px;
      top: 0px;
      left: 0px;
      box-sizing: border-box;
      background-color: transparent;
      font-family: inherit;
      font-size: inherit;
      letter-spacing: inherit;
      height: 100%;
      bottom: 0px;
      overflow: hidden;
      resize: none;
      border: none;
      padding: 0px;
    }

    &__suggestions {
      z-index: 1000 !important;
      background-color: theme.$color-primary-2 !important;

      animation: fadein animation.$animation-duration-double ease-in-out;

      border-radius: 8px;
      box-shadow: 4px 4px 10px 0px #040304;
      padding: 4px;

      &__list {
        padding: 4px !important;
        max-height: 200px;
        max-width: 350px;
        overflow-y: auto;
      }

      &__item {
        display: flex;
        padding: 8px;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        line-height: 14px;

        &--focused {
          background-color: theme.$color-primary-4;
        }

        &:hover {
          background-color: theme.$color-primary-4;
        }
      }

      &__item-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;

        @include glass-text-primary-color;
      }

      &__item-zid {
        font-size: 10px;
        font-weight: 400;
        display: flex;

        @include glass-text-tertiary-color;
      }
    }
  }
}
