.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 22px;
  flex: 1;
  padding: 0 var(--l-spacing);
  overflow-y: auto;
}

.chevronIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(-1 * var(--s-spacing)) 0;
  color: var(--text-secondary);
}

.tokenSelectorContent {
  display: flex;
  flex-direction: column;
  gap: var(--l-spacing);
  text-align: center;
}

.tokenSelectorContent p {
  margin: 0;
  color: var(--text-secondary);
  font-size: 14px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: var(--l-spacing);
  width: fit-content;
  align-self: center;
}

.errorText {
  color: var(--color-failure-11);
  font-size: 14px;
  text-align: center;
}
