@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../glass';
@import '../../animation';

.secure-backup {
  display: flex;
  flex-direction: column;

  gap: 40px;
  padding: 16px;
  width: 528px;

  &__video-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    overflow: hidden;
  }

  &__video {
    width: 100%;
    height: 148.9px;
    object-fit: cover;
    border-radius: 8px;
  }

  &__primary-text {
    @include glass-text-primary-color;

    margin: 0;
    line-height: 24px;
  }

  &__learn-more {
    display: flex;
    align-items: center;
    align-self: start;
    color: theme.$color-secondary-11;
    gap: 4px;
    margin-top: -32px;

    &:hover {
      cursor: pointer;
    }
  }

  &__back {
    @include glass-text-primary-color;
    display: flex;
    gap: 4px;
    font-weight: 600;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 16px;
  }

  &__secondary-text {
    @include glass-text-secondary-color;

    margin: 0;
    font-size: 14px;
    line-height: 20px;
  }

  &__status-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__status-container {
    display: flex;
    gap: 4px;
    align-self: stretch;

    &--success {
      align-items: center;
      color: theme.$color-secondary-11;
    }

    &--warning {
      color: theme.$color-warning-11;
    }
  }

  &__status-text {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }

  &__alert {
    font-size: 14px;
    line-height: 20px;
  }

  &__error-message {
    text-align: center;
    color: theme.$color-failure-11;

    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
  }

  &__success-message {
    text-align: center;
    color: theme.$color-secondary-11;

    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
  }

  &__recovery-key-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    gap: 16px;
  }

  &__recovery-key {
    @include glass-text-secondary-color;

    max-width: 206px;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: 8px;
  }

  &__animation-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    animation: fadein 200ms ease-out forwards;
  }
}
