@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../../variables';
@import '../../../../layout';

$side-padding: 16px;

.add-members-panel {
  &__selected-count {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-top: 18px;
    color: theme.$color-greyscale-11;
  }

  &__selected-number {
    color: theme.$color-greyscale-12;
  }

  &__content {
    flex-grow: 99;

    display: flex;
    flex-direction: column;
  }

  &__search {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__submit-button {
    align-self: center;
    margin: 12px 0;
  }

  &__error {
    display: flex;
    margin: 4px $side-padding;
    padding: 4px 8px;
    align-items: center;
    gap: 8px;

    border-radius: 8px;
    background: theme.$color-failure-4;

    color: theme.$color-error-transparency-11;
  }

  &__error-message {
    font-size: 14px;
    line-height: 20px;
  }
}
