@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../glass';

.content-highlighter {
  overflow: hidden;
  text-overflow: ellipsis;

  &__user-mention {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;

    color: theme.$color-secondary-11;

    &[data-variant='negative'] {
      font-size: 12px;
      font-weight: 400;
      padding: 0;
      margin: 0;
      border-radius: unset;
      border: unset;
      background-color: unset;
      color: theme.$color-greyscale-11;
    }
  }

  &__hidden-message-block {
    display: flex;
    gap: 4px;
  }

  &__hidden-message-text {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;

    @include glass-text-secondary-color;
  }
}

.text-message__link {
  text-decoration: underline;
}
