@use '~@zero-tech/zui/styles/theme' as theme;
@use '../../shared-components/theme-engine/theme' as themeDeprecated;

.content-highlighter {
  &__user-mention {
    background-color: themeDeprecated.$accent-color;
    color: black;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 0.8px;
    margin-top: 0.8px;
    display: inline-block;

    &[data-variant='negative'] {
      background-color: unset;
      color: theme.$color-greyscale-11;
      padding: 0;
      border-radius: unset;
      margin: 0;
    }
  }
}
