@use '~@zero-tech/zui/styles/theme' as theme;
@use '../../shared-components/theme-engine/theme' as themeDeprecated;

.message {
  display: flex;
  justify-content: flex-start;
  margin: 0px 0px;
  gap: 8px;
  overflow: hidden;
  width: 100%;

  &--owner {
    flex-direction: row-reverse;

    .message__block-body {
      transition: background-color 0.3s ease-out;
      position: relative;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin: 0 0 4px 0;

      &.chat-message__input-wrapper {
        background: none;

        &:before {
          background: none;
        }
      }
    }

    .message__block-reply-text {
      border-color: theme.$color-secondary-5;
    }

    .message__block {
      background-color: theme.$color-secondary-3;
      border-radius: var(--border-owner-radius); // set in message__message-row

      .message__author-name {
        display: none;
      }
    }

    .message__menu {
      transform: translateX(100%);
    }
  }

  &__block {
    background-color: theme.$color-primary-3;
    position: relative;
    padding: 8px;
    color: themeDeprecated.$card-text-color;
    overflow: hidden;
    z-index: 1;

    border-radius: var(--border-radius); // set in message__message-row

    &--fill {
      width: 100%;

      .message__block-image {
        // 5:4 aspect ratio
        overflow: hidden;
        height: 0;
        padding-bottom: 125%;

        img {
          position: absolute;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__block-body {
    display: block;
    white-space: pre-wrap;
    word-break: break-word;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: theme.$color-greyscale-12;
    margin: 8px 0px;
  }

  &__block-reply {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  &__block-reply-text {
    padding-left: 8px;
    border-left: 2px solid theme.$color-primary-5;
    flex-grow: 1;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  &__block-edited {
    padding-left: 7px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: themeDeprecated.$actionable-inactive-color;
  }

  &__block-preview {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    white-space: pre-wrap;
    word-break: break-word;
    font-size: 13.5px;
    font-weight: 500;
    vertical-align: baseline;
    position: relative;
    max-width: 85%;
  }

  &__block-image {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;

    img {
      display: block;
      margin: auto;
      max-width: 100%;
      border-radius: 8px;
    }
  }

  &__block-audio {
    audio {
      width: 100%;
    }
  }

  &__block-video {
    video {
      min-height: 186px;
      width: 100%;
      border-radius: 8px;
    }
  }

  &__footer {
    display: var(--message-footer-display);
    justify-content: flex-end;
    margin: 0px;
  }

  &__time {
    display: block;
    font-size: 12px;
    color: themeDeprecated.$font-color-time;
    text-align: right;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0px;
  }

  &__menu {
    align-self: center;
    transition: opacity 0s ease-in-out, transform 0.1s ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
  }

  .menu--open {
    transform: unset;
    opacity: 1;
  }

  &__left {
    width: 32px;
    align-self: flex-end;
  }

  &__author-avatar {
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
  }

  &__author-name {
    display: var(--message-author-name-display);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: theme.$color-greyscale-12;
  }

  &.messages__message--last-in-group {
    .message__author-avatar {
      display: block;
    }
  }

  .emoji-mart-emoji {
    height: 19px;
  }

  &__user-mention {
    background-color: themeDeprecated.$accent-color;
    color: black;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 0.8px;
    margin-top: 0.8px;
    display: inline-block;
  }
}
