.walletApp {
  height: 100%;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 8px !important;
}

.header {
  padding: var(--l-spacing);
  display: flex;
  flex-direction: column;
  gap: var(--l-spacing);
}

.actions {
  display: grid;
  gap: var(--l-spacing);
  grid-template-columns: 1fr 1fr;

  &.enableBridge {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.walletView {
  flex-grow: 2;
  overflow: hidden;
}
