.walletApp {
  height: 100%;
  padding: 0;
}

.header {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actions {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}
