name: run-lint
on:
  pull_request: {}
  push:
    branches:
      - fix-ci-cd

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  run-lint:
    runs-on: ubuntu-latest
    env:
      REACT_APP_INFURA_URL: ${{secrets.INFURA_URL}}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/common-setup

      - run: echo '//npm.pkg.github.com/:_authToken=${{secrets.GITHUB_TOKEN}}' >> .npmrc
      - run: npm install
      - name: Build project
        run: npm run lint
