.Header {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  padding: 0 12px;

  font-size: 14px;

  backdrop-filter: blur(64px);
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(52, 56, 60);
  border-top: none;

  box-sizing: border-box;
  z-index: 10;
}
