@use '~@zero-tech/zui/styles/theme' as theme;
@use '../../../modules/animation' as animation;
@use '../../../shared-components/theme-engine/theme' as themeDeprecated;
@import '../../../variables';
@import '../../../layout';

@keyframes conversation-slide-in {
  0% {
    right: 0;
  }
  100% {
    right: $width-sidekick;
  }
}

$side-padding: 16px;

.direct-message-members {
  flex-grow: 99;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;

  .messages-list {
    &__start {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      color: themeDeprecated.$font-color-primary;

      &-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
        path {
          color: theme.$color-primary-11;
        }
      }
      &-conversation {
        margin-top: 18px;
        font-weight: 700;
        color: theme.$color-secondary-11;
        cursor: pointer;
      }
    }

    &__items {
      flex-grow: 1;
      display: flex;
      gap: 24px;
      flex-direction: column;
      padding-bottom: 16px;

      animation: conversation-slide-in 600ms ease-in forwards;

      &-conversations-input {
        padding: 0px $side-padding;
      }
    }

    &__item-list {
      flex-grow: 1;
      // Forcing a height here allows the flex-grow to fill the size without growing too big
      height: 1px;

      overflow: auto;
      padding: 0px $side-padding;
    }

    &__empty {
      padding: 8px;
      color: theme.$color-greyscale-11;
      font-size: $font-size-medium;
      line-height: 17px;
    }
  }
}

.header-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  padding: 0px $side-padding;
  color: themeDeprecated.$font-color-primary;
  background-color: transparent;
  transition: background-color animation.$animation-duration ease-out;

  cursor: default;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icon {
    z-index: 30;
    &-plus {
      cursor: pointer;
      path {
        stroke: themeDeprecated.$actionable-active-color;
      }
    }
  }
}

.messenger-list {
  &__header {
    height: 32px;
    background-color: theme.$color-primary-3;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: flex-end;
    gap: 2px;
    align-items: center;
    padding-right: 13px;
  }

  &__icon-button {
    border-radius: 50%;
    padding: 2px;
    line-height: 0px;
    width: 24px;
    height: 24px;

    cursor: pointer;
    background: none;
    border: none;
    display: inline-block;
    margin: 0px;

    &:hover {
      color: theme.$color-error-transparency-11;
      background-color: theme.$color-primary-5;
    }

    & > * {
      margin: auto;
    }
  }
}

.messenger-panel {
  &__header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: theme.$color-greyscale-12;

    padding: 16px;
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      background-color: theme.$color-greyscale-transparency-3;
    }
  }
}

.create-conversation {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: initial;

  &__search {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  &__group-button {
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 8px;
    cursor: pointer;
  }

  &__group-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(223deg, #421349 14.62%, #0d0416 36.73%, #0b060e 59.58%, #2b0659 85.38%);
    border-radius: 9999px;

    & > * {
      margin: auto;
    }
  }
}

.start-group-panel {
  &__selected-count {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-top: 18px;
    color: theme.$color-greyscale-11;
  }

  &__selected-number {
    color: theme.$color-greyscale-12;
  }

  &__content {
    flex-grow: 99;

    display: flex;
    flex-direction: column;
  }

  &__search {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__continue {
    margin: 16px $side-padding;
  }
}

.group-details-panel {
  & > * {
    padding-right: $side-padding;
    padding-left: $side-padding;
  }

  &__details-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 8px; // 8px + PanelHeader padding-bottom: 16px for 24px gap.
  }

  &__selected-count {
    font-style: normal;
    font-weight: 400;
    font-size: $font-size-large;
    line-height: 24px;
    padding-top: 10px;
    color: theme.$color-greyscale-11;
  }

  &__selected-number {
    color: theme.$color-greyscale-12;
  }

  &__create {
    width: 100%;

    div {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__field-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__field-info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    line-height: 24px;
    margin-bottom: 12px;
    margin-top: 12px;

    &:first-child {
      margin-top: 0px;
    }
  }

  &__label {
    color: theme.$color-greyscale-12;
    font-weight: 400;
    font-size: 16px;
  }

  &__optional {
    color: theme.$color-greyscale-11;
    font-family: 'SF Pro Text';
    font-size: $font-size-small;
  }

  .group-details-panel__image-upload {
    font-size: $font-size-medium;
  }
}

.selected-user-tag {
  &__selected-option {
    display: inline-block;
  }

  &__selected-tag {
    color: theme.$color-greyscale-11;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;
    background-color: theme.$color-greyscale-3;
    border-radius: 8px;
    border: 1px solid theme.$color-greyscale-5;
    margin-top: 10px;
    margin-right: 10px;

    font-weight: 400;
    font-size: $font-size-small;
    line-height: 15px;
  }

  &__user-remove {
    cursor: pointer;
    background: none;
    border: none;
    display: inline-block;
    padding: 0px;
    margin: 0px;
  }
}

.conversation-item {
  display: flex;
  align-content: stretch;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  height: 56px;
  margin-bottom: 8px;
  padding: 0 8px;

  font-size: $font-size-small;
  line-height: 17px;

  color: theme.$color-greyscale-12;

  &:hover,
  &[data-variant='selected'] {
    background-color: theme.$color-primary-3;
    border-radius: 8px;
  }

  & > * {
    flex-shrink: 0;
  }

  &__summary {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
  }

  &__header {
    display: flex;
    align-items: baseline;
    width: 100%;
    margin-bottom: 7px;
    overflow: hidden;
  }

  &__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    font-size: $font-size-medium;

    &[data-variant='unread'] {
      font-weight: 700;
    }
  }

  &__timestamp {
    color: theme.$color-greyscale-11;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    white-space: nowrap;
  }

  &__message {
    color: theme.$color-greyscale-11;
    font-weight: 400;
    font-size: $font-size-small;
    line-height: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 1px;

    &[data-variant='unread'] {
      font-weight: 700;
      color: theme.$color-greyscale-12;

      div {
        font-weight: 700;
        color: theme.$color-greyscale-12;
      }
    }

    div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__unread-count {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: theme.$color-primary-8;
    color: theme.$color-primary-transparency-12;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 8px;
    font-weight: 700;
    line-height: 11px;
    margin-left: 3px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__group-icon {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(223deg, #421349 14.62%, #0d0416 36.73%, #0b060e 59.58%, #2b0659 85.38%);
    border-radius: 9999px;

    & > * {
      margin: auto;
    }
  }

  &__group-status {
    position: absolute;
    bottom: -0.125rem;
    right: -0.125rem;
    border: 0.125rem solid var(--color-primary-1);
  }
}

.user-search-results {
  display: flex;
  flex-direction: column;
  margin-top: 24px;

  &__title {
    padding: 8px;
    color: theme.$color-greyscale-11;
    font-size: $font-size-medium;
    line-height: 17px;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 8px;
    gap: 16px;
    cursor: pointer;

    &:hover {
      background-color: theme.$color-primary-3;
      border-radius: 8px;
    }
  }

  &__label {
    font-size: $font-size-medium;
    line-height: 17px;
    color: theme.$color-greyscale-12;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.messages-list__invite-button {
  margin: 0px 16px;
  stroke-width: 2px; // make startEnhancer bold
}

.highlighted-text {
  color: theme.$color-primary-11;
}
