@use '~@zero-tech/zui/styles/theme' as theme;
@use '../../../modules/animation' as animation;
@use '../../../shared-components/theme-engine/theme' as themeDeprecated;
@import '../../../variables';
@import '../../../layout';

@keyframes conversation-slide-in {
  0% {
    right: 0;
  }
  100% {
    right: $width-sidekick;
  }
}

$side-padding: 16px;

.direct-message-members {
  flex-grow: 99;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;

  .messages-list {
    &__start {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      color: themeDeprecated.$font-color-primary;
      margin-top: 40px;
      &-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
        path {
          color: theme.$color-primary-11;
        }
      }
      &-conversation {
        margin-top: 18px;
        font-weight: 700;
        color: theme.$color-secondary-11;
        cursor: pointer;
      }
    }
    &__items {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding-bottom: 16px;

      animation: conversation-slide-in 600ms ease-in forwards;

      &-conversations-input {
        margin-bottom: 18px;
        padding: 0px $side-padding;
      }
    }

    &__item-list {
      flex-grow: 1;
      // Forcing a height here allows the flex-grow to fill the size without growing too big
      height: 1px;

      overflow: auto;
      padding: 0px $side-padding;
    }
  }
}

.header-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  padding: 0px $side-padding;
  color: themeDeprecated.$font-color-primary;
  background-color: transparent;
  transition: background-color animation.$animation-duration ease-out;

  cursor: default;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icon {
    z-index: 30;
    &-plus {
      cursor: pointer;
      path {
        stroke: themeDeprecated.$actionable-active-color;
      }
    }
  }
}

.messenger-list {
  &__header {
    height: 32px;
    background-color: theme.$color-primary-3;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: flex-end;
    gap: 2px;
    align-items: center;
    padding-right: 13px;
  }

  &__icon-button {
    border-radius: 50%;
    padding: 2px;
    line-height: 0px;
    width: 24px;
    height: 24px;

    cursor: pointer;
    background: none;
    border: none;
    display: inline-block;
    margin: 0px;

    &:hover {
      color: theme.$color-error-transparency-11;
      background-color: theme.$color-primary-5;
    }

    & > * {
      margin: auto;
    }
  }

  &__rewards-bar {
    background-color: theme.$color-primary-3;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;

    height: 64px;

    &--with-avatar {
      justify-content: space-between;
    }
  }

  &__rewards-button {
    all: unset;
    cursor: pointer;
    outline: inherit;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 16px;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: theme.$color-primary-transparency-11;

    &:hover {
      font-weight: 700;
    }

    &--open {
      font-weight: 700;
      color: theme.$color-primary-11;

      .messenger-list__rewards-icon {
        background: radial-gradient(66.52% 66.52% at 0% 0%, #b900e3 0%, rgba(111, 25, 131, 0) 100%),
          radial-gradient(93.63% 93.63% at 100% 0%, #de1cd7 0%, rgba(232, 0, 223, 0) 100%),
          radial-gradient(99.71% 99.71% at 104.51% 75.11%, #71b8ff 0%, rgba(116, 186, 255, 0) 100%),
          radial-gradient(65.88% 65.88% at -1.79% 99.21%, #7d12e7 0%, rgba(162, 68, 255, 0) 100%), #290634;
      }
    }
  }

  &__rewards-icon {
    background-color: theme.$color-primary-4;
    height: 32px;
    width: 32px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: theme.$color-primary-12;
  }
}

.messenger-panel {
  &__header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: theme.$color-greyscale-12;

    padding: 16px;
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }
}

.create-conversation {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: initial;

  &__search {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  &__group-button {
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 8px;
    cursor: pointer;
  }

  &__group-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(223deg, #421349 14.62%, #0d0416 36.73%, #0b060e 59.58%, #2b0659 85.38%);
    border-radius: 9999px;

    & > * {
      margin: auto;
    }
  }
}

.start-group-panel {
  &__selected-count {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-top: 18px;
    color: theme.$color-greyscale-11;
  }

  &__selected-number {
    color: theme.$color-greyscale-12;
  }

  &__content {
    flex-grow: 99;

    display: flex;
    flex-direction: column;
  }

  &__search {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__continue {
    margin: 16px $side-padding;
  }
}

.group-details-panel {
  & > * {
    padding-right: $side-padding;
    padding-left: $side-padding;
  }

  &__selected-count {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-top: 18px;
    color: theme.$color-greyscale-11;
  }

  &__selected-number {
    color: theme.$color-greyscale-12;
  }

  &__create {
    width: 100%;
    margin: 16px 0px;
  }

  &__field-info {
    display: flex;
    align-content: stretch;
    line-height: 24px;
    margin-bottom: 12px;
    margin-top: 12px;

    &:first-child {
      margin-top: 0px;
    }
  }

  &__label {
    flex-grow: 1;

    color: theme.$color-greyscale-12;
    font-weight: 400;
    font-size: 16px;
  }

  &__optional {
    flex-grow: 0;
    flex-shrink: 0;

    color: theme.$color-greyscale-11;
    font-family: 'SF Pro Text';
    font-size: 12px;
  }

  .group-details-panel__image-upload {
    width: 100%;
  }
}

.selected-user-tag {
  &__selected-option {
    display: inline-block;
  }

  &__selected-tag {
    color: theme.$color-greyscale-11;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;
    background-color: theme.$color-greyscale-3;
    border-radius: 8px;
    border: 1px solid theme.$color-greyscale-5;
    margin-top: 10px;
    margin-right: 10px;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  &__user-remove {
    cursor: pointer;
    background: none;
    border: none;
    display: inline-block;
    padding: 0px;
    margin: 0px;
  }
}

.conversation-item {
  display: flex;
  align-content: stretch;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  height: 56px;
  width: 100%;
  margin: 24px 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: theme.$color-greyscale-12;

  & > * {
    flex-shrink: 0;
  }

  &__summary {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
  }

  &__header {
    overflow: hidden;
    display: flex;
    align-content: stretch;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 6px;
  }

  &__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    font-size: 14px;
    line-height: 150%;
  }

  &__timestamp {
    color: theme.$color-greyscale-11;
    font-size: 10px;
    line-height: 150%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__message {
    color: theme.$color-greyscale-11;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__unread-count {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: theme.$color-primary-8;
    color: theme.$color-primary-transparency-12;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    margin-left: 3px;
  }

  &__content {
    display: flex;
    align-content: stretch;
    width: 100%;
  }

  &__message {
    flex-grow: 1;
  }

  &__group-icon {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(223deg, #421349 14.62%, #0d0416 36.73%, #0b060e 59.58%, #2b0659 85.38%);
    border-radius: 9999px;

    & > * {
      margin: auto;
    }
  }

  &__group-status {
    position: absolute;
    bottom: -0.125rem;
    right: -0.125rem;
    border: 0.125rem solid var(--color-primary-1);
  }
}

.messages-list__invite-button {
  margin: 0px 16px;
}
