@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../functions';
@import '../../../glass';

$side-padding: 16px;

.direct-message-members {
  flex-grow: 99;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;

  /* Prevent text highlighting */
  user-select: none;
  /* Enable pointer events for click event */
  pointer-events: auto;

  &__footer-button {
    display: flex;
    align-self: center;
    margin-bottom: 16px;
  }
}

.highlighted-text {
  color: theme.$color-secondary-11;
}

.invite-toast-notification {
  padding: 64px;
}
