@use '../../../modules/animation' as animation;
@use '../../../shared-components/theme-engine/theme' as theme;
@import '../../../variables';
@import '../../../layout';

@keyframes conversation-slide-in {
  0% {
    right: 0;
  }
  100% {
    right: $width-sidekick;
  }
}

.direct-message-members {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  padding: 0 7px 0 10px;

  &__user {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: theme.$actionable-inactive-color;
    padding: 0 20px;
    height: 36px;

    &:hover {
      color: theme.$actionable-active-color;
      background-color: theme.$actionable-hover-background;
    }

    &-status {
      background-color: #474a4d;
      border-radius: 50%;
      width: 9px;
      height: 9px;
      text-align: center;
      position: relative;
      left: 2px;
      margin-right: 12px;

      &--active {
        background-color: #c9fd51;
      }
    }

    &-tooltip {
      max-width: 200px;
    }

    &-unread-count {
      background-color: theme.$accent-color;
      color: theme.$font-color-primary;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 12px;
      line-height: 21px;
      margin-left: 3px;
    }

    &-name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex: 1 1;
    }
  }

  .messages-list {
    &__start {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      color: theme.$font-color-primary;
      margin-top: 40px;
      &-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
      }
      &-conversation {
        margin-top: 18px;
        font-weight: 700;
        color: theme.$color-secondary-11;
        cursor: pointer;
      }
    }
    &__items {
      animation: conversation-slide-in 600ms ease-in forwards;
    }
  }
}

.header-button {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: theme.$font-color-primary;
  background-color: transparent;
  transition: background-color animation.$animation-duration ease-out;

  cursor: default;
  height: 40px;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  &__icon {
    z-index: 30;
    &-plus {
      cursor: pointer;
      &:hover {
        path {
          stroke: theme.$actionable-active-color;
        }
      }

      path {
        stroke: theme.$actionable-inactive-color;
      }
    }
  }
}

.start__chat {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: initial;

  &-title {
    width: 100%;
    display: flex;
    font-weight: 700;
    font-size: 16px;
    color: theme.$actionable-color;
    margin: 15px 0 20px 6px;
  }

  &-return {
    cursor: pointer;
    font-size: 20px;
    font-style: initial;
    margin-right: 5px;
    &::before {
      content: '\2190';
    }
  }

  &-body {
    width: 100%;
    text-align: center;
  }

  &-continue {
    font-weight: 700;
    font-size: 16px;
    margin-top: 30px;
    background: theme.$color-secondary-4 !important;
    box-shadow: none !important;
    cursor: pointer;
    font-weight: 600;
    .button__content {
      color: theme.$color-secondary-11 !important;
      text-shadow: none !important;
    }
    .button__wash {
      background-color: theme.$color-secondary-transparency-6 !important;
    }
    &::before {
      box-shadow: none !important;
    }
    &::after {
      border-left: 2px solid theme.$color-secondary-11 !important;
      border-right: 2px solid theme.$color-secondary-11 !important;
    }
  }
}
