@use '~@zero-tech/zui/styles/theme' as theme;
@import '../../../layout';
@import '../../../glass';

$side-padding: 16px;

.direct-message-members {
  flex-grow: 99;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;

  /* Prevent text highlighting */
  user-select: none;
  /* Enable pointer events for click event */
  pointer-events: auto;
}

.messenger-list {
  &__user-account-container {
    display: flex;
    align-items: center;
    padding: 16px;
    height: 32px;
    gap: 8px;
  }

  &__user-name {
    @include glass-text-primary-color;

    font-size: $font-size-small;
    font-weight: 600;
    line-height: 15px;
  }
}

.highlighted-text {
  color: theme.$color-primary-11;
}

.invite-toast-notification {
  padding: 64px;
}
